/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 5px;
  background-color: #f5f5f5;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  padding-right: 50px;
}


/* hide is defined in bootstrap.css. But we do not include bootstrap.css on weixin pages.
 * Bootstrap.css conflicts with jquery-weui.css on some definitions.
 */
.hide {
  display: none !important;
}
.line-clamp-20 {
  -webkit-line-clamp: 20!important;
}
.line-clamp-10 {
  -webkit-line-clamp: 10!important;
}

.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.normal-text {
  font-size: inherit !important;
  color: #333 !important;
}

.weui-media-box__desc_color {
	color: #999;
}
.font-size-11 {
  font-size: 11px;
}

.flex-container {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-align-bottom {
  align-items: flex-end;
}
.flex-width-1 {
  flex: 1;
}

/* indent for gzhClientCompany report items 
 * 2em means 2 times the current font-size
 */
.indent-1 {
  padding-left: 1em;
}
.indent-2 {
  padding-left: 2em;
}
.indent-3 {
  padding-left: 3em;
}
.indent-4 {
  padding-left: 4em;
}
.indent-5 {
  padding-left: 5em;
}
.indent-6 {
  padding-left: 6em;
}

.padding-left-2 {
  padding-left: 2px!important;
}
.padding-left-8 {
  padding-left: 8px!important;
}

.padding-left-15 {
  padding-left: 15px!important;
}

.padding-left-55 {
  padding-left: 55px!important;
}

.padding-right-2 {
  padding-right: 2px!important;
}

.padding-right-55 {
  padding-right: 55px!important;
}

.padding-bottom-5 {
  padding-bottom: 5px!important;
}

.border-padding-4 {
  padding: 4px;
}

.margin-tb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* add a bottom border to the last row of a stripped table */
.table.table-striped tr:last-child {
  border-bottom: 1px solid #ddd;
}

/* set the pager tb margin */
.pager-margin-tb-4 .pager {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

/* Setting for gzhClientCompany reports on phone and pads */


/* asset item name and equity item name (which is very long) on the report table header always take equal width of 40%.
 * If the 40% width can not be satisfied, the two columns will be shrunk but still have the same width.
 * The long equity item name on the table header is always wrapable.
 */
  .table-responsive.financial-report.asset-report .report-item-name {
    width: 40%;
  }
  .table-responsive.financial-report .table > thead > tr > th {
    padding: 4px;
    white-space: normal;
  }
  .table-responsive.financial-report .table > tbody > tr > td {
    padding: 4px;
    white-space: normal;
  }

@media screen and (max-width: 480px) {
  
  .income-report .indent-1 {
    padding-left: 12px;
  }
  .income-report .indent-2 {
    padding-left: 24px;
  }
  .income-report .indent-3 {
    padding-left: 24px;
  }
  .income-report .indent-4 {
    padding-left: 36px;
  }
  .income-report .indent-5 {
    padding-left: 48px;
  }
  .income-report .indent-6 {
    padding-left: 48px;
  }
  
  .cash-report .indent-1 {
    padding-left: 12px;
  }
  .cash-report .indent-2 {
    padding-left: 24px;
  }
  .cash-report .indent-3 {
    padding-left: 24px;
  }
  .cash-report .indent-4 {
    padding-left: 36px;
  }
  .cash-report .indent-5 {
    padding-left: 48px;
  }
  .cash-report .indent-6 {
    padding-left: 48px;
  }
  
}

/* iphone6 landscape width 667px 
 * iphone6 plus landscrape width 736px, still need line wrap on the equity name
 * Asset report has 8 columns, so set the font size to 12px even on iphone6 landscape
 */
@media screen and (max-width: 680px) {
  .table-responsive.financial-report{
    font-size: 12px;
  }
}

/* break point for left align of the long equity name table header
 * Over the break point, equity-item-name is center aligned.
 */
@media screen and (max-width: 1024px) {
  .table-responsive.financial-report .equity-item-name {
    text-align: left!important;
  }
}

/* break point to only show 4 columns of asset report */  
@media screen and (max-width: 480px) {
  .table-responsive.financial-report .report-item-can-hide {
    display: none;
  }
}

/* asset indent setting when only showing 4 columns of asset report */

/* Galaxy SIII, Galaxy Note 3 size 360x640 */
@media screen and (max-width: 360px) {
  .asset-report .indent-2 {
    padding-left: 12px;
  }
  .asset-report .indent-5 {
    padding-left: 36px;
  }
}

/* iphone 6 size 375x667 */
@media screen and (min-width: 361px) and (max-width: 480px) {
  .asset-report .indent-5 {
    padding-left: 48px;
  }
}


/* swiper img setup */
/* flex-start makes the items align top, otherwise the img takes the height of original img height */
.swiper-container.swiper-container-horizontal .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
 
.swiper-container.swiper-container-horizontal img {
  width: 100%; 
  height: auto; 
  object-fit: contain;
}

/* swiper cause the following grids to now show the bottom border of the last row of grid cells. 
 * Without swiper, the grids shows the bottom border of the last row of grid cells.
 * The following css fix the problem. Do not understand why swiper cause this problem.
 */
 .weui-grid:after {
  height: 2px;
 }
 
 /* Extend WEUI css */
 
.weui-media-box__title .weui-media-box__title__thumb {
  margin-right:.8em;
  width:60px;
  max-height:60px;
  text-align:center;
 }
 
 .flex-space-between{
  justify-content: space-between;
 }
 
 .flex-width-60 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
 }
 
 .small-font-grey {
   font-size: 12px;
   color: #999;
 }
 
 .border-top {
  border-top: 1px solid #e5e5e5;
 }
 
 .border-box {
  border: 1px solid #e7e7eb;
 }
 
 .button-before-cell-margin {
  margin-right: 15px;
  margin-bottom: 0.3em;
  margin-left: 15px;
 }
 
 .first-child-top-line:first-child:before {
   display: block!important;
 }
 
 .ws-pre-wrap {
  white-space: pre-wrap;
}
