/* Gzh menu edit */

.menu_preview_area {
    float: left;
    position: relative;
    width: 100%;
}

.mobile_menu_preview {
    position: relative;
    width: 317px;
    height: 580px;
    background: transparent url(/pub/images/gzh-menu/bg_mobile_head_default.png) no-repeat 0 0;
    background-position: 0 0;
    border: 1px solid #e7e7eb;
}

.mobile_hd {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0 30px;
}

.menu_preview_area ul{
    list-style-type: none;
    margin-bottom: 0px!important;
}

.sub_pre_menu_box ul {
    padding-left: 0;
}


.pre_menu_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e7e7eb;
    background: transparent url(/pub/images/gzh-menu/bg_mobile_foot_default.png) no-repeat 0 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 43px;
    height: 50px;
}

.pre_menu_item {
    position: relative;
    float: left;
    line-height: 50px;
    text-align: center;
}

.pre_menu_item.overflow_hidden {
    float: none;
    width: auto;
    overflow: hidden;
}

.pre_menu_item a {
    display: block;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #616161;
    text-decoration: none;
}

.pre_menu_link {
    border-left: 1px solid #e7e7eb;
}

.pre_menu_item:first-child .pre_menu_link {
    border-left-width: 0;
}

.pre_menu_item.current .pre_menu_link {
    border: 1px solid #44b549;
    line-height: 48px;
    background-color: #fff;
    color: #44b549;
}

.sub_pre_menu_list {
    border-top: 1px solid #d0d0d0;
}

.sub_pre_menu_list li {
    line-height: 44px;
    border: 1px solid transparent;
    margin: 0 -1px -1px;
}

.sub_pre_menu_list li a {
    padding: 0 .5em;
}

.sub_pre_menu_list li.current {
    background-color: #fff;
    border: 1px solid #44b549;
    position: relative;
    z-index: 1;
    line-height: 45px;
}

.sub_pre_menu_list li.current a {
    color: #44b549;
}

.sub_pre_menu_inner {
    display: block;
    border-top: 1px solid #e7e7eb;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    cursor: pointer;
}

.sub_pre_menu_list li:first-child .sub_pre_menu_inner {
    border-top-width: 0;
}

.sub_pre_menu_box {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    border: 1px solid #d0d0d0;
    border-top-width: 0;
    background-color: #fafafa;
}

.sub_pre_menu_box .arrow_out {
    bottom: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #d0d0d0;
    border-top-style: solid;
}

.sub_pre_menu_box .arrow_in {
    bottom: -5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #fafafa;
    border-top-style: solid;
}

.sub_pre_menu_box .arrow {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}

.icon14_menu_add {
    background: url(/pub/images/gzh-menu/plus_sign.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
}

.menu_form_background {
    padding: 0 20px 5px;
    background-color: #f0f1f5;
    border: 1px solid #e7e7eb;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.editor_arrow_wrp {
	  position: absolute;
    left: -12px;
    top: 545px;
}

.editor_arrow {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #e7e7eb;
    border-right-style: solid;
}

.editor_arrow_out {
    left: 0;
}

.editor_arrow_in {
    left: 1px;
    border-right-color: #f4f5f9;
}

.menu_form_hd {
    padding: 9px 0;
    border-bottom: 1px solid #e7e7eb;
}

.border_bottom {
    border-bottom: 1px solid #e7e7eb;
}

.frm_control_group {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.frm_label {
    float: left;
    width: 6em;
    margin-top: .3em;
    margin-right: 1em;
    font-size: 14px;
}

.frm_label_box {
	  float: left;
	  margin-top: .3em;
	  margin-bottom: .3em;
    margin-right: 1em;
    font-size: 14px;
    line-height: 26px;
}

.frm_controls {
    display: table-cell;
    vertical-align: top;
    float: none;
    width: auto;
}

.frm_tips, .frm_msg {
    padding-top: 4px;
    width: auto;
}

.frm_tips {
    color: #8d8d8d;
}

.frm_msg.fail {
    color: #e15f63;
}

.frm_vertical_pt {
    padding-top: .3em;
}

.frm_radio_label, .frm_checkbox_label {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    margin-right: 1em;
}

.menu_content {
    padding: 16px 20px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
}
