/*
 * Mobile browsers that support touch event bindings (eg, Webkit) also have to support click bindings on the same element, 
 * otherwise webpages built for the desktop would be completely useless on mobile browsers. 
 * So for every tap on a mobile web page a click is fired right along with it.
 *
 * On iOS the "click" event does not bubble up to the document with an exception of inputs and links, it stops right before the body.
 * Apply the CSS style cursor:pointer to the element that needs to bubble clicks (or a parent including document.documentElement).
 * Note however, this will disable copy\paste on the element and cause it to be highlighted when touched.
 *
 * Bootstrap.js register delegate events on document object with 
 *     $(document).on('click.bs.collapse.data-api', '[data-toggle="collapse"]', function (e) { ... }) on line 737
 * On iOS, the left side menu does not expand as the click event does to bubble up to document and the event handler is not invoked.
 * 
 * However, with metisMenu.js register click events on line 45, the click event can reach metisMenu.js and the the metisMenu event handler 
 * is invoked which cause the leftside menu to expand and collapse. 
 *
 * So with metisMenu.js, we do not need the following fix the make Bootstrap collapse work on the left side menu.
 *
 *   body {
 *     cursor: pointer;
 *   }
 *
 */

/* 
 * The following setups the sidemenu and content stretch to the full height of the browser viewport.
 * Also when the menu or content grows longer than the view port height, it still works.
 */
html, body {
  height: 100%;
}

#main-container {
  display:table;
  width: 100%;
  height: calc(100% - 30px);
}

#left-container, #right-container {
   display: table-cell;
   float: none;
}

.table-row{
  display: table-row;
}
.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}

/* End of sidemenu and content stretch to full height of the browser viewport */

/* Make columns of a row the same height using table-row defined above (or display: table is ok too) and table-cell */
.table-cell {
  float: none;
  display: table-cell;
  vertical-align: top;
}

body {
  padding-top: 50px;
  background-color: #f5f5f5;
}

.navbar {
  height: 50px !important
}

footer {
  background-color: #666888;
  height:30px;
  line-height: 30px;
  padding-right: 40px;
  margin-bottom: 0px;
  border-width: 1px 0 0;
  z-index: 1030;
}

footer .footer-right {
  float: right;
}

.float-left {
  float: left!important;
}

.float-right {
  float: right!important;
}

.vertical-middle {
  vertical-align: middle!important;
}

.take-remaining-space-after-float {
  float: none;
  overflow: hidden;
}

.containing-float {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-size-11 {
  font-size: 11px;
}

.flex-container {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-align-bottom {
  align-items: flex-end;
}
.flex-width-1 {
  flex: 1;
}

/* indent for gzhClientCompany report items 
 * 2em means 2 times the current font-size
 */

.indent-1 {
  padding-left: 1em;
}
.indent-2 {
  padding-left: 2em;
}
.indent-3 {
  padding-left: 3em;
}
.indent-4 {
  padding-left: 4em;
}
.indent-5 {
  padding-left: 5em;
}
.indent-6 {
  padding-left: 6em;
}

.background-azure {
  background-color: azure!important;
}
.background-grey {
  background-color: #f0f1f5!important;
}
.background-white {
  background-color: #fff!important;
}
.background-yellow {
  background: #fffa90;
}

.background-image-none {
  background-image: none !important;
}

.word-break-all {
  word-break: break-all;
}

/* add a bottom border to the last row of a stripped table */
.table.table-striped tr:last-child {
  border-bottom: 1px solid #ddd;
}

.noborder {
  border: 0px!important;
}

.nopadding {
  padding:0px!important;
}

.nopadding-left {
  padding-left: 0px!important
}
.nopadding-right {
  padding-right: 0px!important
}
.padding-left-2 {
  padding-left: 2px!important;
}
.padding-6-12 {
  padding: 6px 12px!important;
}
.padding-left-8 {
  padding-left: 8px!important;
}
.padding-left-15 {
  padding-left: 15px!important;
}
.padding-right-2 {
  padding-right: 2px!important;
}
.padding-right-15 {
  padding-right: 15px!important;
}
.padding-right-40 {
  padding-right: 40px!important;
}

.padding-8 {
  padding: 8px 8px 8px!important;
}

.padding-tb-8 {
  padding: 8px 0px 8px!important;
}

.padding-tb-8-left-30 {
  padding: 8px 0px 8px 30px!important;
}

.padding-top-10 {
  padding-top: 10px!important;
}

/* set the pager tb margin */
.pager-margin-tb-4 .pager {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.margin-lr-0 {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.margin-tb-0 {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.no-margin-top {
  margin-top: 0px!important;
}

.margin-top-8 {
  margin-top: 8px!important
}

.margin-top-15 {
  margin-top: 15px!important
}

.margin-top-40 {
  margin-top: 40px!important
}

.margin-top-60 {
  margin-top: 60px!important
}

.margin-top-minus-10 {
  margin-top: -10px!important
}

.margin-bottom-15 {
  margin-bottom: 15px!important
}

.margin-bottom-8 {
  margin-bottom: 8px!important
}

.no-margin-lr {
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.margin-bottom-1 {
  margin-bottom: 1px
}

.margin-left-15 {
  margin-left: 15px!important
}

.margin-left-minus-15 {
  margin-left: -15px!important
}

.margin-right-15 {
  margin-right: 15px!important
}

.glyphicon-white {
  color: #fff
}

.ws-pre-wrap {
  white-space: pre-wrap;
}

.li-margin-top li{
    margin-top: 15px;
}

.li-margin-top li:first-child {
    margin-top:0;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 4px 4px 4px 4px !important;
}


.border-box {
  border: 1px solid #e7e7eb;
}

.border-bottom {
  border-bottom: 1px solid #e7e7e7;
}

.border-padding-bottom-10 {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}

.border-padding {
  padding: 4px 32px 4px 8px;
}

.border-padding-4 {
  padding: 4px;
}

.border-padding-10 {
  padding: 10px;
}

/* fix the insert link modal layout in Summernote */
.form-horizontal .note-editor  .modal-dialog  .form-group {
  margin-left: 0px !important
}
.form-horizontal  .note-editor  .modal-dialog  input[type="checkbox"] {
  margin-left: -20px !important
}

/* fix the display of bootstrap fileinput error message */
.file-error-message{
  padding: 0px!important
}

.file-error-message ul {
  padding: 0px!important;
  list-style-type: none
}

/* override x-editable css */
.editable-click:hover, 
a.editable-click:hover, 
a.editable-click:hover {
    border: dashed 1px #0088cc !important;
}
.editable-click, 
a.editable-click, 
a.editable-click {
    background-color: #c5f5f5;
    border-bottom: none !important;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus{
    padding: 8px 0px 8px!important;
}

/* Add a white space so that the editable is clickable even if it is empty */
.editable-ws-before:before {
    content: ' '
}

.editable-input-width-180 {
    width: 180px!important;
}

.editable-input-width-360 {
    width: 360px!important;
}

.highlight-yes {
    background-color: #c9fbc9 !important; 
}

/* fix the width of bootstrap select button */
.bootstrap-select.btn-group {
    width: 100% !important;
}

/* fix the summernote resizing cause iframe to scroll issue */
/* make room for the note-statusbar */
.ui-resizable-handle {
   border-width: 0px 2px 2px 2px;
   border-style: inset;
   border-radius: 6px;
   border-bottom-style: ridge;
   background-color: #8aa5a3;
   position: absolute;
   height: 10px!important;
   bottom: 0px!important;
   
}

/* let note-statusbar on top of the resize handler of the containing div */
.note-statusbar {
   z-index: 100;
}
/* end of fix the summernote resizing cause iframe to scroll issue */

.text-underline {
  text-decoration: underline;
  text-underline-position: under;
}

.text-vertical-middle {
  vertical-align: middle !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h4-inline {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px!important;
}

/* z-index only takes effect on positioned elements. 
 * If not specified, z-index is auto, which means it inherit z-index from its parent.
 * html has z-index 0
 */
.top-right-absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.position-top-minus-10 {
  top: -10px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.z-index-100 {
  z-index: 100;
}

/* ul for import report message area */
.import-progress-message-ul {
  list-style: none;
  width: 100%; 
  max-height: 500px;
  overflow-y: scroll;
}

.import-success {
  background-color: #c9fbc9;
}

.import-fail {
  background-color: #f1cf9e;
}

.modal-content.ui-resizable {
  overflow: scroll;
}

/* fix the left-arrow and right-arrow in the x-editable date input type */
.icon-arrow-left::before {
  content: "<<";
}
.icon-arrow-right::after {
  content: ">>";
}

/* sidemenu css */
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar .nav-second-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

/*
 * right content
 */

.right-content {
  padding: 20px;
  background-color: #fff;
}


/* Screen size specific settings 
 * xs= 0-767 pixels
 * sm = 768-991 pixels
 * md = 992-1199 pixels
 * lg = 1200 pixels and up
 */

/* Extra small devices (phones, less than 480px) 
 * Note that the width of leftside is always 50% for extral small devices whether it is shown or hide.
 * Only the position changes depending on the active class.
 */
@media screen and (max-width: 480px) {
  .sidebar-offcanvas {
    position: absolute;
    left: -50%;
    top: 0;
    width: 50%;
    padding-left: 0px;
  }
  .sidebar-offcanvas.active {
    position: initial;
  }
  .sidebar .nav > li > a {
    padding-left: 0px;
  }
  .sidebar .nav.nav-second-level > li > a {
    padding-left: 15px;
  }
  
  /* set the width to 100% so that it takes all the space when the leftside menu is hidden. 
   * Otherwise, it only takes 75% as specified by col-xs-9.
   */
  #right-container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  
  #navbarRight {
    overflow:hidden;
  }
  
  #navbarCompanyNameTableRow {
    display: table-row;
    float: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  #navbarCompanyNameTableCell {
    display: table-cell;
    vertical-align: middle;
  }
  
  #main-container {
    height: calc(100% - 60px)
  }
  
  footer {
    height:60px;
    padding-right: 0px;
  }

  footer .footer-right {
    width: 100%;
    padding-right: 40px;
    border-top: 1px solid #e7e7eb;
  }
  
  * {
    word-break: break-all;
  }
}

/* When the browser screen is smaller than or equal to 767px */
/* bootstrap.css uses 767px as the break number to show or hide the navbar icon. max-width and min-width are inclusive. */
/* The width of ipad is 768px. So on ipad, the leftside menu is always shown. */

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sidebar-offcanvas {
    position: absolute;
    left: -33%;
    top: 0;
    width: 33%;
  }
  .sidebar-offcanvas.active {
    position: initial;
  }
}

/* big devices (tablets, 768px and up) */
/* ipad width is 768px and falls on this rule */
@media (min-width: 768px) {
  .right-content {
    padding-right: 40px;
    padding-left: 40px;
  }
  .form-horizontal .control-label {
    text-align: left!important;
  }
}

/* override the bootstrap .modal-dialog */
@media (min-width: 768px) and (max-width: 991px) {
  .modal-dialog {
    width: auto;
    margin: 30px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .modal-dialog {
    width: auto;
    margin: 30px;
  }
}

