<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h4 th:text="#{tl.image.list}"> Image List </h4>
                 <hr>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="id" >Id</a></th>
                               <th><a class="sorted" sd:pagination-sort="fileName" th:text="#{tl.file.filename}">FileName</a></th>
                               <th><a class="sorted" sd:pagination-sort="imageSourceType" th:text="#{tl.image.source}">imageSourceType</a></th>
                               <th><span th:text="#{tl.image.thumbnails}"></span> </th>
                               <th><span th:text="#{tl.image.link.href}"></span></th>
                               <th:block sec:authorize="hasRole('WEBADMIN')">
		                               <th><a class="sorted" sd:pagination-sort="gzhCompany.name" >gzhCompany</a></th>
		                               <th><a class="sorted" sd:pagination-sort="size" >size</a></th>
		                               <th><a class="sorted" sd:pagination-sort="digest" >digest</a></th>
		                           </th:block>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${imagePage.content}">
                               <td th:text="${row.id}">  Id  </td>
                               <td th:text="${row.fileName}">  fileName  </td>
                               <td th:text="${row.imageSourceType}">  imageSourceType  </td>
                               <td> 
                                   <a th:if="${row.imageSourceType == T(com.cju.file.ImageSourceType).USER_UPLOADED}">
                                       <img th:src="@{/pub/image/thumbnail/{id}(id=${row.id})}">
                                   </a>
                                   <a th:if="${row.imageSourceType == T(com.cju.file.ImageSourceType).SERVER_PROVIDED}">
                                       <img th:src="@{/pub/image/thumbnail/{id}(id=${row.id})}">
                                   </a>
                               </td>
                               <td> 
                                   <a th:href="@{/pub/image/digest/{digest}(digest=${row.digest})}" target="_blank" >
                                       <span th:text="@{/pub/image/digest/{digest}(digest=${row.digest})}"> </span>
                                   </a>
                               </td>
                               <th:block sec:authorize="hasRole('WEBADMIN')">
		                               <td>
		                                   <div th:if="${row.gzhCompany != null}" th:text="${row.gzhCompany.name}">  
		                                   </div>
		                               </td>
		                               <td th:text="${row.size}">size</td>
		                               <td th:utext="${row.digest}">digest</td>
                               </th:block>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of div table-responsive  -->
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            <!-- end of div layout:fragment="right-content" -->
</body>
</html>
