<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-生成订单</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.order.generate}"> </h4>
                <hr>
                
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label"  th:text="#{tl.order.purchaser.gzhcompany}"> </label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:value="${gzhCompany.name}" readonly>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="col-md-4 control-label"  th:text="#{tl.order.product.name}"> </label>
                            <div class="col-md-6">
                                <input id="productBrief" class="form-control"  type="text" th:value="#{tl.order.product.recharge(${gzhCompany.name})}" readonly>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="col-md-4 control-label"  th:text="#{tl.order.recharge.amount}"> </label>
                            <div class="col-md-6">
                                <input id="amount" class="form-control"  type="text"  required>
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="col-md-4 control-label"  th:text="#{tl.order.note}"> </label>
                            <div class="col-md-6">
                                <input id="note" class="form-control"  type="text">
                            </div>
                        </div>   
                    </fieldset>
                </form>
                    
                <hr>
                <button id="orderGenerate" th:text="#{tl.submit}" class="btn btn-default"> </button>
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:inline="javascript"> 
        $(function () {
            $('#orderGenerate').on('click', function(e){
                var productBrief = $('#productBrief').val();
                var amount = $('#amount').val();
                var minAmount = Number([[${minPayOrderAmount}]]).toFixed(2);
                var amountCanNotLowerThanMin = [[#{tl.order.amount.can.not.lower.than}]] + minAmount + [[#{tl.order.money.unit.yuan}]]
                if (amount < minAmount) {
                    alert(amountCanNotLowerThanMin);
                    return;
                }
                var note = $('#note').val();
                var order = {
                		productBrief: productBrief,
                    amount: amount,
                    note: note
                }
                
                var orderJson = JSON.stringify(order, null, ' ');
                
                $.post("/gzhOps/api/v1/gzhCompany/" + [[${gzhCompany.id}]] + "/rechargeOrder/generate",
                       orderJson,
                       function (data) {
                             console.log(data);
                             var returnedJson = JSON.parse(data);
                             window.location.href = "/gzhOps/order/" + returnedJson.order.id + "/details";
                       })
                .fail(function(jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR.responseText);
                     alert(jqXHR.responseText);
                });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
        });
    </script>
</th:block> 
</body>
</html>