<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理-订单列表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
               <div class="table-responsive">
                   <h4 th:if="${showRechargeOrder == true}" class="padding-left-8" th:text="#{tl.order.recharge.list}"></h4>
                   <h4 th:if="${showReferalOrder == true}" class="padding-left-8" th:text="#{tl.referal.order.list}"></h4>
                   <hr>
                   <table id="row-clickable-table" class="table table-striped table-hover">
                     <thead>
                        <tr>
                            <th th:if="${showRechargeOrder == true}"> 
                                <a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany}"></a>
                            </th>
                            <th th:if="${showReferalOrder == true}"> 
                                <a class="sorted" sd:pagination-sort="referal.user.userName" th:text="#{tl.user.name}"></a>
                            </th>
                            <th><a class="sorted" sd:pagination-sort="orderNum" th:text="#{tl.order.num}"></a></th>
                            <th><a class="sorted" sd:pagination-sort="submitTime" th:text="#{tl.order.submit.time}"></a></th>
                            <th><a class="sorted" sd:pagination-sort="amount" th:text="#{tl.order.product.name}"></a></th>
                            <th><a class="sorted" sd:pagination-sort="amount" th:text="#{tl.order.amount}"></a></th>
                            <th><a class="sorted" sd:pagination-sort="payStatus" th:text="#{tl.order.pay.status}"></a></th>
                            <th><a class="sorted" sd:pagination-sort="payStatus" th:text="#{tl.order.pay.status.confirmer}"></a></th>
                            <th sec:authorize="hasRole('WEBADMIN')" th:text="#{tl.order.pay.status.query}"> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="row : ${orderPage.content}" class="clickable-row" th:href="@{/gzhOps/order/{id}/details(id=${row.id})}" role="button">
                            <td th:if="${showRechargeOrder == true}" th:text="${row.gzhCompany.name}"> </td>
                            <td th:if="${showReferalOrder == true}" th:text="${row.referal.user.userName}"> </td>
                            <td th:text="${row.orderNum}"> </td>
                            <td th:text="${#temporals.format(row.submitTime, 'yyyy-MM-dd HH:mm:ss')}"> </td>
                            <td th:text="${row.productBrief}"> </td>
                            <td th:text="${row.amount}"> </td>
                            <td th:text="${row.payStatus}"> </td>
                            <td > 
                                 <div th:if="${row.payStatusConfirmer != null}" th:text="${row.payStatusConfirmer}"> </div>
                                 <div th:if="${row.payStatusConfirmer == null 
                                               && row.payStatus == T(com.cju.order.OrderPayStatus).SUCCESS
                                               && #authorization.expression('hasRole(''WEBADMIN'')')}" > 
                                      <button class="confirmButton btn btn-default" data-toggle="modal" data-target="#confirmPayStatusModal"> 
                                              <span th:text="#{tl.order.pay.status.confirm}"> </span>
                                              <span class="orderId hide" th:text="${row.id}"> </span>
                                      </button>
                                 </div>
                            </td>
                            <td sec:authorize="hasRole('WEBADMIN')">
                                 <button th:if="${row.showPayStatusQuery == true}" class="btn btn-default payStatusQuery">
                                     <span th:text="#{tl.order.pay.status.query}"> </span>
                                     <span class="orderId hide" th:text="${row.id}"> </span>
                                 </button>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  

                <!-- Modal for confirm pay status -->
                <div class="modal fade" id="confirmPayStatusModal" tabindex="-1" >
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{tl.order.pay.status.confirm}"> </h5>
                            </div>
                            <div class="modal-body">
                                 <div class="ws-pre-wrap  alert alert-info"> 
                                     <ol>
                                         <li>请登录微信支付平台，核实交易参考号和交易金额后，再点击确认支付状态按钮。</li>
                                     </ol>
                                 </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                     <span th:text="#{tl.close}"></span>
                                 </button>
                                 <button id="confirmPayStatusButton" type="button" class="btn btn-default" data-dismiss="modal">
                                     <span th:text="#{tl.order.pay.status.confirm}"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
    <script th:inline="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader,  
               contentType : "application/json"
            });
            
            var orderId = "";
            $('.confirmButton').on("click.bs.modal", function(e) {
                orderId = $(this).find('.orderId').text();
                console.log("orderId=" + orderId);
                $('#confirmPayStatusModal').modal('show');
                //stopPorpagation() will prevent the row capturing the click and request the details page.
                e.stopPropagation();
            });
            $('#confirmPayStatusButton').on("click.bs.modal", function(e) {
                $.ajax({
                   url: '/gzhOps/api/v1/order/' + orderId + '/payStatusConfirm',
                   type: 'POST',
                   success: function (responseText) {
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       alert(xhr.responseText);
                       console.log(xhr.responseText);
                   }
                });
            });
            $('.payStatusQuery').on("click.bs.modal", function(e) {
                //stopPorpagation() will prevent the row capturing the click and request the details page.
                e.stopPropagation();
                var queryOrderId = $(this).find('.orderId').text();
                console.log("queryOrderId=" + queryOrderId);
                $.ajax({
                   url: '/gzhOps/api/v1/order/' + queryOrderId + '/payStatusQuery',
                   type: 'POST',
                   success: function (responseText) {
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       alert(xhr.responseText);
                       console.log(xhr.responseText);
                   }
                });
            });
        });
    </script>
</th:block>    
</body>
</html>
