<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-订单详情</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:if="${showRechargeOrder == true}" th:text="#{tl.order.recharge.details}"> </h4>
                 <h4 th:if="${showReferalOrder == true}" th:text="#{tl.referal.order.details}"> </h4>
                 <hr>
                 <div class="container-fluid position-relative">
                     <div th:if="${showRechargeOrder == true}" class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.gzhCompany.name}"> </div>
                     </div>
                     <div th:if="${showReferalOrder == true}" class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.user.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.referal.user.userName}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.num}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.orderNum}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.submitter}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.submitter}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.submit.time}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(order.submitTime, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.product.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.productBrief}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.amount}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.amount}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.status}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.payStatus}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.time}"> </div>
                         <div class="col-xs-7 nopadding-left">
                             <span th:if="${order.payTime != null}" th:text="${#temporals.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"> </span>
                         </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.type}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.payType}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.ref.num}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.payRefNum}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.note}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.note}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.status.confirm.time}"> </div>
                         <div class="col-xs-7 nopadding-left">
                             <div th:if="${order.payStatusConfirmTime != null}" 
                                  th:text="${#temporals.format(order.payStatusConfirmTime, 'yyyy-MM-dd HH:mm:ss')}"> 
                             </div>
                         </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.order.pay.status.confirmer}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${order.payStatusConfirmer}"> </div>
                     </div>
                     
                     <div th:if="${order.payStatus != T(com.cju.order.OrderPayStatus).SUCCESS}" class="top-right-absolute">
                         <img th:src="@{/gzhOps/qrImage/{id}(id=${order.qrImage.id})}">
                         <div id="qrCodeNotExpired" class="hide">
                             <div class="text-center">
                                 <div class="padding-tb-8" th:text="#{tl.order.weixin.scan.to.pay}"> </div>
                                 <div class="padding-tb-8" th:text="#{tl.order.qrcode.time.to.expire}"> </div>
                                 <div id="qrCodeExpireClock" > </div>
                             </div>
                         </div>
                         <div id="qrCodeExpired" class="hide text-center">
                             <div class="padding-tb-8" th:text="#{tl.order.qrcode.expired}" > </div>
                             <a th:href="@{/gzhOps/gzhCompany/{id}/rechargeOrder/generate(id=${order.gzhCompany.id})}" 
                                class="text-center padding-tb-8" th:text="#{tl.order.regenerate}" > 
                             </a>
                         </div>
                     </div>  
                 </div> 
                 <hr>
            </div>

            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-countdown/jquery.countdown.js')}"></script>
    <script th:inline="javascript">
        $(function () {
            //Returns the numeric value corresponding to the current time - the number of milliseconds elapsed 
            //since 1 January 1970 00:00:00 UTC, with leap seconds ignored.
            if ([[${order.qrCodeExpireTime != null}]]) {
                var currTime = Date.now();
                var qrCodeExpireTime = [[${epochSeconds}]] * 1000;
                
                $('#qrCodeExpireClock').countdown(qrCodeExpireTime)
                    .on('update.countdown', function(event) {
                        var $this = $(this).html(event.strftime(''
                              + '<span>%H</span>:'
                              + '<span>%M</span>:'
                              + '<span>%S</span>'));
                    })
                    .on('finish.countdown', function(event) {
                        $('#qrCodeNotExpired').toggleClass("hide", true); 
                        $('#qrCodeExpired').toggleClass("hide", false); 
                    });
                
                if (currTime < qrCodeExpireTime) {
                    $('#qrCodeNotExpired').toggleClass("hide", false); 
                }
                else {
                    $('#qrCodeExpired').toggleClass("hide", false); 
                }
            }
            else {
                $('#qrCodeNotExpired').toggleClass("hide", false); 
            }
        });
    </script>
</th:block>      

</body>
</html>