
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap-theme.css')}" rel="stylesheet" type="text/css" />
    <title>公司收入报表详细 </title>
</head>
<body>

<div layout:fragment="weixin-content">
    <h4 class="text-center">利润表 </h4>
    <div class="border-padding-4">
        <div class="row margin-lr-0 border-bottom font-size-11">
              <div class="col-xs-12 padding-tb-8 flex-container flex-align-bottom">
                   <div class="flex-width-1 padding-left-2 flex-container flex-wrap">
                        <div>单位名称：</div>
                        <div th:text="${gzhClientCompanyReport.gzhClientCompany.chanjetClientCompany.name}">  </div>
                   </div>
                   <div class="flex-width-1 text-center" th:text="#{tl.report.period.month(${gzhClientCompanyReport.period})}" > </div>
                   <div class="flex-width-1 text-right padding-right-2"> 
                      <p class="margin-tb-0">会小企02表</p>
                      <p class="margin-tb-0">单位：元</p>
                   </div>
              </div>
         </div>
  
        <div class="table-responsive financial-report income-report">
             <table class="table table-striped table-bordered table-hover">
                 <thead>
                     <tr>
                         <th class="text-center"><span>项目</span></th>
                         <th class="text-center" style="white-space: nowrap"><span>行次</span></th>
                         <th class="text-center" style="white-space: nowrap"><span>本年累计金额</span></th>
                         <th class="text-center" style="white-space: nowrap"><span>本月金额</span></th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr th:each="incomeItem:${gzhClientCompanyReport.gzhClientCompanyIncomeReportItemList}">
                         <td>
                              <div th:class="${incomeItem.chanjetClientCompanyIncomeItem.incomeIndentClass}" th:text="${incomeItem.chanjetClientCompanyIncomeItem.item}"> </div>
                         </td>
                         <td>
                              <div class="text-center" th:text="${incomeItem.chanjetClientCompanyIncomeItem.row}"> </div>
                         </td>
                         <td style="white-space: nowrap">
                              <div th:if="${T(Math).abs(incomeItem.chanjetClientCompanyIncomeItem.yearCashBD) > 0.05}"
                                   th:text="${#numbers.formatDecimal(incomeItem.chanjetClientCompanyIncomeItem.yearCashBD, 3,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                         <td style="white-space: nowrap">
                              <div th:if="${T(Math).abs(incomeItem.chanjetClientCompanyIncomeItem.monthCashBD) > 0.05}"
                                   th:text="${#numbers.formatDecimal(incomeItem.chanjetClientCompanyIncomeItem.monthCashBD, 3,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                     </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>

</body>
</html>