<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <title th:text="#{tl.my.company}" ></title>
</head>
<body>

<div layout:fragment="weixin-content">
     <div class="weui-panel weui-panel_access"  th:each="gzhClientCompany : ${gzhClientCompanyPage.content}">
         <div class="weui-panel__hd normal-text">
              <h4 th:text="${gzhClientCompany.chanjetClientCompany.name}"> </h4>
         </div>
         <div class="weui-panel__bd">
              <a class="weui-cell weui-cell_access" 
                 th:href="@{/gzh/company/{companyId}/clientCompany/{clientCompanyId}/report/list
                        (companyId=${gzhClientCompany.gzhCompany.id}, clientCompanyId=${gzhClientCompany.id})}" >
                 <span class="weui-cell__bd" th:text="#{tl.report.list}"> </span>
                 <span class="weui-cell__ft"></span>
              </a>
         </div>
     </div>
</div>
  
</body>
</html>