<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap-theme.css')}" rel="stylesheet" type="text/css" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/weui/css/weui.min.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/pub/css/gzh-weixin.css')}" rel="stylesheet" />
</head>
<body>
    <th:block layout:fragment="weixin-content" >
         <!-- CONTENT GOES HERE -->
    </th:block>
    
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery/jquery-3.1.1.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/js/bootstrap.js')}"></script> 
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/weui/js/weui.js')}"></script> 
    <script layout:fragment="file-end-script">
        <!-- Extra scripts at end of file GOES HERE -->
    </script>
</body>
</html>

