<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <title th:text="#{tl.contact}"> </title>
</head>

<body>

<div layout:fragment="weixin-content">
    <div class="weui-panel weui-panel_access" th:each="gzhContact : ${gzhContactList}">
        <div class="weui-panel__hd normal-text" th:text="${gzhContact.name}"> </div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
              <div class="weui-cell__bd" th:text="#{tl.contact.job.title}"></div>
              <div class="weui-cell__ft" th:text="${gzhContact.jobTitle}"></div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd" th:text="#{tl.contact.mobile}"></div>
              <a  class="weui-cell__ft" th:href="@{tel:{mobile}(mobile=${gzhContact.mobile})}" th:text="${gzhContact.mobile}"></a>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd" th:text="#{tl.contact.weixin}"></div>
              <div class="weui-cell__ft" th:text="${gzhContact.weixin}"></div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd" th:text="#{tl.contact.email}"></div>
              <div class="weui-cell__ft" th:text="${gzhContact.email}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

