<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title> 申办业务 </title>
</head>

<body>

<div layout:fragment="weixin-content">
    
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
             <div class="weui-cell__hd"><label class="weui-label">事务名称</label></div>
             <div class="weui-cell__bd">
                  <input id="task-name" class="weui-input" type="text"  placeholder="请输入事务名称">
             </div>
        </div>
    </div>
    
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
             <div class="weui-cell__hd"><label class="weui-label">事务模板</label></div>
             <div class="weui-cell__bd">
                  <div id="taskTemplate-select">请选择事务模板</div>
             </div>
        </div>
    </div>

    <div id="task-steps" class="weui-panel weui-panel_access">
    </div>
    
    <div id="create-task-btn" class="weui-btn weui-btn_primary"> 提交　</div>
    
    <div id="updateResponse" style="display: none;">
         <div class="weui-mask"></div>
         <div class="weui-dialog">
             <div id="updateMessage" class="weui-dialog__bd"></div>
             <div class="weui-dialog__ft">
                 <a id="updateResponseAck" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
             </div>
         </div>
     </div>
     
</div>
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="taskStepsTemplate" type="text/x-handlebars-template">
        <div class="weui-panel__hd">所需步骤</div>
        <div class="weui-panel__bd">  
            {{#each steps}}
               <div class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd"> {{this.order}} </div>
                    <div class="weui-media-box__bd">
                         <h5 class="weui-media-box__title"> {{this.name}} </h5>
                         <p class="weui-media-box__desc line-clamp-10"> {{this.description}}</p>
                    </div>
               </div>
            {{/each}}
        </div>
    </script> 
    <script th:inline="javascript">
        $(function() {
            var taskTemplateId;
            var steps;
            var taskTemplateMap = new Map();
            var taskTemplates = [];
            var taskStepsTemplate = Handlebars.compile($("#taskStepsTemplate").html());
            
            function loadTaskTemplate () {
                $.get('/gzh/company/' + [[${companyId}]] + '/task/template/list', 
                      function (data) {
                           var taskTemplateList = JSON.parse(data);
                           taskTemplateList.forEach( function(elem) {
                               taskTemplateMap.set(elem.id, elem);
                               var pickerItem = {
                                   label: elem.name,
                                   value: elem.id
                               }
                               taskTemplates.push(pickerItem);
                           });
                      }); 
            };
            
            function taskTemplateConfirmed (selections) {
                console.log(selections);
                $('#taskTemplate-select').html(selections[0].label);
                
                //taskTemplateId needs to be a global var
                taskTemplateId = selections[0].value;
                var taskTemplate = taskTemplateMap.get(taskTemplateId);
                steps = taskTemplate.steps;
                var context = {
                    steps: steps
                };
                var taskSteps = taskStepsTemplate(context);
                $('#task-steps').html(taskSteps);
                console.log("add steps=" + taskSteps);
            };
            
            $('#taskTemplate-select').on('click', function () {
                weui.picker(taskTemplates, {
                    onConfirm: taskTemplateConfirmed,   
                });
            });
            
            $('#create-task-btn').on('click', function () {
                var taskName = $('#task-name').val();
                if (!taskName) {
                    alert("请输入事务名称");
                    return;
                }
                if (!steps) {
                    alert("请选择事务模板");
                    return;
                }
                
                var task = {
                        name: taskName,
                        steps: steps,
                    };
                    var taskJson = JSON.stringify(task, null, ' ');
                    console.log(taskJson);
                    var createGzhTaskUrl = '/gzh/company/' + [[${companyId}]] + '/task/create';
                    console.log('createGzhTaskUrl=' + createGzhTaskUrl);
                    $.post(createGzhTaskUrl,
                           taskJson, 
                           function (data) {
                               console.log("data=" + data);
                               var gzhTask = JSON.parse(data);
                               $('#updateMessage').text("操作成功");
                               $('#updateResponse').fadeIn(200);
                           })
                           .fail(function(jqXHR, textStatus, errorThrown) {
                               console.log(jqXHR.responseText);
                               $('#updateMessage').text(jqXHR.responseText);
                               $('#updateResponse').fadeIn(200);
                           });
            });
            
            $('#updateResponseAck').on('click', function(){
                $('#updateResponse').fadeOut(200);
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            loadTaskTemplate();
        }); 
    </script>
</th:block>

</body>
</html>

