<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap-theme.css')}" rel="stylesheet" type="text/css" />
    <title>财务报表 </title>
</head>
<body>

<div layout:fragment="weixin-content">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">
                    <h4 class="text-center" th:text="${gzhClientCompany.chanjetClientCompany.name}" ></h4>
                </div>
                
                <div class="weui-panel__bd">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                             <th><a class="sorted" sd:pagination-sort="period" th:text="#{tl.report.period}"> </a></th>
                             <th><a class="sorted" sd:pagination-sort="reportType" th:text="#{tl.report.type}"> </a></th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr th:each="report : ${gzhClientCompanyReportPage.content}" class="clickable-row"  role="button"
                               th:href="@{/gzh/company/{id}/report/details
                                       (id=${gzhClientCompany.gzhCompany.id}, gzhClientCompanyId=${report.gzhClientCompany.id}, period=${report.period}, reportType=${report.reportType.value})}">
                               <td th:text="${report.period}">Period</td>
                               <td th:text="${report.reportType}">ReportType</td>
                           </tr>
                         </tbody>
                    </table>
                </div>
                
                <div class="weui-panel__ft">
                    <nav class="pager-margin-tb-4">
                        <ul class="pagination" sd:pagination="aligned-links">  </ul>
                    </nav>   
                </div>
            </div>
        </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/js/bootstrap.js')}"></script> 
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>  

</body>
</html>