<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title> 我的信息 </title>
</head>

<body>

<div layout:fragment="weixin-content">
     <div class="weui-cells weui-cells_form self-info-confirm">
         <div class="weui-cell">
             <div class="weui-cell__hd" th:text="#{tl.gzhuser.name}"> </div>
             <div class="weui-cell__bd">
                 <input id="name" class="weui-input text-right"  placeholder="请输入姓名" th:value="${gzhUser.name}"/>
             </div>
         </div>
         <div class="weui-cell">
             <div class="weui-cell__hd" th:text="#{tl.gzhuser.mobile}"> </div>
             <div class="weui-cell__bd">
                 <input id="mobile" class="weui-input text-right" type="tel" placeholder="请输入手机号" th:value="${gzhUser.mobile}"/>
             </div>
         </div>
         <div class="weui-cell">
             <div class="weui-cell__hd" th:text="#{tl.gzhuser.weixin}"> </div>
             <div class="weui-cell__bd">
                 <input id="weixin" class="weui-input text-right" type="text" placeholder="请输入微信号" th:value="${gzhUser.weixin}"/>
             </div>
         </div>
         <div class="weui-cell">
             <div class="weui-cell__hd" th:text="#{tl.gzhuser.email}"> </div>
             <div class="weui-cell__bd">
                 <input id="email" class="weui-input text-right" type="text" placeholder="请输入邮箱" th:value="${gzhUser.email}"/>
             </div>
         </div>
     </div>
     <div class="weui-cell__bd weui-btn-area">
         <a  id="updateSelfInfo" class="weui-btn weui-btn_primary" th:text="#{tl.gzhuser.selfinfo.update}"></a>
     </div>
     
     <div id="updateResponse" style="display: none;">
         <div class="weui-mask"></div>
         <div class="weui-dialog">
             <div id="updateMessage" class="weui-dialog__bd"></div>
             <div class="weui-dialog__ft">
                 <a id="updateResponseAck" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
             </div>
         </div>
     </div>
</div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#updateSelfInfo').on('click', function(){
                var name = $('#name').val();
                var mobile = $('#mobile').val();
                var weixin = $('#weixin').val();
                var email = $('#email').val();
                var gzhUser = {
                    name: name,
                    mobile: mobile,
                    weixin: weixin,
                    email: email
                };
                var gzhUserJson = JSON.stringify(gzhUser, null, ' ');
                console.log(gzhUserJson);
                var saveGzhUserUrl = "/gzh/company/" + [[${companyId}]] + "/api/v1/selfInfo";
                console.log('saveGzhUserUrl=' + saveGzhUserUrl);
                $.post(saveGzhUserUrl,
                    gzhUserJson, 
                    function (data) {
                        console.log(data);
                        $('#updateMessage').text(data);
                        $('#updateResponse').fadeIn(200);
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    $('#updateMessage').text(jqXHR.responseText);
                    $('#updateResponse').fadeIn(200);
                });
            });
            
            $('#updateResponseAck').on('click', function(){
                $('#updateResponse').fadeOut(200);
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        });
    </script>
</th:block> 
</body>
</html>

