
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap-theme.css')}" rel="stylesheet" type="text/css" />
    <title>公司资产负债表详细 </title>
</head>
<body>

<div layout:fragment="weixin-content">
    <h4 class="text-center">资产负债表 </h4>
    <div class="border-padding-4">
        <div class="row margin-lr-0 border-bottom font-size-11">
              <div class="col-xs-12 padding-tb-8 flex-container flex-align-bottom">
                   <div class="flex-width-1 padding-left-2 flex-container flex-wrap">
                        <div>单位名称：</div>
                        <div th:text="${gzhClientCompanyReport.gzhClientCompany.chanjetClientCompany.name}">  </div>
                   </div>
                   <div class="flex-width-1 text-center" th:text="#{tl.report.period.month(${gzhClientCompanyReport.period})}" > </div>
                   <div class="flex-width-1 text-right padding-right-2"> 
                      <p class="margin-tb-0">会小企01表</p>
                      <p class="margin-tb-0">单位：元</p>
                   </div>
              </div>
         </div>
  
        <div class="table-responsive financial-report asset-report">
             <table class="table table-striped table-bordered table-hover">
                 <thead>
                     <tr>
                         <th class="text-center report-item-name"><span>资产</span></th>
                         <th class="text-center report-item-can-hide" style="white-space: nowrap"><span>行次</span></th>
                         <th class="text-center" style="white-space: nowrap"><span>期末余额</span></th>
                         <th class="text-center report-item-can-hide" style="white-space: nowrap"><span>年初余额</span></th>
                         <th class="text-center report-item-name equity-item-name"><span>负债和所有者权益（或股东权益）总计</span></th>
                         <th class="text-center report-item-can-hide" style="white-space: nowrap"><span>行次</span></th>
                         <th class="text-center" style="white-space: nowrap"><span>期末余额</span></th>
                         <th class="text-center report-item-can-hide" style="white-space: nowrap"><span>年初余额</span></th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr th:each="assetItem:${gzhClientCompanyReport.gzhClientCompanyAssetReportItemList}">
                         <td>
                              <div th:class="${assetItem.chanjetClientCompanyAssetItem.assetIndentClass}" th:text="${assetItem.chanjetClientCompanyAssetItem.asset}"> </div>
                         </td>
                         <td class="report-item-can-hide text-center" >
                              <div th:if="${assetItem.chanjetClientCompanyAssetItem.assetRow != 0}" th:text="${assetItem.chanjetClientCompanyAssetItem.assetRow}"> </div>
                         </td>
                         <td style="white-space: nowrap">
                              <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.assetEndBalance) > 0.05}"
                                   th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.assetEndBalance,3,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                         <td class="report-item-can-hide" style="white-space: nowrap">
                              <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.assetYearInitBalance) > 0.05}"
                                   th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.assetYearInitBalance, 3,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                         <td>
                              <div th:class="${assetItem.chanjetClientCompanyAssetItem.equityIndentClass}" th:text="${assetItem.chanjetClientCompanyAssetItem.equity}"> </div>
                         </td>
                         <td class="report-item-can-hide text-center" >
                              <div th:if="${assetItem.chanjetClientCompanyAssetItem.equityRow != 0}" th:text="${assetItem.chanjetClientCompanyAssetItem.equityRow}"> </div>
                         </td>
                         <td style="white-space: nowrap">
                              <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.equityEndBalance) > 0.005}"
                                   th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.equityEndBalance, 1,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                         <td class="report-item-can-hide" style="white-space: nowrap">
                              <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.equityYearInitBalance) > 0.05}"
                                   th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.equityYearInitBalance, 1,'COMMA',2,'POINT')}"> 
                              </div>
                         </td>
                     </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>

</body>
</html>