<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 
        Mobile browsers render pages in a virtual "window" (the viewport), usually wider than the screen, 
        so they don't need to squeeze every page layout into a tiny window (which would break many non-mobile-optimized sites). 
        Users can pan and zoom to see different areas of the page.
        Mobile Safari introduced the "viewport meta tag" to let web developers control the viewport's size and scale. 
     -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/weui/css/weui.min.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/pub/css/gzh-weixin.css')}" rel="stylesheet" />
    <title> 消息提示 </title>
</head>
<body>

    <div class="weui-msg">
        <div class="weui-msg__icon-area">
             <i class="weui-icon-warn weui-icon_msg"></i>
        </div>
        <div class="weui-msg__text-area">
            <p th:utext="${message}"> </p>
        </div>
    </div>

    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/weui/js/weui.js')}"></script> 
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery/jquery-3.1.1.js')}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#returnBtn').click(function() {
                window.location.href = document.referrer;
            });
        });
    </script>
</body>
</html>

