<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <title> 事务列表 </title>
</head>

<body>

<div layout:fragment="weixin-content">
    
    <div class="weui-panel weui-panel_access" th:each="gzhTask : ${gzhTaskListPage.content}">
        <div class="weui-panel__hd normal-text"> 
            <span>事务名称：</span>
            <span th:text="${gzhTask.name}"> </span>
        </div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd" th:text="#{tl.task.status}"></div>
                <div class="weui-cell__ft" th:text="${gzhTask.status}"></div>
            </div>
            <div class="weui-cell" th:if="${gzhTask.lastStatusChange != null}"> 
                <div class="weui-cell__bd" th:text="#{tl.task.status.lastChange}"> </div> 
                <div class="weui-cell__ft">
                    <div th:text="${#temporals.format(gzhTask.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                </div>
            </div>
        </div>
        <div class="weui-panel__ft">
            <a th:href="@{/gzh/company/{companyId}/task/{taskId}/details(companyId=${companyId}, taskId=${gzhTask.id})}" 
                class="weui-cell weui-cell_access weui-cell_link">
                <span class="weui-cell__bd" th:text="#{tl.task.details}"></span>
                <span class="weui-cell__ft"></span>
            </a>    
        </div>
    </div>
</div>

</body>
</html>

