<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">

<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title> 事务详细 </title>
</head>

<body>

<div layout:fragment="weixin-content">
    
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd normal-text" th:text="${gzhTask.name}"> </div>
        <div class="weui-panel__bd">
            <div class="weui-cell">
                <div class="weui-cell__bd" th:text="#{tl.task.status}"></div>
                <div class="weui-cell__ft" th:text="${gzhTask.status}"></div>
            </div>
            <div class="weui-cell flex-space-between">
                <div class="flex-width-60">
                     <div th:text="#{tl.task.note}"> </div>
                     <div id="addNote" class="small-font-grey">添加备注</div>
                </div>
                <div class="padding-left-55 ws-pre-wrap" th:text="${gzhTask.note}"></div>
            </div>
            <div id="noteEditArea" style="display: none">
                <div class="weui-cell first-child-top-line">
                      <div class="weui-cell__bd">
                            <textarea id="addedNote" class="weui-textarea" placeholder="请添加备注" rows="3"></textarea>
                      </div>
                </div>
                     <div id="updateTaskNote" class="weui-btn weui-btn_primary button-before-cell-margin">保存备注</div>
            </div>
            <div class="weui-cell" th:if="${gzhTask.lastStatusChange != null}"> 
                <div class="weui-cell__bd" th:text="#{tl.task.status.lastChange}"> </div> 
                <div class="weui-cell__ft">
                    <div th:text="${#temporals.format(gzhTask.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                </div>
            </div>

            <th:block th:each="gzhTaskStep:${gzhTask.steps}">
                <div class="weui-cell"> 
                    <div class="weui-cell__bd">
                        <div class="padding-left-15">
                            <span th:text="#{tl.task.step(${gzhTaskStep.order})}"></span>
                            <span th:text="${gzhTaskStep.name}"> </span>
                        </div>
                   </div> 
                   <div class="weui-cell__ft">
                        <span th:text="${gzhTaskStep.status}"> </span>
                   </div>
                </div>
                <div class="weui-cell" th:if="${gzhTaskStep.lastStatusChange != null}"> 
                    <div class="weui-cell__bd">
                        <div class="padding-left-55" th:text="#{tl.task.status.lastChange}"> </div>
                   </div> 
                   <div class="weui-cell__ft">
                        <div th:text="${#temporals.format(gzhTaskStep.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                   </div>
                </div>
                <div class="weui-cell" th:if="${gzhTaskStep.description != ''}"> 
                    <div class="weui-cell__bd">
                        <div class="padding-left-55">
                            <span th:text="#{tl.task.step.description.semicolon}"></span>
                            <span th:text="${gzhTaskStep.description}"> </span>
                        </div>
                   </div> 
                </div>
            </th:block>
        </div>
    </div>
    
    <div id="updateResponse" style="display: none;">
         <div class="weui-mask"></div>
         <div class="weui-dialog">
             <div id="updateMessage" class="weui-dialog__bd"></div>
             <div class="weui-dialog__ft">
                 <a id="updateResponseAck" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
             </div>
         </div>
     </div>
</div>

<th:block layout:fragment="file-end-script">
    <script th:inline="javascript">
        $(function () {
            $('#addNote').click(function() {
                $('#noteEditArea').toggle();
            });  
            
            $('#updateTaskNote').on('click', function(){
                var addedNote = $('#addedNote').val();
                var gzhTask = {
                    taskId: [[${gzhTask.id}]],
                    addedNote: addedNote,
                };
                var gzhTaskJson = JSON.stringify(gzhTask, null, ' ');
                console.log(gzhTaskJson);
                var saveGzhTaskUrl = "/gzh/company/" + [[${gzhTask.gzhUser.gzhCompany.id}]] + "/api/v1/task/update";
                console.log('saveGzhTaskUrl=' + saveGzhTaskUrl);
                $.post(saveGzhTaskUrl,
                    gzhTaskJson, 
                    function (data) {
                        console.log(data);
                        $('#updateMessage').text("添加备注保存成功");
                        $('#updateResponse').fadeIn(200);
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    $('#updateMessage').text(jqXHR.responseText);
                    $('#updateResponse').fadeIn(200);
                });
            });
            
            $('#updateResponseAck').on('click', function(){
                $('#updateResponse').fadeOut(200);
                window.location.reload();
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        });
    </script>
</th:block>
</body>
</html>

