<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-账户</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 class="padding-left-8" th:text="#{tl.billing.account.list}"> </h4>
                 <hr>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany.name}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="gzhCompany.billingStatus" th:text="#{tl.gzhcompany.billing.status}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="balance" th:text="#{tl.billing.balance}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="lastBillMonth" th:text="#{tl.billing.lastbill.month}"></a></th>
                               <th><a th:text="#{tl.billing.bill.generate}"></a></th>
                               <th><a th:text="#{tl.billing.balance.adjust}"></a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${accountPage.content}" class="clickable-row" th:href="@{/gzhOps/billing/account/{id}/details(id=${row.id})}" role="button">
                               <td th:text="${row.gzhCompany.name}"> </td>
                               <td th:text="${row.gzhCompany.billingStatus}"> </td>
                               <td th:text="${row.balance}"> </td>
                               <td th:text="${row.lastBillMonth}"> </td>
                               <td> 
                                   <a th:href="@{/gzhOps/billing/gzhCompany/{id}/bill/generate(id=${row.id})}" th:text="#{tl.billing.bill.generate}"> </a>
                               </td>
                               <td> 
                                   <a th:href="@{/gzhOps/billing/account/{id}/balance/adjust(id=${row.id})}" th:text="#{tl.billing.balance.adjust}"> </a>
                               </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>