<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-账户余额</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <span th:text="#{tl.billing.balance}" class="h4-inline margin-right-15"> </span>
                 <a th:href="@{/gzhOps/gzhCompany/{id}/rechargeOrder/generate(id=${account.gzhCompany.id})}" 
                    class="btn btn-success pull-right" th:text="#{tl.order.recharge}"> 
                 </a>
                 <hr>
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.name}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.balance}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${account.balance}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.billing.status}"> </div>
                         <div id="billingStatus" class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.billingStatus}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${account.gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.trial.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.trialStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${account.gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.active.billing.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.activeBillingStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.payment.status}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.paymentStatus}"> </div>
                     </div>
                 </div>   
                 
                 <hr>
                 <h4 class="margin-top-40" th:text="#{tl.transaction.list}"> </h4>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="txId" th:text="#{tl.transaction.txid}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="timestamp" th:text="#{tl.transaction.timestamp}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="transactionType" th:text="#{tl.transaction.type}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="transactionAmount" th:text="#{tl.transaction.amount}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="accountBalanceBefore" th:text="#{tl.transaction.balance.before}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="accountBalanceAfter" th:text="#{tl.transaction.balance.after}"></a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${transactionPage.content}" class="clickable-row" th:href="@{/gzhOps/billing/transaction/{id}/details(id=${row.id})}" role="button">
                               <td th:text="${row.txId}"> </td>
                               <td th:text="${#temporals.format(row.timestamp, 'yyyy-MM-dd HH:mm:ss')}"> </td>
                               <td th:text="${row.transactionType}"> </td>
                               <td th:text="${row.transactionAmount}"> </td>
                               <td th:text="${row.accountBalanceBefore}"> </td>
                               <td th:text="${row.accountBalanceAfter}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>