<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" />  
    <title>公众号后台管理-账户余额调整</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.billing.balance.adjust}"> </h4>
                <hr>
                <div class="container-fluid">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${account.gzhCompany.name}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.balance}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${account.balance}"> </div>
                    </div>
                </div>   
                <hr>
                
                <div class="form-group">
		                <label class="control-label"  th:text="#{tl.billing.balance.adjust。amount}"> </label>
		                <div class="input-group" >
		                     <input id="adjustAmount" type="text" class="form-control" required>
		                </div>
                </div>
                
                <div class="form-group">
		                <label class="control-label"  th:text="#{tl.billing.balance.adjust。note}"> </label>
		                <div class="input-group " >
		                     <input id="adjustNote" type="text" class="form-control" required>
		                </div>
                </div>
                
                <div class="form-group">
		                <label class="control-label"  th:text="#{tl.transaction.ref.type}"> </label>
                    <select id="txRefType" class="selectpicker" required>
                          <option value="WeixinRecharge" th:text="#{tl.transaction.ref.weixin.recharge}"> </option>
                          <option value="BillDebit" th:text="#{tl.transaction.ref.bill.debit}"></option>
                          <option value="BillingActivation" th:text="#{tl.transaction.ref.billing.activation}"></option>
                          <option value="BalanceAdjust" th:text="#{tl.transaction.ref.balance.adjust}"></option>
                      </select>
                </div>
                
                <div class="form-group">
		                <label class="control-label"  th:text="#{tl.transaction.ref.number}"> </label>
		                <div class="input-group" >
		                     <input id="txRefNum" type="text" class="form-control">
		                </div>
                </div>
                
                <hr>
                <input id="balanceAdjust" type="submit" th:value="#{tl.billing.balance.adjust}" class="btn btn-default" /> 
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>  
    <script th:inline="javascript"> 
        $(function () {
            $('.selectpicker').selectpicker({
                style: 'btn-default'
            });
  
            $('#balanceAdjust').on('click', function(e){
                var adjustAmount = $('#adjustAmount').val();
                var adjustNote = $('#adjustNote').val();
                var txRefType = $('#txRefType').val();
                var txRefNum = $('#txRefNum').val();
                if (txRefType == "BillDebit") {
                    var regexUuid = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;
                    if (!regexUuid.test(txRefNum)) {
                    	  var invalidUuid = [[#{tl.billing.bill.billid.invalid}]];
                    	  console.log("Invalid txRefNum: " + txRefNum);
                        alert(invalidUuid)
                        return;
                    }
                }
                var adjust = {
                		id: [[${account.id}]],
                		adjustAmount: adjustAmount,
                		adjustNote: adjustNote,
                		txRefType: txRefType,
                		txRefNum: txRefNum
                }
                
                var adjustJson = JSON.stringify(adjust, null, ' ');
                
                $.post("/gzhOps/api/v1/account/balance/adjust",
                		    adjustJson,
                        function (data) {
                             console.log(data);
                             var saveSuccess = [[#{tl.billing.balance.adjust。success}]];
                             alert(saveSuccess + "\n" + data);
                             window.location.reload();
                        })
                .fail(function(jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR.responseText);
                     alert(jqXHR.responseText);
                });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        });
    </script>
</th:block>              
</body>
</html>