<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-账单详情</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.billing.bill.details}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.account.gzhCompany.name}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.billid}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.billId}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.timestamp}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(bill.timeStamp, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.month}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.billMonth}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.periodStart}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.end.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.periodEnd}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.days}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.billingDays}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.rate}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.billingRate}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.num.of.gzhclientcompany}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.numOfGzhClientCompany}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.amount}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.amount}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.bill.operator}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${bill.operator}"> </div>
                     </div>
                 </div>   
                 <hr>
            </div>
</body>
</html>