<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-计费状态改变列表</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.billing.status.change.list}"> </h4>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany.name}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="timeStamp" th:text="#{tl.billing.status.change.timestamp}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="statusBefore" th:text="#{tl.billing.status.change.status.before}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="statusAfter" th:text="#{tl.billing.status.change.status.after}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="operator" th:text="#{tl.billing.status.change.operator}"></a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${billingStatusChangePage.content}" class="clickable-row" th:href="@{/gzhOps/billing/statusChange/{id}/details(id=${row.id})}" role="button">
                               <td th:text="${row.gzhCompany.name}"> </td>
                               <td th:text="${#temporals.format(row.timeStamp, 'yyyy-MM-dd HH:mm:ss')}"> </td>
                               <td th:text="${row.statusBefore}"> </td>
                               <td th:text="${row.statusAfter}"> </td>
                               <td th:text="${row.operator}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>