<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-账单</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 class="padding-left-8" th:text="#{tl.billing.bill.list}"> </h4>
                 <hr>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted ws-pre-wrap" sd:pagination-sort="account.gzhCompany.name" th:utext="#{tl.gzhcompany.name.click.to.generate.bill}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="billId" th:text="#{tl.billing.bill.billid}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="billMonth" th:text="#{tl.billing.bill.month}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="billingRate" th:text="#{tl.billing.lastbill.month}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="numOfGzhClientCompany" th:text="#{tl.billing.bill.num.of.gzhclientcompany}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="amount" th:text="#{tl.billing.bill.amount}"></a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${billPage.content}" class="clickable-row" th:href="@{/gzhOps/billing/bill/{id}/details(id=${row.id})}" role="button">
                               <td>
                                   <a th:href="@{/gzhOps/billing/gzhCompany/{id}/bill/generate(id=${row.account.gzhCompany.id})}" th:text="${row.account.gzhCompany.name}"> </a>
                               </td>
                               <td th:text="${row.billId}"> </td>
                               <td th:text="${row.billMonth}"> </td>
                               <td th:text="${row.billingRate}"> </td>
                               <td th:text="${row.numOfGzhClientCompany}"> </td>
                               <td th:text="${row.amount}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>