<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-计费状态改变详情</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.billing.status.change.details}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.gzhCompany.name}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.id}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.billingStatusChangeId}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.timestamp}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(billingStatusChange.timeStamp, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.status.before}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.statusBefore}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.status.after}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.statusAfter}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.operator}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.operator}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.status.change.charged.fee}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${billingStatusChange.chargedFee}"> </div>
                     </div>
                 </div>   
                 <hr>
            </div>
</body>
</html>