<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/css/bootstrap-datepicker3.css')}" rel="stylesheet" /> 
    <title>公众号后台管理-生成账单</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.billing.bill.generate}"> </h4>
                <hr>
                <div class="container-fluid">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.name}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.balance}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.account.balance}"> </div>
                    </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.billing.status}"> </div>
                         <div id="billingStatus" class="col-xs-7 nopadding-left" th:text="${gzhCompany.billingStatus}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.trial.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.trialStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.active.billing.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.activeBillingStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.payment.status}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.paymentStatus}"> </div>
                     </div>
                     
                     <hr>
                     <div class="row padding-tb-8">
                        <label class="control-label"  th:text="#{tl.billing.bill.month}"> </label>
                        <div id="monthpicker"  class="col-xs-5 input-group date" >
                             <input id="billMonth" type="text" class="form-control" required>
                             <div class="input-group-addon"> 
                                 <span class="glyphicon glyphicon-th"></span>
                             </div>
                        </div>
                     </div>
                </div>   
                
                 
                <hr>
                <input id="billGenerate" type="submit" th:value="#{tl.billing.bill.generate}" class="btn btn-default" /> 
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/js/bootstrap-datepicker.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            $('#monthpicker').datepicker({
                language: 'zh-CN',
                format: "yyyy-mm",
                minViewMode: 'months',
                maxViewMode: 'years',
                startView: 'months',
                orientation: 'bottom'
            });
            
            $('#billGenerate').on('click', function(e){
                var billMonth = $('#billMonth').val();
                if (!billMonth) {
                    alert("请选择账单周期");
                    return;
                }
                var bill = {
                    id: [[${gzhCompany.id}]],
                    billMonth: billMonth
                }
                
                var billJson = JSON.stringify(bill, null, ' ');
                
                $.post("/gzhOps/api/v1/billing/bill/generate",
                        billJson,
                        function (data) {
                             console.log(data);
                             alert(data);
                             window.location.reload();
                        })
                .fail(function(jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR.responseText);
                     alert(jqXHR.responseText);
                });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
        });
    </script>
</th:block>              
</body>
</html>