<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-账单</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.billing.bill.list}"> </h4>
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th th:text="#{tl.gzhcompany.name}"> </th>
                               <th th:text="#{tl.billing.bill.billid}" > </th>
                               <th th:text="#{tl.billing.bill.month}" > </th>
                               <th th:text="#{tl.billing.lastbill.month}"></th>
                               <th th:text="#{tl.billing.bill.num.of.gzhclientcompany}"></th>
                               <th th:text="#{tl.billing.bill.amount}"> </th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${billList}" class="clickable-row" th:href="@{/gzhOps/billing/bill/{id}/details(id=${row.id})}" role="button">
                               <td th:text="${row.account.gzhCompany.name}"> </td>
                               <td th:text="${row.billId}"> </td>
                               <td th:text="${row.billMonth}"> </td>
                               <td th:text="${row.billingRate}"> </td>
                               <td th:text="${row.numOfGzhClientCompany}"> </td>
                               <td th:text="${row.amount}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:text="${message}"> </div>
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>