<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-交易详情</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.transaction.details}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.account.gzhCompany.name}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.txid}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.txId}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.timestamp}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(transaction.timeStamp, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.type}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.transactionType}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.amount}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.transactionAmount}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.balance.before}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.accountBalanceBefore}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.balance.after}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.accountBalanceAfter}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.ref.type}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.transactionRefType}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.ref.number}"> </div>
                         <div class="col-xs-7 nopadding-left"> 
                             <a th:if="${link != null}" th:href="@{{link}(link=${link})}" th:text="${transaction.transactionRefNum}"> </a>
                             <div th:if="${link == null}" th:text="${transaction.transactionRefNum}"> </div>
                         </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.note}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.note}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.operator}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.operator}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.transaction.internal.account.owner.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${transaction.internalAccountOwnerName}"> </div>
                     </div>

                 </div>   
                 <hr>
            </div>
</body>
</html>
