<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th th:text="#{tl.gzhcompany.name}">Name</th>
                               <th th:text="#{tl.gzhcompany.owner.name}">ownerUserName</th>
                               <th th:text="#{tl.gzhcompany.billing.status}">billingStatus</th>
                               <th th:text="#{tl.gzhcompany.payment.status}">paymentStatus</th>
                               <th th:text="#{tl.gzhcompany.payment.indebt.date}">paymentInDebtDate</th>
                               <th th:text="#{tl.gzhcompany.service.running.status}">serviceRunningStatus</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${gzhCompanyList}" class="clickable-row" th:href="@{/gzhOps/gzhCompany/details/{id}(id=${row.id})}" role="button">
                               <td th:text="${row.name}">  Name  </td>
                               <td th:text="${row.ownerUser} ? ${row.ownerUser.userName}">ownerUserName</td>
                               <td th:text="${row.billingStatus}">billingStatus</td>
                               <td th:text="${row.paymentStatus}">paymentStatus</td>
                               <td th:text="${row.paymentInDebtDate}">paymentInDebtDate</td>
                               <td th:text="${row.serviceRunningStatus}">serviceRunningStatus</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:text="${message}"> </div>
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <p th:replace="commonFragments :: clickable-row-script"></p>  
</th:block>    
</body>
</html>
