<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>公众号后台管理-修改用户信息</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <form class="form-horizontal" th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}" method="post" id="user_edit_form">
                    <fieldset>
                        <!-- Form Name -->
                        <h4 th:text="#{tl.user.edit}"> </h4>  
                        <hr>
                        <!-- Text input-->    
                        <div class="form-group hide">
                            <label class="col-md-4 control-label">id</label>
                            <div class="col-md-6  inputGroupContainer">
                                <div class="input-group">
                                  <input class="form-control"  type="text" th:field="*{id}" readonly>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.name}">UserName</label>
                            <div class="col-md-6"> 
                              <input class="form-control"  type="text" th:field="*{userName}" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{tl.user.password}">New Password</label>
	                          <div class="col-md-6"> 
	                             <input class="form-control"  type="password" name="password">
	                          </div>
                        </div>
                        
                        <div class="form-group has-feedback">
                          <label for="confirmPassword"  class="col-md-4 control-label" th:text="#{tl.user.password.confirm}"> Confirm Password </label>
                          <div class="col-md-6"> 
                               <input class="form-control {$borderColor}" type="password" placeholder="Confirm password" name="confirmPassword" />
                         </div>
                      </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.email}">email</label>
                            <div class="col-md-6">
                              <input class="form-control"  type="text" th:field="*{email}">
                            </div>
                        </div>
                  
                    </fieldset>
                    <hr>
                    <div><input type="submit" th:value="#{tl.submit}" class="btn btn-default" /> </div>
               </form>
            </div>
</body>

<div layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           var validator = $('#user_edit_form').bootstrapValidator({
                  // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                  feedbackIcons : {
                    valid : 'glyphicon glyphicon-ok',
                    invalid : 'glyphicon glyphicon-remove',
                    validating : 'glyphicon glyphicon-refresh'
                  },
                  fields : {
                    email : {
                      validators : {
                        notEmpty : {
                        },
                        emailAddress : {
                        }
                      }
                    },
                    password: {
                            validators: {
                                identical: {
                                    field: 'confirmPassword',
                                }
                            }
                        },
                        confirmPassword: {
                            validators: {
                                identical: {
                                    field: 'password',
                                }
                            }
                         },
                  } // end of fields
              }) //end of bootstrapValidator
              
              validator.on('success.form.bv', function(e) {
                  console.log("user edit form validated success");
                  //Do not do resetForm as it will reset the form internal state in bootstrap validator resulting in 
                  //bootstrap validator not sending the form whether using Ajax or not.
                  //By default, bootstrap validator will send the form (not using Ajax) when all validation are passed.
              });
        }); // end of document ready
    </script>
</div>
</html>
