<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorator="masterSidemenuLayout">
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理-用户登录</title>
</head>
    
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">        
                <form  class="form-horizontal" th:action="@{/pub/user/login(redirectUrl=${redirectUrl})}" method="post">
                    <fieldset>
                        <!-- Form Name -->
                        <legend th:text="#{tl.user.login}"> Login </legend>  
                        <!-- Text input-->
                        <div class="form-group">
                             <label class="col-md-2 control-label" th:text="#{tl.user.name}">User Name</label>
                             <div class="col-md-6  inputGroupContainer">
                                  <div class="input-group">
                                        <input name="username" class="form-control"  type="text">
                                  </div>
                             </div>
                        </div> 
                     
                        <div class="form-group">
                             <label class="col-md-2 control-label" th:text="#{tl.user.password}">Password</label>
                             <div class="col-md-6  inputGroupContainer">
                                  <div class="input-group">
                                        <input name="password" class="form-control"  type="password">
                                  </div>
                             </div>
                        </div>
                     
                        <!-- Button -->
                        <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                     </fieldset>
                </form>
            </div>

<div layout:fragment="file-end-script">
    <script th:inline="javascript">
        $(function () {
             if([[${alertLoginFailure == true}]]) {
                 alert([[${errMsg}]]);
             }
        });
    </script>
</div>

</body>
</html>