<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="masterSidemenuLayout">

<!-- layout:decorator instructs thymeleaf engine to merge this file with /user/layout.html.
     The head part will be merged. The layout:fragment part in this file will be picked out 
     and insert into the corresponding layout:fragment part in the layout file.
     The rest of this file will be ignored.
 -->

<head>
  <title>公众号后台管理-用户注册</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <!-- expression enclosed by two underscores __ will be resolved first in pre-processing step -->
                <!-- 
                    <p th:text="${#locale}" />
	                  <div th:if=" __${#locale}__ == 'zh_CN' ">
	                         <p> Chinese Locale </p>
	                  </div>  
                -->
                
                <form class="form-horizontal" th:action="@{/pub/user/register}" th:object="${user}"  method="post" id="reg_form">  
    
                   <fieldset>
                      <!-- Form Name -->
                      <legend th:text="#{tl.user.register}"> </legend>  
                      <!-- Text input-->    
                      <div class="form-group">
	                        <label class="col-md-2 control-label" th:text="#{tl.user.name}">User Name</label>
	                        <div class="col-md-6">
	                            <input  name="userName" placeholder="User Name" class="form-control"  type="text">
	                        </div>
                      </div>
                      
                      <!-- Text input-->
                      <div class="form-group">
	                        <label class="col-md-2 control-label" th:text="#{tl.user.email}">E-Mail</label>
	                        <div class="col-md-6">
	                            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
	                        </div>
                      </div> 
                      
                      <div class="form-group">
	                        <label for="password"  class="col-md-2 control-label" th:text="#{tl.user.password}">  Password </label>
	                        <div class="col-md-6">
	                             <input class="form-control" type="password" name="password" placeholder="password" required/>
	                        </div>
                      </div>
             
                      <div class="form-group">
                          <label for="confirmPassword"  class="col-md-2 control-label" th:text="#{tl.user.password.confirm}"> Confirm Password </label>
                          <div class="col-md-6  inputGroupContainer">
                               <input class="form-control" type="password" placeholder="Confirm password" name="confirmPassword" required/>
                          </div>
                      </div>
                      
                      <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                   </fieldset>
                </form>
            </div>
    

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>  
    <!-- 
       To make bootstrap validator show localized message such as Chinese:
       When calling the plugin, .bootstrapValidator(), just don't set the message option.
       The messages then are taken from the translation package.
     -->
    <script th:inline="javascript">
        $(document).ready(function() {
           if ([[${errorMessage != null}]]) {
        	     alert([[${errorMessage}]]);
           }
           var validator = $('#reg_form').bootstrapValidator({
                  // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                  feedbackIcons : {
                    valid : 'glyphicon glyphicon-ok',
                    invalid : 'glyphicon glyphicon-remove',
                    validating : 'glyphicon glyphicon-refresh'
                  },
                  fields : {
                    userName: {
                        validators: {
                                stringLength: {
                                min: 3,
                            },
                                notEmpty: {
                            }
                        }
                    },
                    email : {
                      validators : {
                        notEmpty : {
                        },
                        emailAddress : {
                        }
                      }
                    },
                    password: {
                            validators: {
                            }
                        },
                    confirmPassword: {
                        validators: {
                            identical: {
                                field: 'password',
                            }
                        }
                     },
                  } // end of fields
              }) //end of bootstrapValidator
              
              validator.on('success.form.bv', function(e) {
                  console.log("form validated success xxxxxxxxxxx");
                  //Do not do resetForm as it will reset the form internal state in bootstrap validator resulting in 
                  //bootstrap validator not sending the form whether using Ajax or not.
                  //By default, bootstrap validator will send the form (not using Ajax) when all validation are passed.
                  //To use Ajax to send the form after validation, the following code is needed here, but not tested.
                 
                  // Prevent form submission
                  // e.preventDefault();

                  // Get the form instance
                  //var $form = $(e.target);

                  // Get the BootstrapValidator instance
                  // var bv = $form.data('bootstrapValidator');

                  // Use Ajax to submit form data. The action here does not have the host part, which is not right.
                  // $.post($form.attr('action'), $form.serialize(), function(result) {
                  //    console.log(result);
                  // }, 'json');
              });
        }); // end of document ready
    </script>
</th:block>

</body>
</html>