<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>公众号后台管理-修改用户角色</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <form class="form-horizontal" th:action="@{/user/edit/role/{id}(id=${user.id})}" th:object="${user}" method="post" id="user_edit_form">
                    <fieldset>
                        <!-- Form Name -->
                        <h4 th:text="#{tl.user.edit.role}"> </h4>  
                        <hr>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.name}">UserName</label>
                            <div class="col-md-6"> 
                              <input class="form-control"  type="text" th:field="*{userName}" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.roles}"></label>
                            <div class="col-md-6">
                              <input class="form-control"  type="text" th:field="*{roles}" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.roles.add}"></label>
                            <div class="col-md-6">
                              <input id="rolesAdd" class="form-control"  type="text">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.user.roles.remove}"></label>
                            <div class="col-md-6">
                              <input id="rolesRemove" class="form-control"  type="text">
                            </div>
                        </div>
                  
                    </fieldset>
                    <hr>
                    <button id="editRole" type="button" class="btn btn-default" th:text="#{tl.user.edit.role}"> </button>
               </form>
            </div>
</body>

<div layout:fragment="file-end-script">
    <script type="text/javascript">
        $(function () {
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            $("#editRole").click( function () { 
                var id = [[${user.id}]];
                var rolesAdd = $('#rolesAdd').val();
                var rolesRemove = $('#rolesRemove').val();
                var rolesEdit = {
                    id: id,
                    rolesAdd: rolesAdd,
                    rolesRemove: rolesRemove
                }
                var rolesEditJson = JSON.stringify(rolesEdit, null, ' ');
                console.log(rolesEditJson);
                var url = "/gzhOps/api/v1/user/" + [[${user.id}]] + "/editRole";
                $.post(url,
                		   rolesEditJson, 
                       function (data) {
                           console.log(data);
                           alert(data);
                           window.location.reload();
                       })
                 .fail(function(jqXHR) {
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                  });
             });
        });
    </script>
</div>
</html>
