<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
               <h4 th:text="#{tl.user.details}"> </h4>
               <hr>
               <div class="container-fluid">
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.user.name}"> </div>
                      <div class="col-xs-7 nopadding-left" th:text="${user.userName}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.user.email}"> </div>
                      <div class="col-xs-7 nopadding-left" th:text="${user.email}"> </div>
                  </div>
                  <div class="row padding-tb-8 hide"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.user.roles}"> </div>
                      <div class="col-xs-7 nopadding-left" th:text="${user.roles}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.created.by.me}"> </div>
                      <div class="col-xs-7 nopadding-left" th:text="${user.ownedGzhCompany} ? ${user.ownedGzhCompany.name}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.admined.by.me}"> </div>
                      <div class="col-xs-7 nopadding-left" th:text="${user.adminedGzhCompany} ? ${user.adminedGzhCompany.name}"> </div>
                  </div>
               </div>
                  
               <hr>
               <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-default">
                  <span th:text="#{tl.user.edit}"></span> 
               </a>
               
               <div sec:authorize="hasRole('WEBADMIN')">
                  <br>
                  <br>
                  <h5 th:text="#{tl.used.by.webadmin.only}"> </h5>
                  <hr>
                  <button id="loginAs" type="button" class="btn btn-default" th:text="#{tl.user.login.as}"> </button>
                  <a th:href="@{/user/edit/role/{id}(id=${user.id})}" class="btn btn-default margin-left-15" th:text="#{tl.user.edit.role}"> </a>
                  
               </div>
               
            </div>
            
<div layout:fragment="file-end-script">
    <script th:inline="javascript">
        $(function () {
             if([[${alertSaveSuccess == true}]]) {
                 alert([[#{tl.save.success}]]);
             }
             
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
             var csrfHeader = {};
             csrfHeader[header] = token;
             $.ajaxSetup({ 
                headers : csrfHeader, 
                contentType : "application/json"
             });
             
             var url = "/gzhOps/api/v1/user/" + [[${user.id}]] + "/loginAs";
             $("#loginAs").click( function () { 
            	  $.post(url,
                       function (data) {
                           console.log(data);
                           alert(data);
                       })
                 .fail(function(jqXHR) {
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                 });
             });
             
        });
    </script>
</div>

</body>
</html>

