<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="masterSidemenuLayout">

<!-- layout:decorator instructs thymeleaf engine to merge this file with /user/layout.html.
     The head part will be merged. The layout:fragment part in this file will be picked out 
     and insert into the corresponding layout:fragment part in the layout file.
     The rest of this file will be ignored.
 -->

<head>
  <title>公众号后台管理-重置密码</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                
                <form class="form-horizontal" th:action="@{/pub/user/resetPasswordCollectEmail}"  method="post" id="resetpassword_form">      
                   <fieldset>
                      <!-- Form Name -->
                      <legend th:text="#{tl.user.password.reset}"> Reset Password </legend>  
                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-2 control-label" th:text="#{tl.user.email}">E-Mail</label>
                        <div class="col-md-6  inputGroupContainer">
                            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
                        </div>
                      </div> 
                      
                      <!-- Button -->
                      <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                   </fieldset>
                </form>
            </div>
    

<div layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>
    <!-- 
       To make bootstrap validator show localized message such as Chinese:
       When calling the plugin, .bootstrapValidator(), just don't set the message option.
       The messages then are taken from the translation package.
     -->
    <script type="text/javascript">
        $(document).ready(function() {
           var validator = $('#resetpassword_form').bootstrapValidator({
                  // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                  feedbackIcons : {
                    valid : 'glyphicon glyphicon-ok',
                    invalid : 'glyphicon glyphicon-remove',
                    validating : 'glyphicon glyphicon-refresh'
                  },
                  fields : {
                    email : {
                      validators : {
                        notEmpty : {
                        },
                        emailAddress : {
                        }
                      }
                    },
                  } // end of fields
              }) //end of bootstrapValidator
              
              validator.on('success.form.bv', function(e) {
                  console.log("reset password form validated success");
                  //Do not do resetForm as it will reset the form internal state in bootstrap validator resulting in 
                  //bootstrap validator not sending the form whether using Ajax or not.
                  //By default, bootstrap validator will send the form (not using Ajax) when all validation are passed.
                  //To use Ajax to send the form after validation, the following code is needed here, but not tested.
              });
        }); // end of document ready
    </script>
</div>

</body>
</html>