<link href="/swiper/css/swiper.css" rel="stylesheet" />
<title>感动科技简介</title>

<!-- Slider main container -->
<div class="swiper-container swiper-container-horizontal">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/lake.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/sea.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/1.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/2_small.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/3_small.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/4.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/7_small.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/8_small.jpg">
        </div>
        <div class="swiper-slide">
            <img src="/pub/images/gzh-gandong/camel.jpg">
        </div>
    </div>
</div>
    
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd normal-text"> <h4>公司业务介绍 </h4> </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <p class="weui-media-box__title">公众号平台</p>
                  <ul class="weui-media-box__desc_color">
                     <li> 公众号平台是我们提供的一个部署在云上的软件服务平台。不需要下载安装任何软件。</li>
                     <li> 在我们的后台服务网站注册后，可以为你的微信公众号搭建后台内容服务。</li>
                     <li> 你的公众号需要在微信的公众平台申请。申请时要选择服务号。有了公众号以后，在微信公众平台把你的公众号设置成开发者模式，并通过配置把公众号的服务器配置成我们提供的地址，你的公众号就可以上线了。</li>
                     <li> 如果你的公众号没有设置成开发者模式，那么通过微信公众平台也可以配置一些静态的网页内容，但无法提供带有动态数据内容的网页。</li>
                     <li> 你现在浏览的公众号的后台内容就是这个公众号平台提供的。 你可以通过你现在浏览的公众号来体验一下我们的公众号平台提供的功能。</li>
                     <li> 我们的公众号平台面向的客户是工商代理财税代记公司和一般的需要搭建公众号的公司。</li>
                     <li> 任何人成功推荐一个付费用户，可获得高达1000元的推荐费用。详细请参阅<a href="/pub/referal/intro">互利营销</a>。　</li>
                  </ul>
              </div>
        </div>
     </div>
</div>

<div class="weui-panel weui-panel_access">   
    <div class="weui-panel__hd normal-text"> <h4> 面向的客户 </h4> </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <p class="weui-media-box__title">工商代理财税代记公司</p>
                  <p class="weui-media-box__desc_color">你的客户可以通过公众号来查看他的财税报表。除此之外你的公众号还有消息自动回复，自定义菜单，自定义网页，业务申办和进度查询，公司联系人等功能。详情请参阅下面的功能介绍。</p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <p class="weui-media-box__title">其他需要公众号的公司</p>
                  <p class="weui-media-box__desc_color">除了针对工商代理财税代记公司的财税报表功能，你的公众号拥有其他的所有功能。详情请参阅下面的功能介绍。</p>
              </div>
        </div>
    </div>
</div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd normal-text"> <h4> 公众号功能介绍 </h4> </div>
    <div class="weui-panel__bd line-clamp-20">
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">财税报表</h4>
                  <p class="weui-media-box__desc_color">如果你使用了用友集团子公司畅捷通的易代账来给你的客户记账报税的话，那么你的客户可以通过你的公众号查看他的财税报表。看到的报表使用的是标准的格式，适配各种不同的屏幕尺寸。
                                                                          为了方便你的客户，你的客户不需要用户名和密码，你在公众号平台上绑定你的客户和他的公司。客户的财税报表数据自动从易代账获取。客户只能看到自己公司的财税报表。
                  </p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">消息自动回复</h4>
                  <p class="weui-media-box__desc_color">当关注者在你的公众号里输入关键字后，如果你在我们的公众号平台为你的公众号设置了对应的回复，那么用户就会得到自动回复。你可以用这个功能回答用户的常见问题。</p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">自定义菜单</h4>
                  <p class="weui-media-box__desc_color">你可以在公众号平台设置你的公众号菜单的名字和布局。菜单可以返回消息或者返回一个网页页面。平台提供了一个在线的简单易用的菜单编辑器和一些菜单模板。你可以拖拽菜单项来编辑。</p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">自定义网页</h4>
                  <p class="weui-media-box__desc_color">你可以自定义网页页面的内容。页面里可以有到其他网页的链接。平台提供了一个所见即所得在线网页编辑器和一些常用的模板。你现在阅读的这个网页就是其中一个模板。</p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">业务办理</h4>
                  <p class="weui-media-box__desc_color">我们的公众号平台为每个公众号提供了预定义的菜单。你的公众号关注者可以通过这个菜单来申办业务，查看自己的业务进度。</p>
              </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">公司联系人</h4>
                  <p class="weui-media-box__desc_color">你在公众号平台填写你们公司的联系人信息后，在用户访问你公众号的联系人菜单时，公众号平台会动态生成公司联系人的网页。</p>
              </div>
        </div>
    </div>
</div>

<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd normal-text"> <h4> 更多业务咨询 </h4> </div>
    <div class="weui-panel__bd line-clamp-20">
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">联系方式</h4>
                  <p class="weui-media-box__desc_color">如果你需要了解更多的信息，请发送邮件到support@gandongtech.com。或者可以在电脑或平板上访问<a href="http://gzh.gandongtech.com"> http://gzh.gandongtech.com </a>来了解更多信息。
                  </p>
              </div>
        </div>
    </div>
    <div class="weui-panel__bd line-clamp-20">
        <div class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                  <img class="weui-media-box__thumb" src="/pub/images/gzh-gandong/snail.jpg">
              </div>
              <div class="weui-media-box__bd">
                  <h4 class="weui-media-box__title">免费试用</h4>
                  <p class="weui-media-box__desc_color">我们的公众号平台提供一个月免费试用期。请在电脑或平板上访问<a href="http://gzh.gandongtech.com"> http://gzh.gandongtech.com </a>来注册并开始免费试用。
                  </p>
              </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/swiper/js/swiper.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        var config = {
                loop: true,
                autoplay: {
                  delay: 3000
                },
                effect: 'slide',
            };
            var mySwiper = new Swiper('.swiper-container', config);
    });
</script>