<link href="/swiper/css/swiper.css" rel="stylesheet" />
<title>微信网页面板布局 </title>
<!-- Slider main container -->
<div class="swiper-container swiper-container-horizontal">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="/pub/images/gzh-gandong/camel.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/lake.jpg">
        </div>
    </div>
</div>
    
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd normal-text">这是第一个面板weui-panel</div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="/pub/images/icon_tabbar.png">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">第一个weui-media-box</h4>
                <p class="weui-media-box__desc no-line-clamp">第一个weui-media-box的文字描述部分</p>
            </div>
        </div>
        <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="/pub/images/icon_tabbar.png">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">第二个weui-media-box</h4>
                <p class="weui-media-box__desc no-line-clamp">第二个weui-media-box的文字描述部分</p>
            </div>
        </div>

    </div>
    <div class="weui-panel__ft">
          <a href="http://baidu.com" class="weui-cell weui-cell_access weui-cell_link">
             <div class="weui-cell__bd　padding-left-15">查看更多</div>
             <span class="weui-cell__ft"></span>
          </a>    
    </div>
</div>

    
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd normal-text">这是第二个面板</div>
    <div class="weui-panel__bd">
        <div class="weui-cell">
            <div class="weui-cell__bd padding-left-15">第一条左边</div>
            <div class="weui-cell__ft">第一条右边</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd padding-left-15">第二条左边</div>
            <div class="weui-cell__ft">第二条右边</div>
        </div>
    </div>
    <div class="weui-panel__ft">
        <a href="http://baidu.com" class="weui-cell weui-cell_access weui-cell_link">
            <span class="weui-cell__bd padding-left-15">查看更多</span>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
</div>

<script type="text/javascript" src="/swiper/js/swiper.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        var config = {
                loop: true,
                autoplay: {
                  delay: 3000
                },
                effect: 'fade',
                fadeEffect: {
                  crossFade: true
                },
            };
            var mySwiper = new Swiper('.swiper-container', config);
    });
</script>