<link href="/swiper/css/swiper.css" rel="stylesheet" />
<title>微信网页九宫格布局 </title>
<!-- Slider main container -->
<div class="swiper-container swiper-container-horizontal">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="/pub/images/gzh-gandong/camel.jpg">
        </div>
        <div class="swiper-slide" >
            <img src="/pub/images/gzh-gandong/lake.jpg">
        </div>
    </div>
</div>

<h4 class="text-center">网页模板-网格布局</h4>
<p>页面描述左对齐</p>
<div class="weui-grids">
    <a href="http://baidu.com" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/arrow.jpg" alt="">
        </div>
        <p class="weui-grid__label">小标题</p>
    </a>
    <a href="http://baidu.com" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/message.jpg" alt="">
        </div>
        <p class="weui-grid__label">小标题</p>
    </a>
    <a href="http://baidu.com" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/nameCard.jpg" alt="">
        </div>
        <p class="weui-grid__label">小标题</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/icon_tabbar.png" alt="">
        </div>
        <p class="weui-grid__label">Grid</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/icon_tabbar.png" alt="">
        </div>
        <p class="weui-grid__label">Grid</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="/pub/images/icon_tabbar.png" alt="">
        </div>
        <p class="weui-grid__label">Grid</p>
    </a>
</div>

<script type="text/javascript" src="/swiper/js/swiper.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        var config = {
            loop: true,
            autoplay: {
              delay: 3000
            },
            effect: 'cube',
            cubeEffect: {
              rotate: 30,
              slideShadows: false,
            },
        };
        var mySwiper = new Swiper('.swiper-container', config);
    });
</script>