<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 class="padding-left-8" th:text="#{tl.auto.reply.list}"></h4>
                <hr>
                
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th sec:authorize="hasRole('WEBADMIN')">
                                <a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany}">gzhCompany</a>
                            </th>
                            <th><a class="sorted" sd:pagination-sort="type" th:text="#{tl.auto.reply.type}">type</a></th>
                            <th><a class="sorted" sd:pagination-sort="key" th:text="#{tl.auto.reply.key}">Key</a></th>
                            <th><a class="sorted" sd:pagination-sort="message" th:text="#{tl.auto.reply.message}">message</a></th>
                            <th> <span class="add-auto-reply glyphicon glyphicon-plus" role="button"> </span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gzhAutoReply : ${gzhAutoReplyPage.content}">
                          <td  class="hide" >
                              <div class="auto-reply-id" th:text="${gzhAutoReply.id}">
                              </div>
                          </td>
                          <td sec:authorize="hasRole('WEBADMIN')">
                              <div th:if="${gzhAutoReply.gzhCompany != null}" th:text="${gzhAutoReply.gzhCompany.name}" >
                              </div> 
                          </td>
                          <td>
                              <div class="auto-reply-type" th:text="${gzhAutoReply.type}" >
                              </div> 
                          </td>
                          <td>
                              <div class="auto-reply-key" data-type="text" 
                                   th:classappend="${gzhAutoReply.type == T(com.cju.gzhOps.GzhAutoReplyType).PRIVATE} ? 'editable-field editable-click': '' "
                                   th:attr="data-original-title=#{tl.auto.reply.key.edit}" th:text="${gzhAutoReply.key}" >
                              </div>
                          </td>
                          <td>
                               <div class="auto-reply-message ws-pre-wrap"  data-type="textarea" 
                                    th:classappend="${gzhAutoReply.type == T(com.cju.gzhOps.GzhAutoReplyType).PRIVATE} ? 'editable-field editable-click': '' "
                                    th:attr="data-original-title=#{tl.auto.reply.message.edit}" th:utext="${gzhAutoReply.message}" >
                               </div>
                          </td>
                          <td>
                               <span th:if="${gzhAutoReply.type == T(com.cju.gzhOps.GzhAutoReplyType).PRIVATE}" 
                                  class="remove-auto-reply glyphicon glyphicon-minus" role="button"> 
                               </span>
                          </td>
                        </tr>
                    </tbody>
                </table>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
                
                <hr>
                <button type="button" class="btn btn-default" id="saveAutoReply" th:text="#{tl.save}"> </button>
                
                <a id="saveAutoReplyPostUrl" th:href="@{/gzhOps/api/v1/autoReply}"> </a>
                
                <br>
                <br>
                <div class="panel panel-primary">
                    <div class="panel-heading"> 小提示　</div>
                    <div class="panel-body">
                        <ul>
                            <li> 你的公众号用户在你的公众号输入关键字后，会被转发到本系统。  </li>
                            <li> 本系统首先在你的公众号的自动回复配置里查找 用户输入的关键字，如果找到，对应的自动回复就会返回给用户。</li>
                            <li> 如果没有在你的公众号里找到用户输入的关键字，系统会查找你是否配置了关键字是<code>缺省关键字</code>的自动回复。如果你配置了，对应的回复信息就会返回到用户的微信端。</li>
                            <li> 如何你没有配置<code>缺省关键字</code>，系统会在公共的自动回复里查找用户的关键字。</li>
                            <li> 如果公共的自动回复里没有用户输入的关键字，系统会查找公共自动回复里的<code>缺省关键字</code>并返回给用户。</li>
                        </ul>
                    </div>
                </div>
            </div>

<th:block layout:fragment="file-end-script">  
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="autoReplyTrTemplate" type="text/x-handlebars-template">
        <tr>
            <td class="hide">
                <div class="auto-reply-id"> </div>
            </td>
            <td>
                <div class="auto-reply-type">私有</div>
            </td>
            <td>
                <div class="auto-reply-key ws-pre-wrap editable-field editable-click" data-type="text" data-original-title="关键字">关键字</div>
            </td>
            <td>
                <div class="auto-reply-message ws-pre-wrap editable-field editable-click" data-type="textarea"  data-original-title="自动回复消息">自动回复消息 </div>
            </td>
            <td> <span class="remove-auto-reply glyphicon glyphicon-minus" role="button"> </span> </td>
         </tr>
    </script>
    
    <script th:inline="javascript"> 
        $(function () {
            var removeList = [];
            var autoReplyTrTemplate = Handlebars.compile($("#autoReplyTrTemplate").html());
            
            //register add handler
            $('.add-auto-reply').click(function(e) {
                var autoReplyTr = autoReplyTrTemplate();
                $('tbody').append(autoReplyTr);
            });
            
            //While this (or event.currentTarget, see below) always refers to the DOM element the listener was attached to, 
            //event.target is the actual DOM element that was clicked.

            //Register remove handler with Jquery delegate
            $('tbody').on('click', '.remove-auto-reply', function() {
                var $tr = $(this).closest("tr");
                var autoReplyId = parseInt($tr.find ('td div.auto-reply-id').text().trim());
                if (!!autoReplyId)
                    removeList.push(autoReplyId);
                $(this).closest("tr").remove();
            });
           
            //bootstrap3-editable is X-editable - v1.5.3
            //Editable with delegate via selector. 
            //When using selector, add editable-click class to editable-field. Otherwise, it looks like editable only after user click it.
            $('tbody').editable({
                selector: '.editable-field',
                toggle: 'dblclick',
                mode: 'inline',
                emptytext: ''
            });
            
            $("#saveAutoReply").click( function () { 
               var $createOrEditList = $('tbody tr')
                  .filter(function(index, tr) {
                      var $tr = $(tr); 
                      var autoReplyType = $tr.find ('td div.auto-reply-type').text().trim();
                      return (autoReplyType == [[${T(com.cju.gzhOps.GzhAutoReplyType).PRIVATE}]])
                  })
                  .map(function() { 
                       var $tr = $(this); 
                       var autoReplyId = $tr.find ('td div.auto-reply-id').text().trim();
                       var autoReplyType = $tr.find ('td div.auto-reply-type').text().trim();
                       var autoReplyKey = $tr.find ('td div.auto-reply-key').text().trim();
                       var autoReplyMessage = $tr.find ('td div.auto-reply-message').text().trim();
                       var autoReply = {  
                           type: autoReplyType,
                           key: autoReplyKey,
                           message: autoReplyMessage
                       };
                       if (autoReplyId != 0) 
                         autoReply.id = autoReplyId;
                       return autoReply;
                  });
              
               //$createOrEditList.get() returns the arrary
               var autoReplyPostData = {
                   createOrEditList: $createOrEditList.get(),
                   removeList: removeList
               }

               var autoReplyJson = JSON.stringify(autoReplyPostData, null, ' ');
               console.log(autoReplyJson);
               var saveAutoReplyPostUrl = "/gzhOps/api/v1/autoReply";
               $.post(saveAutoReplyPostUrl,
                   autoReplyJson, 
                   function (data) {
                       console.log("data=" + data);
                       var saveSuccess = [[#{tl.save.success}]];
                       alert(saveSuccess);
                       //reload the page so that the autoReplyId for new entries are updated.
                       window.location.reload();
                   })
               .fail(function(jqXHR, textStatus, errorThrown) {
                   alert(jqXHR.responseText);
               });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
        });
    </script>
</th:block>    
</body>
</html>
