<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.contact.list}"></h4>
                <hr>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th sec:authorize="hasRole('WEBADMIN')">
                                <a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany}">gzhCompany</a>
                            </th>
                            <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.contact.name}">name</a></th>
                            <th><a class="sorted" sd:pagination-sort="title" th:text="#{tl.contact.job.title}">title</a></th>
                            <th><a class="sorted" sd:pagination-sort="mobile" th:text="#{tl.contact.mobile}">mobile</a></th>
                            <th><a class="sorted" sd:pagination-sort="weixin" th:text="#{tl.contact.weixin}">weixin</a></th>
                            <th><a class="sorted" sd:pagination-sort="weixin" th:text="#{tl.contact.email}">weixin</a></th>
                            <th> <span class="add-contact glyphicon glyphicon-plus" role="button"> </span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gzhContact : ${gzhContactPage.content}">
                          <td  class="hide" >
                              <div class="contact-id" th:text="${gzhContact.id}">
                              </div>
                          </td>
                          <td sec:authorize="hasRole('WEBADMIN')">
                              <div th:text="${gzhContact.gzhCompany.name}" > </div> 
                          </td>
                          <td>
                              <div class="contact-name ws-pre-wrap editable-field editable-click editable-ws-before" 
                                   data-type="text" th:attr="data-original-title=#{tl.contact.name.edit}" th:text="${gzhContact.name}" >
                              </div>
                          </td>
                          <td>
                              <div class="contact-job-title ws-pre-wrap editable-field editable-click editable-ws-before" 
                                   data-type="text" th:attr="data-original-title=#{tl.contact.job.title.edit}" th:text="${gzhContact.jobTitle}" >
                              </div>
                          </td>
                          <td>
                              <div class="contact-mobile ws-pre-wrap editable-field editable-click editable-ws-before" 
                                   data-type="text" th:attr="data-original-title=#{tl.contact.mobile.edit}" th:text="${gzhContact.mobile}" >
                              </div>
                          </td>
                          <td>
                              <div class="contact-weixin ws-pre-wrap editable-field editable-click editable-ws-before" 
                                   data-type="text" th:attr="data-original-title=#{tl.contact.weixin.edit}" th:text="${gzhContact.weixin}" >
                              </div>
                          </td>
                          <td>
                              <div class="contact-email ws-pre-wrap editable-field editable-click editable-ws-before" 
                                   data-type="text" th:attr="data-original-title=#{tl.contact.email.edit}" th:text="${gzhContact.email}" >
                              </div>
                          </td>
                          <td>
                               <span  
                                  class="remove-contact glyphicon glyphicon-minus" role="button"> 
                               </span>
                          </td>
                        </tr>
                    </tbody>
                </table>
               
                <div sec:authorize="hasRole('WEBADMIN')"> 
                    <hr>
                    <div th:replace="commonFragments :: aligned-links-pagination"></div> 
                </div> 
                
                <br>
                <button type="button" class="btn btn-default" id="saveContact" th:text="#{tl.save}"></button>
                
                <a id="saveContactPostUrl" th:href="@{/gzhOps/api/v1/contact/myList}"> </a>
            </div>

<th:block layout:fragment="file-end-script">  
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="gzhContactTemplate" type="text/x-handlebars-template">
        <tr> 
            <td class="hide">  <div class="contact-id"> </div>  </td>'
            <td> <div class="contact-name ws-pre-wrap editable-field editable-click" data-original-title="姓名"> </div> </td>
            <td> <div class="contact-job-title ws-pre-wrap editable-field editable-click" data-original-title="职务"> </div> </td>
            <td> <div class="contact-mobile  ws-pre-wrap editable-field editable-click" data-original-title="手机"> </div> </td>
            <td> <div class="contact-weixin ws-pre-wrap editable-field editable-click" data-original-title="微信"> </div> </td>
            <td> <div class="contact-email ws-pre-wrap editable-field editable-click" data-original-title="邮箱"> </div> </td>
            <td> <span class="remove-contact glyphicon glyphicon-minus" role="button"> </span> </td>
        </tr>
    </script>
    <script th:inline="javascript"> 
        $(function () {
             var gzhContactTemplate = Handlebars.compile($("#gzhContactTemplate").html());
             var removeList = [];
             
             $(".add-contact").click(function(e) {
                 var context = {};
                 var gzhContact = gzhContactTemplate(context);
                 $("tbody").append(gzhContact);
             });
             
             $('tbody').on('click', '.remove-contact', function(e) {
                 var $tr = $(this).closest("tr");
                 var contactId = parseInt($tr.find ('td div.contact-id').text().trim());
                 if (!!contactId)
                     removeList.push(contactId);
                 console.log("removeList=" + removeList);
                 $(this).closest("tr").remove();
             })  
            
             //bootstrap3-editable is X-editable - v1.5.3 
             //The .val() method is primarily used to get the values of form elements such as input, select and textarea.
             $('tbody').editable({
                 selector: '.editable-field',
                 toggle: 'dblclick',
                 mode: 'inline',
                 emptytext: ' ',
                 emptyclass: '',
             });
        
             $("#saveContact").click( function () { 
                 var $contactWithoutNameList = $('tbody tr')
                    .filter(function(index, tr) {
                       var $tr = $(tr); 
                       var contactName = $tr.find ('td div.contact-name').text().trim();
                       return (contactName == '');
                    })
                 if ($contactWithoutNameList.length > 0) {
                    var error = [[#{tl.contact.name.cannot.empty}]]
                    alert(error);
                    return;
                 }
                 
                 console.log("after name empty check");
                 var $createOrEditList = $('tbody tr')
                    .map(function() { 
                       var $tr = $(this); 
                       var contactId = $tr.find ('td div.contact-id').text().trim();
                       var contactName = $tr.find ('td div.contact-name').text().trim();
                       var contactJobTitle = $tr.find ('td div.contact-job-title').text().trim();
                       var contactMobile = $tr.find ('td div.contact-mobile').text().trim();
                       var contactWeiXin = $tr.find ('td div.contact-weixin').text().trim();
                       var contactEmail = $tr.find ('td div.contact-email').text().trim();
                       var contact = {  
                           name: contactName,
                           jobTitle: contactJobTitle,
                           mobile: contactMobile,
                           weixin: contactWeiXin,
                           email: contactEmail
                       };
                       if (contactId != 0) 
                         contact.id = contactId;
                       return contact;
                 });
              
                 //$createOrEditList.get() returns the arrary
                 var contactPostData = {
                     createOrEditList: $createOrEditList.get(),
                     removeList: removeList
                 }
                 removeList = [];
                 var contactJson = JSON.stringify(contactPostData, null, '    ');
                 console.log(contactJson);
                 var saveContactPostUrl = $('#saveContactPostUrl').attr('href');
                 console.log('saveContactPostUrl=' + saveContactPostUrl);
                 $.post(saveContactPostUrl,
                     contactJson, 
                     function (data) {
                         //user may create a new contact. And server will allocate ID for new contact.
                         //So we need to update contactId.
                         console.log("data=" + data);
                       //  var returnedContactList = JSON.parse(data);
                       //  var $contactList = $('tbody tr');
                         
                         //returnedcontactList is Javascript array, not Jquery array.
                        // returnedContactList.forEach(function(element) {
                        //     console.log("element name=" + element.name);
                         //    var $contactTr = $contactList
                         //        .filter(function(index, tr) {
                        //              var $tr = $(tr); 
                        //              var contactName = $tr.find('td div.contact-name').text().trim();
                        //              return (contactName == element.name);
                        //         });
                        //     $contactTr.find('td div.contact-id').text(element.id);
                        // });
                         
                         var saveSuccess = [[#{tl.save.success}]];
                         alert(saveSuccess);
                         window.location.reload();
                 })
                 .fail(function(jqXHR, textStatus, errorThrown) {
                     alert(jqXHR.responseText);
                 });
             });
              
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
             var csrfHeader = {};
             csrfHeader[header] = token;
             $.ajaxSetup({ 
                 headers : csrfHeader, 
                 contentType : "application/json"
             });
        });
    </script>
</th:block>    
</body>
</html>
