<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.gzhcompany.details}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.name}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.owner.name}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.ownerUser} ? ${gzhCompany.ownerUser.userName}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.admin.name}"> </div>
                         <div class="col-xs-7 nopadding-left">
                              <div th:each="admin : ${gzhCompany.adminUserList}" th:text="${admin.userName}" > </div>
                         </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.gzhId}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.gzhId}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.appId}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.appId}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.appSecret}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.appSecret}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.service.type}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.serviceType}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.gzh.menu.type}"> </div>
                         <div id="serviceRunningStatus" class="col-xs-7 nopadding-left" th:text="${gzhCompany.gzhMenuType}"> </div>
                     </div>
                 </div>   
                 
                 <br>
                 <a th:href="@{/gzhOps/gzhCompany/edit/{id}(id=${gzhCompany.id})}" class="btn btn-default margin-right-15" th:text="#{tl.edit}"> </a>
                 <button sec:authorize="hasRole('WEBADMIN')" class="btn btn-default" data-toggle="modal" data-target="#createGzhClientCompanyModal"> 创建公众号客户公司    </button>
                 
                 <hr> 
                 <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.billing.balance}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.account.balance}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.billing.status}"> </div>
                         <div id="billingStatus" class="col-xs-7 nopadding-left" th:text="${gzhCompany.billingStatus}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.trial.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.trialStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8" th:if="${gzhCompany.billingStatus != T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.active.billing.start.date}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.activeBillingStartDate}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.payment.status}"> </div>
                         <div class="col-xs-7 nopadding-left" th:text="${gzhCompany.paymentStatus}"> </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhcompany.service.running.status}"> </div>
                         <div id="serviceRunningStatus" class="col-xs-7 nopadding-left" th:text="${gzhCompany.serviceRunningStatus}"> </div>
                     </div>
                 </div>
                 
                 <br>
                 
                 <button th:if="${gzhCompany.billingStatus == T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL_NOT_STARTED}" 
                         class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.start.trial.one.month}"
                         data-toggle="modal" data-target="#startTrialModal">  
                 </button>
                 
                 <button id="startServiceButton" class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.start.service}">  </button>
                 
                 <button th:if="${#authentication.name == gzhCompany.ownerUser.userName}" 
                         class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.stop.billing}"
                         data-toggle="modal" data-target="#stopBillingModal">  
                 </button>
                 <button th:if="${#authentication.name == gzhCompany.ownerUser.userName}" 
                         class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.restart.billing}"
                         data-toggle="modal" data-target="#restartBillingModal">  
                 </button>
                 
                 <button sec:authorize="hasRole('WEBADMIN')" 
                         class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.stop.billing}"
                         data-toggle="modal" data-target="#stopBillingModal">  
                 </button>
                 <button sec:authorize="hasRole('WEBADMIN')" 
                         class="btn btn-default margin-right-15"  th:text="#{tl.gzhcompany.restart.billing}"
                         data-toggle="modal" data-target="#restartBillingModal">  
                 </button>
                 <hr>
                 
                 <!-- Modal for webadmin to create gzhClientCompany -->
                 <div class="modal fade" id="createGzhClientCompanyModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">创建公众号客户公司</h5>
                                  </div>
                                  <div class="modal-body">
                                       <div class="form-group containing-float">
                                          <label class="col-xs-4 control-label">公众号客户公司名称</label>
                                          <div class="col-xs-6">
                                              <input id="gzhClientCompanyName" class="form-control" type="text"> 
                                          </div>
                                       </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                      <button id="createGzhClientCompanyBtn" type="button" class="btn btn-default" data-dismiss="modal">
                                            <span> 创建 </span>
                                      </button>
                                  </div>
                            </div>
                          </div>
                 </div>
                 
                 <!-- Modal for start trial -->
                 <div class="modal fade" id="startTrialModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" th:text="#{tl.gzhcompany.start.trial.attention}"> </h5>
                                  </div>
                                  <div class="modal-body">
                                       <div class="ws-pre-wrap  alert alert-info" th:utext="#{tl.gzhcompany.start.trial.info.part1}"> </div>
                                       <div class="ws-pre-wrap  alert alert-info" th:utext="#{tl.gzhcompany.start.trial.info.part2}"> </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                      <button id="startTrialButton" type="button" class="btn btn-default" data-dismiss="modal">
                                         <span th:text="#{tl.gzhcompany.start.trial}"> </span>
                                      </button>
                                  </div>
                            </div>
                          </div>
                 </div>
                  
                 <!-- Modal for start service error message -->
                 <div class="modal fade" id="startServiceErrMsgModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" th:text="#{tl.gzhcompany.start.service.error}"> </h5>
                                  </div>
                                  <div class="modal-body">
                                       <div id="startServiceErrMsg" class="ws-pre-wrap  alert alert-warning"> </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                  </div>
                            </div>
                          </div>
                 </div>
                 
                 <!-- Modal for stop billing -->
                 <div class="modal fade" id="stopBillingModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" th:text="#{tl.gzhcompany.stop.billing.warning}"> </h5>
                                  </div>
                                  <div class="modal-body">
                                       <div class="ws-pre-wrap  alert alert-warning"> 
                                           <ol>
                                               <li>只有公众号公司的创建者才有权限做此操作。</li>
                                               <li>计费停止后，你的公众号关注者在访问你的公众号时将不会得到本平台的内容服务。</li>
                                               <li>如果你在免费试用期，停止计费不改变你的免费试用期的开始和结束日期。</li>
                                               <li>重新启动计费后，你的公众号关注者将重新获得本平台的内容服务。</li>
                                               <li>重新启动计费，你需要账户余额不为负数才可重启计费。</li>
                                               <li>重新启动计费，不论是否还是在免费试用期，本平台将收取重启计费的费用200.00元。</li>
                                               <li>本平台不鼓励你停止计费，除非你不再需要本平台的服务。</li>
                                               <li>如有其它特殊原因需要停止计费，请先和本平台的技术支持联系。</li>
                                           </ol>
                                       </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                       <button id="stopBillingButton" type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.gzhcompany.stop.billing}"> </span>
                                      </button>
                                  </div>
                            </div>
                          </div>
                  </div>
                  
                 <!-- Modal for restart billing -->
                 <div class="modal fade" id="restartBillingModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" th:text="#{tl.gzhcompany.restart.billing.info}"> </h5>
                                  </div>
                                  <div class="modal-body">
                                       <div class="ws-pre-wrap  alert alert-info"> 
                                           <ol>
                                               <li>只有公众号公司的创建者才有权限做此操作。</li>
                                               <li>重新启动计费后，你的公众号关注者将重新获得本平台的内容服务。</li>
                                               <li>重新启动计费，你需要账户余额不为负数才可重启计费。</li>
                                               <li>重新启动计费，不论是否还是在免费试用期，本平台将收取重启计费的费用200.00元。</li>
                                           </ol>
                                       </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                       <button id="restartBillingButton" type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.gzhcompany.restart.billing}"> </span>
                                      </button>
                                  </div>
                            </div>
                          </div>
                  </div>
                 
                  <!-- Modal 
                     <button class="btn btn-default" data-toggle="modal" data-target="#removeGzhCompanyModal" th:text="#{tl.gzhcompany.remove}"> </button>
                      <div class="modal fade" id="removeGzhCompanyModal" tabindex="-1" >
                          <div class="modal-dialog modal-lg" >
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" th:text="#{tl.gzhcompany.remove}"> </h5>
                                  </div>
                                  <div class="modal-body">
                                       <div class="ws-pre-wrap  alert alert-danger" th:utext="#{tl.gzhcompany.remove.warning}"> 
                                       </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">
                                           <span th:text="#{tl.close}"></span>
                                       </button>
                                      <button id="removeButton" type="button" class="btn btn-default" data-dismiss="modal">
                                         <span th:text="#{tl.remove}"> </span>
                                      </button>
                                  </div>
                            </div>
                          </div>
                      </div>
                      $('#removeButton').on("click.bs.modal", function(e) {
                          $.ajax({
                             url: '/gzhOps/api/v1/gzhCompany/' + [[${gzhCompany.id}]],
                             type: 'DELETE',
                             success: function (responseText) {
                                 alert(responseText);
                                 window.location.href="/gzhOps/gzhCompany/create";
                             },
                             error: function(xhr, textStatus, errorThrown) {
                                 var message = [[#{tl.gzhcompany.remove.by.owner.only}]];
                                 alert(message + '\n' + xhr.responseText);
                                 console.log(xhr.responseText);
                             }
                          
                          });
                      });
                  -->
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:inline="javascript">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader,  
               contentType : "application/json"
            });
            
            $('#createGzhClientCompanyBtn').on("click.bs.modal", function(e) {
                var gzhClientCompanyName = $('#gzhClientCompanyName').val();
                var gzhClientCompany = {
                        gzhClientCompanyName: gzhClientCompanyName
                    };
                    
                var gzhClientCompanyJson = JSON.stringify(gzhClientCompany, null, ' ');
                
                $.post("/gzhOps/api/v1/gzhCompany/createClientCompany/" + [[${gzhCompany.id}]],
                    gzhClientCompanyJson,
                       function (data) {
                          console.log(data);
                          alert("创建公众号客户公司成功");
                          window.location.reload();
                      })
                     .fail(function(jqXHR, textStatus, errorThrown) {
                          console.log(jqXHR.responseText);
                          alert(jqXHR.responseText);
                      });
            });
            
            $('#startTrialButton').on("click.bs.modal", function(e) {
                $.ajax({
                   url: '/gzhOps/api/v1/gzhCompany/startTrial/' + [[${gzhCompany.id}]],
                   type: 'POST',
                   success: function (responseText) {
                       $('#billingStatus').text([[${T(com.cju.gzhOps.GzhCompanyBillingStatus).TRIAL}]]);
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       alert(xhr.responseText);
                       console.log(xhr.responseText);
                   }
                });
            });
            
            $('#startServiceButton').on("click.bs.modal", function(e) {
                $.ajax({
                   url: '/gzhOps/api/v1/gzhCompany/startService/' + [[${gzhCompany.id}]],
                   type: 'POST',
                   success: function (responseText) {
                       //$('#serviceRunningStatus').text([[${T(com.cju.gzhOps.GzhCompanyServiceRunningStatus).RUNNING}]]);
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       $('#startServiceErrMsg').html(xhr.responseText);
                       console.log(xhr.responseText);
                       $('#startServiceErrMsgModal').modal('show');
                   }
                });
            });
            
            $('#stopBillingButton').on("click.bs.modal", function(e) {
                $.ajax({
                   url: '/gzhOps/api/v1/gzhCompany/stopBilling/' + [[${gzhCompany.id}]],
                   type: 'POST',
                   success: function (responseText) {
                       //$('#serviceRunningStatus').text([[${T(com.cju.gzhOps.GzhCompanyServiceRunningStatus).RUNNING}]]);
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       console.log(xhr.responseText);
                       alert(xhr.responseText);
                   }
                });
            });
            
            $('#restartBillingButton').on("click.bs.modal", function(e) {
                $.ajax({
                   url: '/gzhOps/api/v1/gzhCompany/restartBilling/' + [[${gzhCompany.id}]],
                   type: 'POST',
                   success: function (responseText) {
                       alert(responseText);
                       window.location.reload();
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       console.log(xhr.responseText);
                       alert(xhr.responseText);
                   }
                });
            });
        });
    </script>
</th:block>              
</body>
</html>
