<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorator="masterSidemenuLayout">
    
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理</title>
</head>
    
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
               <!-- use th:action here. It will insert csrf token automaticly in the form 
                    which is required to pass Spring Security.
                    th:object tells Spring to collect the user input in to company object
               -->
             
               <form id="gzhCompanyCreateForm" class="form-horizontal"  th:action="@{/gzhOps/gzhCompany/create}" th:object="${gzhCompany}" method="post">
                    <fieldset>
                        <!-- Form Name -->
                        <legend th:text="#{tl.gzhcompany.create}">  </legend>  
                        <!-- Text input-->    
                        <div class="form-group hide">
                            <label class="col-md-4 control-label">id</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{id}" readonly="readonly">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.name}">name</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{name}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.gzhId}">gzhId</label>
                            <div class="col-md-6">
                                  <input class="form-control"  type="text" th:field="*{gzhId}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.appId}">appId</label>
                            <div class="col-md-6 ">
                                  <input class="form-control"  type="text" th:field="*{appId}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.appSecret}">appSecret</label>
                            <div class="col-md-6 ">
                                  <input class="form-control"  type="text" th:field="*{appSecret}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhplatform.service.terms}">appSecret</label>
                            <div class="col-md-6 ">
                                 <p> 如果你点击提交按钮来创建公众号公司，那么意味着你同意并接受 <a href="/pub/home/serviceTerms" target="_blank"> 服务条款. </a>  
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default" > </div>
                </form>
                
                <br>
                <div class="panel panel-primary">
                    <div class="panel-heading"> 小提示　</div>
                    <div class="panel-body">
                        <p>  查看使用说明中<a href="/pub/home/usage#createGzhCompany">创建公众号公司 </a>部分来了解如何获取你的微信gzhId，微信appId， 微信appSecret。</p>
                    </div>
                </div> 
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>  
    <!-- 
       To make bootstrap validator show localized message such as Chinese:
       When calling the plugin, .bootstrapValidator(), just don't set the message option.
       The messages then are taken from the translation package.
     -->
    <script th:inline="javascript">
        $(document).ready(function() {
           var validator = $('#gzhCompanyCreateForm').bootstrapValidator({
                  // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                  feedbackIcons : {
                    valid : 'glyphicon glyphicon-ok',
                    invalid : 'glyphicon glyphicon-remove',
                    validating : 'glyphicon glyphicon-refresh'
                  },
                  fields : {
                    name: {
                        validators: {
                            notEmpty: {
                            }
                        }
                    },
                  } // end of fields
              }) //end of bootstrapValidator
              
              validator.on('success.form.bv', function(e) {
                  console.log("form validated success xxxxxxxxxxx");
                  //Do not do resetForm as it will reset the form internal state in bootstrap validator resulting in 
                  //bootstrap validator not sending the form whether using Ajax or not.
                  //By default, bootstrap validator will send the form (not using Ajax) when all validation are passed.
                  //To use Ajax to send the form after validation, the following code is needed here, but not tested.
                 
                  // Prevent form submission
                  // e.preventDefault();

                  // Get the form instance
                  //var $form = $(e.target);

                  // Get the BootstrapValidator instance
                  // var bv = $form.data('bootstrapValidator');

                  // Use Ajax to submit form data. The action here does not have the host part, which is not right.
                  // $.post($form.attr('action'), $form.serialize(), function(result) {
                  //    console.log(result);
                  // }, 'json');
              });
        }); // end of document ready
    </script>
</th:block>

</body>
</html>

