<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理-公众号客户公司列表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
               <div class="table-responsive">
                   <h4 class="padding-left-8" th:text="#{tl.gzhclientcompany}"></h4>
                   <hr>
                   <table id="row-clickable-table" class="table table-striped table-hover">
                     <thead>
                        <tr>
                            <th:block sec:authorize="hasRole('WEBADMIN')" >
                                <th> <a class="sorted" sd:pagination-sort="Id" >Id</a> </th>
                                <th> <a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhclientcompany.gzhcompany}">serviceGzhCompany</a></th>
                            </th:block>
                            <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.gzhclientcompany.name}">Name</a></th>
                            <th><a class="sorted" sd:pagination-sort="userNoteName" th:text="#{tl.gzhclientcompany.userNoteName}">userNoteName</a></th>
                            <th><a class="sorted" sd:pagination-sort="gzhUserList" th:text="#{tl.gzhclientcompany.gzhuser.list}">Associated GzhUser</a></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="row : ${gzhClientCompanyPage.content}" class="clickable-row" th:href="@{/gzhOps/gzhClientCompany/details/{id}(id=${row.id})}" role="button">
                            <th:block sec:authorize="hasRole('WEBADMIN')" >
                                <td th:text="${row.Id}">Id </td>
                                <td>
                                    <a th:href="@{/gzhOps/gzhCompany/details/{id}(id=${row.gzhCompany.id})}"
                                       th:text="${row.gzhCompany} ? ${row.gzhCompany.name}">
                                       serviceGzhCompany
                                    </a>
                                </td>
                            </th:block>
                            <td th:text="${row.chanjetClientCompany.name}">Name</td>
                            <td th:text="${row.chanjetClientCompany.userNoteName}">userNoteName</td>
                            <td>
                                <div th:each="gzhUser : ${row.gzhUserList}">
                                    <a th:href="@{/gzhOps/gzhUser/details/{id}(id=${gzhUser.id})}"
                                       th:text="${gzhUser.nickName}" > 
                                       Associated GzhUser 
                                    </a>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
