<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/css/jquery-ui.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/pub/css/gzh-menu.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.gzhcompany.gzh.menu}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row table-row width-100 padding-tb-8"> 
                         <div class="col-xs-3 table-cell nopadding-left"> 
                             <div class="menu_preview_area">                
                                 <div class="mobile_menu_preview" onclick="clearMenuItemSelection()">                    
                                     <div class="mobile_hd" th:text="${gzhCompany.name}"></div>                    
                                     <ul id="l1MenuList" class="pre_menu_list">
                                         <li id="addL1MenuBtn" class="pre_menu_item overflow_hidden" onclick="clickL1MenuItemAddBtn()">
                                            <a href="javascript:void(0);" class="pre_menu_link" title="最多添加3个一级菜单" draggable="false">
                                                <i class="icon14_menu_add"></i>
                                            </a>
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                         <div class="col-xs-9 table-cell menu_form_background"> 
                              <div id="menuItemDetails"> </div>
                              <span class="editor_arrow_wrp">                        
                                   <i class="editor_arrow editor_arrow_out"></i>                        
                                   <i class="editor_arrow editor_arrow_in"></i>                    
                              </span>
                         </div>
                     </div>
                     
                     <br>
                     <div class="row table-row width-100 padding-tb-8"> 
                         <div class="col-xs-3 table-cell nopadding-left">
                             <div style="width: 317px" class="containing-float"> 
                                 <button id="loadSystemDefaultMenu" class="btn btn-default float-left"> 加载系统缺省菜单　</button>
                                 <button id="loadSelfDefinedMenu" class="btn btn-default float-right"> 加载自定义菜单　</button>
                             </div>
                         </div>
                         <div class="col-xs-9 table-cell nopadding-left"> 
                             <button id="saveSelfDefinedMenu" class="btn btn-default"> 保存自定义菜单　</button>
                         </div>
                     </div>
                 </div>   
                 
            </div>

<th:block layout:fragment="file-end-script">    
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/js/jquery-ui.js')}"></script>
    
    <script id="l1MenuItemTemplate" type="text/x-handlebars-template">
        <li class="pre_menu_item l1_menu_item" data-menu-item-id={{menuItemId}} onclick="clickL1MenuItem(event)">
            <a href="javascript:void(0);" class="pre_menu_link">
                <span class="menu_item_name"> {{menuItemName}} </span>
            </a>
            <div class="sub_pre_menu_box">
                <ul class="sub_pre_menu_list">
                    <li onclick="clickL2MenuItemAddBtn(event, {{menuItemId}})">
                        <a href="javascript:void(0);" title="最多添加5个子菜单">
                            <span class="sub_pre_menu_inner"> <i class="icon14_menu_add"></i> </span>
                        </a>
                    </li>
                </ul>
                <i class="arrow arrow_out"></i>
                <i class="arrow arrow_in"></i>
            </div>
        </li>
    </script>
    
    <script id="l2MenuItemTemplate" type="text/x-handlebars-template">
        <li class="l2_menu_item" data-menu-item-id={{menuItemId}} onclick="clickL2MenuItem(event)" >
            <a href="javascript:void(0);" class="sub_pre_menu_link">
                <span class="menu_item_name sub_pre_menu_inner"> {{menuItemName}} </span>
            </a>
        </li>
    </script>
    
    <script id="l1MenuItemDetailsTemplate" type="text/x-handlebars-template">
        <div class="menu_form_area" data-menu-item-id={{menuItemId}}>
             <div class="menu_form_hd">                            
                  <span class="menu_item_name float-left"> {{menuItemName}} </span>                            
                  <div class="text-right">                                
                       <a href="javascript:void(0);" onclick="removeL1MenuItem(event)">删除菜单</a>                            
                  </div>                        
             </div>  
             {{> menuFormBody}} 

        </div>
    </script>
    
    <script id="l2MenuItemDetailsTemplate" type="text/x-handlebars-template">
        <div class="menu_form_area" data-menu-item-id={{menuItemId}}>
             <div class="menu_form_hd">                            
                  <span class="menu_item_name float-left">{{menuItemName}}</span>                            
                  <div class="text-right">                                
                       <a href="javascript:void(0);" onclick="removeL2MenuItem(event)">删除子菜单</a>                            
                  </div>                        
             </div> 
             {{> menuFormBody}} 
        </div>
    </script>

    <script id="menuFormBodyTemplate" type="text/x-handlebars-template">
        <div class="menu_form_bd" id="view">       
             <div id="l1MenuItemNameOnly" class="frm_tips padding-top-10" hidden>已添加子菜单，仅可设置菜单名称。</div>                     
             <div class="frm_control_group">                                
                  <span class="frm_label"> {{menuItemNameLabel}} </span>                               
                  <div class="frm_controls">     
                      <span class="frm_input_box with_counter counter_in append">                                         
                           <input type="text" onblur="menuItemNameInputOnBlur(event, {{menuNameLengthLimit}})" onkeyup="menuItemNameInputOnKeyup(event, {{menuNameLengthLimit}})">                                    
                      </span>                                    
                      <p id="menuItemNameOverLimit" class="frm_msg fail" style="display: none;">字数超过上限</p>                                    
                      <p class="frm_msg fail" style="display: none;">请输入菜单名称</p>                                    
                      <p class="frm_tips"> {{menuNameLengthLimitMsg}}</p>                                
                  </div>                            
             </div>  
             <div id="menuItemBody" hidden>
                 <div class="frm_control_group">                                
                      <span class="frm_label">  {{menuItemContent}} </span>                                
                      <div class="frm_controls frm_vertical_pt" onchange="menuItemTypeOnChange(event)">                                                                        
                           <span class="frm_radio_label">                                        
                               <input type="radio" name="menuItemType" value="click">                                    
                               <span>发送消息</span>                                        
                           </span>                                                                        
                           <span class="frm_radio_label">                                        
                               <input type="radio" name="menuItemType" value="view">                                    
                               <span>跳转网页</span>                                        
                           </span>                                                                        
                      </div>                            
                 </div> 
                 <div class="menu_content" id="sendMsgMenuContent" hidden>  
                     <div class="menu_form_hd">  
                          <span class="frm_label"> 消息关键字 </span>                               
                          <div class="take-remaining-space-after-float">     
                               <input type="text" style="width: 100%" value="{{menuItemKey}}" onblur="menuItemKeyInputOnBlur(event)">                                    
                          </div>     
                     </div>                             
                     <div class="frm_control_group frm_tips">
                          <p> 订阅者点击该子菜单后，对应的消息关键字会发送到本平台。你在本平台<a href="/gzhOps/autoReply/list" target="_blank">公众号自动回复</a>中配置的对应该关键字的消息会返回给订阅者。 </p>
                     </div>   
                </div> 
        
                <div class="menu_content" id="urlMenuContent" hidden>                                    
                     <div class="menu_form_hd">                                            
                         <span class="frm_label">页面地址</span>                                            
                         <div class="take-remaining-space-after-float" >                                                
                              <input type="text" style="width: 100%" value="{{menuItemUrl}}" onblur="menuItemUrlInputOnBlur(event)">                                                
                         </div>                                        
                    </div>                                  
                    <div class="frm_control_group frm_tips">
                         <p> 订阅者点击该子菜单会跳到页面地址。 </p>
                         <p> 页面地址可以是你在本系统里创建的<a href="/gzhOps/htmlPage/selfDefined/list" target="_blank">自定义网页的链接地址</a> </p>
                         <p> 页面地址可以是本系统提供的<a href="/gzhOps/systemLink/list" target="_blank">系统链接</a>。</p>
                         <p> 页面地址也可以是系统外部的任意的网页链接。网页链接需要以http://开头。 </p>
                    </div>   
                </div>
             </div>
        </div>        
    </script>
    
    <script th:inline="javascript"> 
        //inline onclick function call is actually wrapped inside an anonymous function, 
        //Inside the anonymous function, this pointer refers to the clicked element.
        //But inside the onclick function this pointer refers to the global window object
        //To pass the clicked DOM element to onclick function, use onclick_function.call(this) to bind this pointer.
        //To pass event to the onclick function, use the event parameter
        //event.currentTarget is the element that is currently handle the event
        
        //Events triggered with .trigger() bubble up the DOM hierarchy; Even when event.stopPropagation() is called in clickL2MenuItem(event);
        //Events triggered with .triggerHandler() do not bubble up the DOM hierarchy; If they are not handled by the target element directly, they do nothing.
        //When the click event is triggered by trigger("click") or triggerHandler('click'), currentTarget is not set.
        
        var gzhMenu = {
            menuItemId : 0,
            menuItemMap : new Map()
        }
        
        function clickL1MenuItemAddBtn() {
            event.stopPropagation();
            
            var menuItemName = "菜单名称";
            var addSuccess = addL1MenuItemToDom(menuItemName);
            if (addSuccess) {
                $('#l1MenuList').find('.l1_menu_item:last').triggerHandler("click");
            }
        }
        
        function addL1MenuItemToDom(menuItemName) {
            var l1MenuItemCount = $('.l1_menu_item').length;
            if (l1MenuItemCount >= 3) {
                return false;
            }
            l1MenuItemCount++;
            
            gzhMenu.menuItemId++;
            gzhMenu.menuItemMap.set(gzhMenu.menuItemId, {name: menuItemName});
            
            var context = {
                menuItemId: gzhMenu.menuItemId,
                menuItemName: menuItemName,
            };
            
            var menuItem = gzhMenu.l1MenuItemTemplate(context);
            $(menuItem).insertBefore('#addL1MenuBtn');
            
            var widthCount = l1MenuItemCount + 1.0;
            if (widthCount > 3.0)
                widthCount = 3.0;
            var widthPercentage = (100.0/widthCount).toFixed(2) + '%';
            $('li.l1_menu_item').css("width", widthPercentage);
            
            var $newL1MenuItem = $('#l1MenuList').find('.l1_menu_item:last');
            $newL1MenuItem.sortable({
                items: '.l2_menu_item',
                containment: "parent",
                forceHelperSize: true,
                placeholder: "background-yellow",
                forcePlaceholderSize: true,
                tolerance: "pointer",
                revert: true,
                opacity: 0.5,
                distance: 5,
                axis: "y"
            });
            
            return true;
        };
        
        function clickL2MenuItemAddBtn(event, l1MenuItemId) {
            event.stopPropagation();

            var l2MenuItemName = "子菜单名称";
            var addSuccess = addL2MenuItemToDom(l2MenuItemName, l1MenuItemId);
            if (addSuccess) {
                //Events triggered with .triggerHandler() do not bubble up the DOM hierarchy; If they are not handled by the target element directly, they do nothing.
                //Events triggered with .trigger() bubble up the DOM hierarchy; Even when event.stopPropagation() is called in clickL2MenuItem(event);
                var $newL2MenuItem = $(event.currentTarget).parent('.sub_pre_menu_list').find('.l2_menu_item:first');
                $newL2MenuItem.triggerHandler("click");
            }
        }
        
        function addL2MenuItemToDom(l2MenuItemName, l1MenuItemId) {
            var $l1MenuItem = $('li[data-menu-item-id="' + l1MenuItemId + '"]');
            var l2MenuItemCount = $l1MenuItem.find('.l2_menu_item').length;
            if (l2MenuItemCount >= 5) {
                return false;
            }
            
            gzhMenu.menuItemId++;
            gzhMenu.menuItemMap.set(gzhMenu.menuItemId, {name: l2MenuItemName});
            
            var context = {
                 menuItemId: gzhMenu.menuItemId,
                 menuItemName: l2MenuItemName,
            };
            var $subMenuItem = $(gzhMenu.l2MenuItemTemplate(context));
            var $l2MenuItemList = $l1MenuItem.find('.sub_pre_menu_list');
            $l2MenuItemList.prepend($subMenuItem);
           
            return true;
        };
        
        function removeL1MenuItem(event) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            //menuItemId is a number, not a String
            var menuItemId = $menuFormArea.data("menuItemId");
            var $l1MenuItem = $('li[data-menu-item-id="' + menuItemId + '"]');
            
            //remove child menu item in the map
            $l1MenuItem.find('.l2_menu_item').each( function(index) {
                //this refers to the current l2_menu_item
                var l2MenuItemId = this.dataset.menuItemId;
                gzhMenu.menuItemMap.delete(l2MenuItemId);
            });
           
            gzhMenu.menuItemMap.delete(menuItemId);
            $l1MenuItem.remove();
            
            var widthPercentage = (100.0/(gzhMenu.l1MenuItemCount + 1.0)).toFixed(2) + '%';
            $('li.l1_menu_item').css("width", widthPercentage);
            $('#menuItemDetails').html('');
        };
        
        function removeL2MenuItem(event) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            //menuItemId is a number, not a String
            var menuItemId = $menuFormArea.data("menuItemId");
            var $menuItem = $('li[data-menu-item-id="' + menuItemId + '"]');
            $menuItem.remove();
            $('#menuItemDetails').html('');
            
            gzhMenu.menuItemMap.delete(menuItemId);
        };
        
        function clickL1MenuItem(event) {
            event.stopPropagation();
          
            //When the click event is triggered by trigger("click") or triggerHandler('click'), currentTarget is not set.
            var l1MenuItemElm = event.currentTarget || event.target;
            var menuItemId = l1MenuItemElm.dataset.menuItemId;
            var l1MenuItem = gzhMenu.menuItemMap.get(Number(menuItemId));
            
            $('.sub_pre_menu_box').hide();
            $('#l1MenuList').find('li').removeClass("current");
            var $l1MenuItem = $('li[data-menu-item-id="' + menuItemId + '"]');
            $l1MenuItem.addClass("current");
            $l1MenuItem.find('.sub_pre_menu_box').show();
            
            var context = {
                menuItemId: menuItemId,
                menuItemName: l1MenuItem.name,
                menuItemType: l1MenuItem.type,
                menuItemKey: l1MenuItem.key,
                menuItemUrl: l1MenuItem.url, 
                menuItemNameLabel: "菜单名称",
                menuItemContent: "菜单内容 ",
                menuNameLengthLimit: 8,
                menuNameLengthLimitMsg: "字数不超过4个汉字或8个字母"
            };
            var menuItemDetails = gzhMenu.l1MenuItemDetailsTemplate(context);
            $('#menuItemDetails').html(menuItemDetails);
            
            var l2MenuItemCount = $l1MenuItem.find('.l2_menu_item').length;
            if (l2MenuItemCount > 0) {
                $('#l1MenuItemNameOnly').show();
                $('#menuItemBody').hide();
            }
            else {
                $('#l1MenuItemNameOnly').hide();
                if (l1MenuItem.type == 'click') {
                    $('input[value="click"]').prop("checked", "true");
                    $('#sendMsgMenuContent').show();
                }
                else if (l1MenuItem.type == 'view') {
                    $('input[value="view"]').prop("checked", "true");
                    $('#urlMenuContent').show();
                }
                $('#menuItemBody').show();
            }
        };
        
        function clickL2MenuItem(event) {
            //When the click event is triggered by trigger("click"), event.stopPropagation() does not stop event propagation.
            event.stopPropagation();
            
            //When the click event is triggered by trigger("click") or triggerHandler('click'), currentTarget is not set.
            var l2MenuItemElm = event.currentTarget || event.target;
            var menuItemId = l2MenuItemElm.dataset.menuItemId;
            var l2MenuItem = gzhMenu.menuItemMap.get(Number(menuItemId));
            
            $('#l1MenuList').find('li').removeClass("current");
            $('li[data-menu-item-id="' + menuItemId + '"]').addClass("current");
            
            var context = {
                menuItemName: l2MenuItem.name,
                menuItemType: l2MenuItem.type,
                menuItemKey: l2MenuItem.key,
                menuItemUrl: l2MenuItem.url, 
                menuItemId: menuItemId,
                menuItemNameLabel: "子菜单名称 ",
                menuItemContent: "子菜单内容 ",
                menuNameLengthLimit: 16,
                menuNameLengthLimitMsg: "字数不超过8个汉字或16个字母"
            };
            var menuItemDetails = gzhMenu.l2MenuItemDetailsTemplate(context);
            $('#menuItemDetails').html(menuItemDetails);
            
            if (l2MenuItem.type == 'click') {
                $('input[value="click"]').prop("checked", "true");
                $('#sendMsgMenuContent').show();
            }
            else if (l2MenuItem.type == 'view') {
                $('input[value="view"]').prop("checked", "true");
                $('#urlMenuContent').show();
            }
            
            $('#menuItemBody').show();
        };
        
        function clearMenuItemSelection() {
            $('.sub_pre_menu_box').hide();
            $('#l1MenuList').find('li').removeClass("current");
            $('#menuItemDetails').html('');
        };
        
        function menuItemTypeOnChange(event) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            var menuItemId = $menuFormArea.data("menuItemId");
            var menuItemType = $(event.target).val();
            gzhMenu.menuItemMap.get(Number(menuItemId)).type = menuItemType;
            
            switch(menuItemType) {
            case 'click':
                $('#sendMsgMenuContent').show();
                $('#urlMenuContent').hide();
                break;
            case 'view':
                $('#sendMsgMenuContent').hide();
                $('#urlMenuContent').show();
                break;
            }
        }
        
        function menuItemNameInputOnBlur(event, lengthLimit) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            var menuItemId = $menuFormArea.data("menuItemId");
            var menuItemName = $(event.target).val();
            if (menuItemName == "") {
                //User did not actually input anything
                return;
            }
            menuItemName = truncateMenuItemName(menuItemName, lengthLimit);
            $menuFormArea.find("#menuItemNameOverLimit").hide();
            $menuFormArea.find('.menu_item_name').html(menuItemName);
            $('li[data-menu-item-id="' + menuItemId + '"]').find('.menu_item_name:first').html(menuItemName);
            gzhMenu.menuItemMap.get(Number(menuItemId)).name = menuItemName;
        }
        
        function menuItemNameInputOnKeyup(event, lengthLimit) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            var menuItemId = $menuFormArea.data("menuItemId");
            var menuItemName = $(event.target).val();
            var length = menuItemNameLength(menuItemName);
            //console.log("menuItemNameInputOnKeydown length=" + length);
            if (length > lengthLimit) {
                $menuFormArea.find("#menuItemNameOverLimit").show();
            }
            else {
                $menuFormArea.find("#menuItemNameOverLimit").hide();
            }
        }
        
        function menuItemNameLength(menuItemName) {
            var length = 0;
            for(var i=0; i<menuItemName.length; i++) {
                var letter = menuItemName.charAt(i);
                var englishLetterRegexp = /[\u0000-\u007F]/;
                var chineseLetterRegexp = /[\u4E00-\u9FFF]/;
                if (letter.match(englishLetterRegexp)) {
                    length = length + 1;
                }
                else if (letter.match(chineseLetterRegexp)) {
                    length = length + 2;
                }
            }
            return length;
        }
        
        function truncateMenuItemName(menuItemName, lengthLimit) {
            var length = 0;
            var truncatedName="";
            for(var i=0; i<menuItemName.length; i++) {
                var letter = menuItemName.charAt(i);
                var englishLetterRegexp = /[\u0000-\u007F]/;
                var chineseLetterRegexp = /[\u4E00-\u9FFF]/;
                if (letter.match(englishLetterRegexp)) 
                    length = length + 1;
                else if (letter.match(chineseLetterRegexp)) 
                    length = length + 2;
             
                if (length <= lengthLimit) 
                    truncatedName += letter;
                else
                    return truncatedName;
            }
            return truncatedName;
        }
        
        function menuItemKeyInputOnBlur(event) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            var menuItemId = $menuFormArea.data("menuItemId");
            var menuItemKey = $(event.target).val();
            gzhMenu.menuItemMap.get(menuItemId).key = menuItemKey;
        }
        
        function menuItemUrlInputOnBlur(event) {
            var $menuFormArea = $(event.target).closest('.menu_form_area');
            var menuItemId = $menuFormArea.data("menuItemId");
            var menuItemUrl = $(event.target).val();
            gzhMenu.menuItemMap.get(menuItemId).url = menuItemUrl;
        }
        
        function resetGzhMenu() {
            gzhMenu.menuItemId = 0;
            gzhMenu.menuItemMap = new Map();
            $('.l1_menu_item').remove();
            $('#menuItemDetails').html('');
        };
        
        function reverseGzhMenuL2MenuItem(gzhMenuObj) {
            if (gzhMenuObj.button == undefined)
                return;
            gzhMenuObj.button.forEach(function(l1MenuItem) {
                if (l1MenuItem.hasOwnProperty('sub_button')) {
                    l1MenuItem.sub_button.reverse();
                }
            });
        };
        
        function populateGzhMenu(gzhMenuObj) {
            if (gzhMenuObj.button == undefined)
                return;
            //forEach keeps the order
            gzhMenuObj.button.forEach(function(l1MenuItem) {
                var addSuccess = addL1MenuItemToDom(l1MenuItem.name);
                if (addSuccess) {
                    var menuItem = {
                            name: l1MenuItem.name,
                            type: l1MenuItem.type,
                            key:  l1MenuItem.key,
                            url:  l1MenuItem.url,
                    };
                    var l1MenuItemId = gzhMenu.menuItemId;
                    gzhMenu.menuItemMap.set(l1MenuItemId, menuItem);
                    
                    if (l1MenuItem.hasOwnProperty('sub_button')) {
                        l1MenuItem.sub_button.forEach(function(l2MenuItem) {
                            
                            console.log("l2MenuItem.name=" + l2MenuItem.name);
                            var addL2MenuItemSuccess = addL2MenuItemToDom(l2MenuItem.name, l1MenuItemId);
                            if (addL2MenuItemSuccess) {
                                var l2MenuItemId = gzhMenu.menuItemId;
                                var l2MenuItem = {
                                        name: l2MenuItem.name,
                                        type: l2MenuItem.type,
                                        key:  l2MenuItem.key,
                                        url:  l2MenuItem.url,
                                };
                                gzhMenu.menuItemMap.set(l2MenuItemId, l2MenuItem);
                            }
                        });
                    }
                }
            });
            
            $('.sub_pre_menu_box').hide();
        };
        
        
        $(function () {
            Handlebars.registerPartial('menuFormBody', $('#menuFormBodyTemplate').html());
            gzhMenu.l1MenuItemTemplate = Handlebars.compile($("#l1MenuItemTemplate").html());
            gzhMenu.l2MenuItemTemplate = Handlebars.compile($("#l2MenuItemTemplate").html());
            gzhMenu.l1MenuItemDetailsTemplate = Handlebars.compile($("#l1MenuItemDetailsTemplate").html());
            gzhMenu.l2MenuItemDetailsTemplate = Handlebars.compile($("#l2MenuItemDetailsTemplate").html());
            
            $("#testSortable").sortable({});
            
            $("#l1MenuList").sortable({
                items: '.l1_menu_item',
                handle: '.pre_menu_link',
                containment: "parent",
                forceHelperSize: true,
                placeholder: "float-left background-yellow",
                forcePlaceholderSize: true,
                tolerance: "pointer",
                revert: true,
                opacity: 0.5,
                distance: 5,
                axis: "x"
            });
            
            var systemDefaultMenuJson = [[${systemDefaultGzhMenuJson}]];
            var selfDefinedMenuJson = [[${selfDefinedGzhMenuJson}]];
            
            console.log("selfDefinedMenuJson=" + selfDefinedMenuJson);
            
            var systemDefaultMenuObj = JSON.parse(systemDefaultMenuJson);
            var selfDefinedMenuObj = JSON.parse(selfDefinedMenuJson);
            reverseGzhMenuL2MenuItem(systemDefaultMenuObj);
            reverseGzhMenuL2MenuItem(selfDefinedMenuObj);
            
            populateGzhMenu(selfDefinedMenuObj);
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            $('#loadSystemDefaultMenu').click(function(){
                resetGzhMenu();
                populateGzhMenu(systemDefaultMenuObj);
            });
            
            $('#loadSelfDefinedMenu').click(function(){
                resetGzhMenu();
                populateGzhMenu(selfDefinedMenuObj);
            });
            
            function validateGzhMenuItem(menuItem) {
                if (!menuItem.name) {
                   alert("错误：菜单名称不能为空。");
                   return false;
                }
                if (!menuItem.type)　{
                   alert("错误：菜单" + menuItem.name + "的类型没有选定。");
                   return false;
                }; 
                
                if (menuItem.type == "view" && !menuItem.url) {
                   alert("错误：菜单" + menuItem.name + "的url没有定义。");
                   return false;
                }
                
                if (menuItem.type == "click" && !menuItem.key) {
                   alert("错误：菜单" + menuItem.name + "的关键字没有定义。");
                   return false;
                }
                return true;
            }
            
            function validateGzhMenu(gzhMenuObj) {
                if (gzhMenuObj.button == undefined) {
                    alter("没有定义菜单。请至少定义一个菜单项。");
                    return false;
                }
                
                for (l1MenuItemIndex=0; l1MenuItemIndex<gzhMenuObj.button.length; l1MenuItemIndex++) {
                    l1MenuItem = gzhMenuObj.button[l1MenuItemIndex];
                    if (l1MenuItem.hasOwnProperty('sub_button')) {
                        if (!l1MenuItem.name) {
                             alert("错误：菜单名称不能为空。");
                             return false;
                        }
                        for (l2MenuItemIndex = 0; l2MenuItemIndex < l1MenuItem.sub_button.length; l2MenuItemIndex++) {
                            l2MenuItem = l1MenuItem.sub_button[l2MenuItemIndex];
                            var validateSuccess = validateGzhMenuItem(l2MenuItem);
                            if (validateSuccess == false)
                                return false;
                        };
                    }
                    else {
                        var validateSuccess = validateGzhMenuItem(l1MenuItem);
                        if (validateSuccess == false)
                            return false;
                    }
                };
                
                return true;
            };
            
            $('#saveSelfDefinedMenu').click(function() {
                var gzhMenuData = {
                    button: []
                };
                
                $('.l1_menu_item').each(function(l1Index, l1MenuItemElm) {
                    var l1MenuItemId = $(l1MenuItemElm).data('menuItemId');
                    var l1MenuItem = gzhMenu.menuItemMap.get(l1MenuItemId);
                    var l1MenuItemData = {
                        name: l1MenuItem.name
                    };
                    
                    var $l2MenuItemList = $(l1MenuItemElm).find('.l2_menu_item');
                    if ($l2MenuItemList.length > 0) {
                        l1MenuItemData.sub_button = [];
                        $($l2MenuItemList.get()).each(function(l2Index, l2MenuItemElm) {
                            var l2MenuItemId = $(l2MenuItemElm).data('menuItemId');
                            var l2MenuItem = gzhMenu.menuItemMap.get(l2MenuItemId);
                            var l2MenuItemData = {
                                name: l2MenuItem.name,
                                type: l2MenuItem.type
                            };
                            
                            if (l2MenuItem.type == 'click')
                                l2MenuItemData.key = l2MenuItem.key;
                            else if (l2MenuItem.type == 'view')
                                l2MenuItemData.url = l2MenuItem.url;
                            
                            l1MenuItemData.sub_button.push(l2MenuItemData);
                        });
                    }
                    else {
                        l1MenuItemData.type = l1MenuItem.type;
                        if (l1MenuItem.type == 'click')
                            l1MenuItemData.key = l1MenuItem.key;
                        else if (l1MenuItem.type == 'view')
                            l1MenuItemData.url = l1MenuItem.url;
                    }
                    
                    gzhMenuData.button.push(l1MenuItemData);
                });
                
                var gzhMenuDataJson = JSON.stringify(gzhMenuData, null, ' ');
                console.log("gzhMenuDataJson=" + gzhMenuDataJson);
                
                if (!validateGzhMenu(gzhMenuData)) {
                    //If there is error, the alert message is alreay shown in the validateGzhMenu function.
                    return;
                }
                
                var gzhCompanyId = [[${gzhCompany.id}]];
                var postGhzMenuEditUrl = "/gzhOps/api/v1/gzhCompany/" + gzhCompanyId + "/gzhMenu/selfDefinedMenu/edit";
                $.post(postGhzMenuEditUrl,
                    gzhMenuDataJson, 
                    function (data) {
                        var message = "公众号自定义菜单保存成功。你需要重启公众号服务后，新的菜单才会生效。"
                        alert(message);
                        window.location.reload();
                    })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                });
            });
        });
    </script>
</th:block> 
</body>
</html>
