<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-资产负债表详细</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <h4 class="text-center">资产负债表 </h4>
                <div class="container-fluid">
                     <div class="row margin-lr-0 border-bottom font-size-11">
                          <div class="col-xs-12 padding-tb-8 flex-container flex-align-bottom">
                               <div class="flex-width-1 padding-left-2 flex-container flex-wrap">
                                    <div>单位名称：</div>
                                    <div th:text="${gzhClientCompanyReport.gzhClientCompany.chanjetClientCompany.name}">  </div>
                               </div>
                               <div class="flex-width-1 text-center" th:text="#{tl.report.period.month(${gzhClientCompanyReport.period})}" > </div>
                               <div class="flex-width-1 text-right padding-right-2"> 
                                  <p class="margin-tb-0">会小企01表</p>
                                  <p class="margin-tb-0">单位：元</p>
                               </div>
                          </div>
                     </div>

                     <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th class="text-center" style="width: 20%"><span>资产</span></th>
                                      <th class="text-center"style="width: 45px"><span>行次</span></th>
                                      <th class="text-center"><span>期末余额</span></th>
                                      <th class="text-center"><span>年初余额</span></th>
                                      <th class="text-center" style="width: 20%"><span>负债和所有者权益（或股东权益）总计</span></th>
                                      <th class="text-center"style="width: 45px"><span>行次</span></th>
                                      <th class="text-center" ><span>期末余额</span></th>
                                      <th class="text-center"><span>年初余额</span></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr th:each="assetItem:${gzhClientCompanyReport.gzhClientCompanyAssetReportItemList}">
                                      <td>
                                          <div th:class="${assetItem.chanjetClientCompanyAssetItem.assetIndentClass}" th:text="${assetItem.chanjetClientCompanyAssetItem.asset}"> </div>
                                      </td>
                                      <td class="text-center" >
                                          <div th:if="${assetItem.chanjetClientCompanyAssetItem.assetRow != 0}" th:text="${assetItem.chanjetClientCompanyAssetItem.assetRow}"> </div>
                                      </td>
                                      <td style="white-space: nowrap">
                                          <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.assetEndBalance) > 0.05}"
                                               th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.assetEndBalance,3,'COMMA',2,'POINT')}"> 
                                          </div>
                                      </td>
                                      <td style="white-space: nowrap">
                                          <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.assetYearInitBalance) > 0.05}"
                                               th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.assetYearInitBalance, 3,'COMMA',2,'POINT')}"> 
                                          </div>
                                      </td>
                                      <td>
                                          <div th:class="${assetItem.chanjetClientCompanyAssetItem.equityIndentClass}" th:text="${assetItem.chanjetClientCompanyAssetItem.equity}"> </div>
                                      </td>
                                      <td class="text-center" >
                                          <div th:if="${assetItem.chanjetClientCompanyAssetItem.equityRow != 0}" th:text="${assetItem.chanjetClientCompanyAssetItem.equityRow}"> </div>
                                      </td>
                                      <td style="white-space: nowrap">
                                          <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.equityEndBalance) > 0.005}"
                                               th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.equityEndBalance, 1,'COMMA',2,'POINT')}"> 
                                          </div>
                                      </td>
                                      <td style="white-space: nowrap">
                                          <div th:if="${T(Math).abs(assetItem.chanjetClientCompanyAssetItem.equityYearInitBalance) > 0.05}"
                                               th:text="${#numbers.formatDecimal(assetItem.chanjetClientCompanyAssetItem.equityYearInitBalance, 1,'COMMA',2,'POINT')}"> 
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                     </div>
                </div>
                
                <div class="padding-left-15">
                    <button sec:authorize="hasRole('WEBADMIN')" class="btn btn-default" data-toggle="modal" data-target="#gzhFakeClientCompanyModal"> 拷贝报表数据   </button>
                </div>
                <!-- gzhFakeClientCompanyModal -->
                <div th:replace="~{commonFragments :: gzhFakeClientCompanyModal}"> </div>
                
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:replace="commonFragments :: importFakeReportToGzhClientCompany"></script> 
</th:block>    
</body>
</html>
