<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-收入报表详细</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <h4 class="text-center">利润表 </h4>

                <div class="container-fluid">
                    <div class="row margin-lr-0 border-bottom font-size-11">
                          <div class="col-xs-12 padding-tb-8 flex-container flex-align-bottom">
                               <div class="flex-width-1 padding-left-2 flex-container flex-wrap">
                                    <div>单位名称：</div>
                                    <div th:text="${gzhClientCompanyReport.gzhClientCompany.chanjetClientCompany.name}">  </div>
                               </div>
                               <div class="flex-width-1 text-center" th:text="#{tl.report.period.month(${gzhClientCompanyReport.period})}" > </div>
                               <div class="flex-width-1 text-right padding-right-2"> 
                                  <p class="margin-tb-0">会小企02表</p>
                                  <p class="margin-tb-0">单位：元</p>
                               </div>
                          </div>
                     </div>
    
                    <div class="table-responsive">
                         <table class="table table-striped table-bordered table-hover">
                             <thead>
                                 <tr>
                                     <th class="text-center"><span>项目</span></th>
                                     <th class="text-center"><span>行次</span></th>
                                     <th class="text-center"><span>本年累计金额</span></th>
                                     <th class="text-center"><span>本月金额</span></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr th:each="incomeItem:${gzhClientCompanyReport.gzhClientCompanyIncomeReportItemList}">
                                     <td>
                                          <div th:class="${incomeItem.chanjetClientCompanyIncomeItem.incomeIndentClass}" th:text="${incomeItem.chanjetClientCompanyIncomeItem.item}"> </div>
                                     </td>
                                     <td>
                                          <div th:text="${incomeItem.chanjetClientCompanyIncomeItem.row}"> </div>
                                     </td>
                                     <td>
                                          <div th:if="${T(Math).abs(incomeItem.chanjetClientCompanyIncomeItem.yearCashBD) > 0.05}"
                                               th:text="${#numbers.formatDecimal(incomeItem.chanjetClientCompanyIncomeItem.yearCashBD, 3,'COMMA',2,'POINT')}"> 
                                          </div>
                                     </td>
                                     <td>
                                          <div th:if="${T(Math).abs(incomeItem.chanjetClientCompanyIncomeItem.monthCashBD) > 0.05}"
                                               th:text="${#numbers.formatDecimal(incomeItem.chanjetClientCompanyIncomeItem.monthCashBD, 3,'COMMA',2,'POINT')}"> 
                                          </div>
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                    </div>
                </div>
                
                <div class="padding-left-15">
                    <button sec:authorize="hasRole('WEBADMIN')" class="btn btn-default" data-toggle="modal" data-target="#gzhFakeClientCompanyModal"> 拷贝报表数据   </button>
                </div>
                <!-- gzhFakeClientCompanyModal -->
                <div th:replace="~{commonFragments :: gzhFakeClientCompanyModal}"> </div>
                
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:replace="commonFragments :: importFakeReportToGzhClientCompany"></script> 
</th:block> 

</body>
</html>
