<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h4 class="padding-left-8" th:text="#{tl.billing.bill.list}"> </h4>
                 <hr>
                 
                 <!-- start of div table-responsive  -->
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.gzhcompany.name}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="ownerUser.userName" th:text="#{tl.gzhcompany.owner.name}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="account.balance" th:text="#{tl.billing.balance}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="billingStatus" th:text="#{tl.gzhcompany.billing.status}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="paymentStatus" th:text="#{tl.gzhcompany.payment.status}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="paymentInDebtDate" th:text="#{tl.gzhcompany.payment.indebt.date}"> </a></th>
                               <th><a class="sorted" sd:pagination-sort="serviceRunningStatus" th:text="#{tl.gzhcompany.service.running.status}"> </a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${gzhCompanyPage.content}" class="clickable-row" th:href="@{/gzhOps/gzhCompany/details/{id}(id=${row.id})}" role="button">
                               <td th:text="${row.name}">  Name  </td>
                               <td th:text="${row.ownerUser} ? ${row.ownerUser.userName}">ownerUserName</td>
                               <td th:text="${row.account.balance}">account balance</td>
                               <td th:text="${row.billingStatus}">billingStatus</td>
                               <td th:text="${row.paymentStatus}">paymentStatus</td>
                               <td th:text="${row.paymentInDebtDate}">paymentInDebtDate</td>
                               <td th:text="${row.serviceRunningStatus}">serviceRunningStatus</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of div table-responsive  -->
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <p th:replace="commonFragments :: clickable-row-script"></p>  
</th:block>    
</body>
</html>
