<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" />  
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/css/bootstrap-datepicker3.css')}" rel="stylesheet" /> 
        <title>公众号后台管理-导入财务报表</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
            <form th:object="${gzhClientCompany}" method="post">
                <fieldset>
                    <!-- Form Name -->
                    <legend th:text="#{tl.report.import}"> </legend>  
                    <!-- Text input-->    
                    <div class="form-group row">
                        <label class="col-md-4 control-label"  th:text="#{tl.gzhclientcompany.name}"> </label>
                        <div class="col-md-6">
                            <input class="form-control"  type="text" th:value="*{chanjetClientCompany.name}" readonly="readonly">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label  class="col-md-4 control-label" th:text="#{tl.report.type}">Report Type</label>
                        <div class="col-md-6">
                            <select id="reportTypeList" class="selectpicker" multiple required>
                                <option value="Asset" th:text="#{tl.report.asset}"> </option>
                                <option value="Income" th:text="#{tl.report.income}"></option>
                                <option value="Cash" th:text="#{tl.report.cash}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 control-label" th:text="#{tl.report.period}">Period</label>
                        <div class="col-md-6 inputGroupContainer">
                            <div id="monthpicker"  class="input-group date input-daterange" >
                                <div class="input-group-addon" th:text="#{tl.from}"> </div>
                                <input id="periodFrom" type="text" class="form-control" required>
                                <div class="input-group-addon" th:text="#{tl.to}"> </div>
                                <input id="periodTo" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </fieldset>
                
                <hr>
                <input id="importButton" type="submit" th:value="#{tl.submit}" class="col-xs-3 btn btn-default" /> 
            </form>
            
            <!-- Modal -->
            <div class="modal fade" id="importModal" data-backdrop="static" tabindex="-1" >
                <div class="modal-dialog modal-lg" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" th:text="#{tl.report.import.progress}"> </h4>
                        </div>
      
                        <div class="modal-body">
                            <div class="container-fluid">
		                            <div class="row">
		                                <div class="col-xs-12">
		                                    <div id="importProgressBar" class="progress">
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="row">
		                                <div class="col-xs-12">
		                                    <ul id="importProgressMessage" class="import-progress-message-ul nopadding-left"> </ul>
		                                </div>
		                            </div>
		                         </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button id="closeImportModal" type="button" class="btn btn-default" data-dismiss="modal" th:text="#{tl.close}"></button>
                        </div>
                    </div>
                </div>
                
            </div> 
            <!-- end of modal -->
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/js/bootstrap-datepicker.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            $('.selectpicker').selectpicker({
                style: 'btn-default'
            });
            
            $('#monthpicker').datepicker({
                language: 'zh-CN',
                format: "yyyy-mm",
                minViewMode: 'months',
                maxViewMode: 'years',
                startView: 'months',
            });
            
            $(document).ajaxStop(function () {
                console.log("all the ajax requests are finished!");
                $('.modal-title').html("财务报表导入完成");
            });
            
            $('#importModal').on('show.bs.modal', function() {
                $('.modal-title').html("正在导入财务报表");
            });
            
            $('#importButton').on('click', function(e){
                e.preventDefault();
                var importUrl = '/gzhOps/api/v1/gzhClientCompany/' + [[${gzhClientCompany.id}]] + '/report/import';
                var reportTypeList = $('#reportTypeList').val();
                if (reportTypeList.length == 0) {
                    alert("请选择报表类型");
                    return;
                }
                
                //Where Date is called as a constructor with more than one argument, the specifed arguments represent local time. 
                //If UTC is desired, use new Date(Date.UTC(...)) with the same arguments.
                var periodFrom = $('#periodFrom').val();
                var yearFrom = Number(periodFrom.substring(0,4));
                var monthFrom = Number(periodFrom.substring(5,7)) - 1;
                var ymFrom = new Date(Date.UTC(yearFrom, monthFrom));
                if (periodFrom == "") {
                    alert("请输入导入报表的开始月份");
                    return;
                }
                
                var periodTo = $('#periodTo').val();
                var yearTo = Number(periodTo.substring(0,4));
                var monthTo = Number(periodTo.substring(5,7)) - 1;
                var ymTo = new Date(Date.UTC(yearTo, monthTo));
                if (periodFrom == "") {
                    alert("请输入导入报表的结束月份");
                    return;
                }
                
                //show the progress bar 
                $('#importProgressBar').empty();
                $('#importProgressMessage').empty();
                $('#importModal').modal('show');
                
                var yearMonthList = [];
                for (var ym = ymFrom; ym <= ymTo; ym.setMonth(ym.getMonth() + 1)) {
                    //The toISOString() method returns a string in simplified extended ISO format (ISO 8601), 
                    //which is always 24 or 27 characters long (YYYY-MM-DDTHH:mm:ss.sssZ or ±YYYYYY-MM-DDTHH:mm:ss.sssZ, respectively). 
                    //The timezone is always zero UTC offset, as denoted by the suffix "Z".
                    var ymStr = ym.toISOString();
                    var yearMonth = ymStr.substring(0,4) + ymStr.substring(5,7);
                    yearMonthList.push(yearMonth);
                }
                    
                var totalReports = reportTypeList.length * yearMonthList.length;    
                var progressUnit = 100/totalReports + "%";
                
                var importReport = {};
                yearMonthList.forEach(function (yearMonth) {
                    importReport.period = yearMonth;
                    reportTypeList.forEach(function(reportType) {
                        importReport.reportTypeValue = reportType;
                        var importReportJson = JSON.stringify(importReport, null, ' ');
                        console.log(importReportJson);
                        $.post(importUrl,
                               importReportJson,
                               function (data) {
                                    console.log(data);
                                    var response = JSON.parse(data);
                                    
                                    //Update the progress bar
                                    var responseMessage = response.name + "， 报表类型：" + response.reportType + "，报表期间：" + response.period　+ "，导入成功";
                                    var responseMessageLi = '<li > <pre class="import-success">' + responseMessage + '</pre> </li>';
                                    $('#importProgressMessage').append(responseMessageLi);
                                    $('#importProgressMessage').scrollTop($('#importProgressMessage')[0].scrollHeight);
                                    
                                    var progress = `<div class="progress-bar progress-bar-success" style="width: ${progressUnit}"> </div>`;
                                    $('#importProgressBar').append(progress);
                               })
                               .fail(function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR.responseText);
                                    var response = JSON.parse(jqXHR.responseText);
                                    var responseMessage = response.name + "， 报表类型：" + response.reportType + "，报表期间：" + response.period
                                    + "，导入失败：" + response.errMsg;
                                    var reportMessageLi = '<li > <pre class="import-fail">' + responseMessage + '</pre> </li>';
                                    $('#importProgressMessage').append(reportMessageLi);
                                    $('#importProgressMessage').scrollTop($('#importProgressMessage')[0].scrollHeight);
                                    
                                    var progress = `<div class="progress-bar progress-bar-warning" style="width: ${progressUnit}"> </div>`;
                                    $('#importProgressBar').append(progress);
                               });
                    });
                });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
        });
    </script>
</th:block>   
</body>
</html>
