<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
        <title>公众号后台管理</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <form class="form-horizontal" th:action="@{/gzhOps/gzhCompany/edit/{id}(id=${gzhCompany.id})}" th:object="${gzhCompany}" 
                    enctype='application/json' method="post">
                    <fieldset>
                        <!-- Form Name -->
                        <legend th:text="#{tl.gzhcompany.edit}">  </legend> 
                        <!-- Text input-->    
                        <div class="form-group hide">
                            <label class="col-md-4 control-label">id</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{id}" readonly="readonly">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.name}">name</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{name}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{tl.gzhcompany.owner.name}">owner userName</label>
                            <div class="col-md-6 ">
                                <input class="form-control"  type="text" th:field="*{ownerUser.userName}" readonly>
                            </div>
                        </div>
                        <!-- 
                             Thymeleaf literal substitutions must be surrounded by vertical bars 
                         -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" th:text="#{tl.gzhcompany.admin.name}">Admin userName</label>
                            <div id="adminInput" class="col-md-6" data-toggle="modal" data-target="#adminUserModal">
                                <div class="margin-bottom-1" th:each="admin, iterStat : *{adminUserList}" > 
                                      <input class="form-control" type="text" th:name="|adminUserList[${iterStat.index}].userName|" th:value="${admin.userName}" >
                                </div>
                                <div class="margin-bottom-1" th:if="*{adminUserList.size() == 0}" > 
                                      <input class="form-control" type="text" >
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4" th:text="#{tl.gzhcompany.gzhId}">gzhId</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{gzhId}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.appId}">appId</label>
                            <div class="col-md-6">
                                <input class="form-control appIdReadOnly"  type="text" th:field="*{appId}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.appSecret}">appSecret</label>
                            <div class="col-md-6">
                                <input class="form-control"  type="text" th:field="*{appSecret}" >
                            </div>
                        </div>
                        
                        <div sec:authorize="hasRole('WEBADMIN')" class="form-group">
                            <label  class="col-md-4 control-label" th:text="#{tl.gzhcompany.gzh.menu.type}">appSecret</label>
                            <div class="col-md-6">
                                <select class="form-control"  name="gzhMenuType">
                                    <option value="SYSTEM_DEFAULT">系统缺省菜单</option>
                                    <option value="SELF_DEFINED">自定义菜单</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    
                    <hr>
                    <div> <input type="submit" th:value="#{tl.save}" class="btn btn-default"> </div>
               </form>
               
                <!-- Modal -->
                <div class="modal fade" id="adminUserModal" tabindex="-1" >
                  <div class="modal-dialog modal-lg" >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" th:text="#{tl.gzhcompany.admin.edit}">Edit Admin User List </h4>
                        <button type="button" class="close" data-dismiss="modal">
                          <span>&times;</span>
                        </button>
                      </div>

                      <div class="modal-body container-fluid">
                          <div class="row">
                              <div class="col-xs-6">
                                  <div id="removeToolbar">
                                      <button id="adminUserRemoveButton" class="btn btn-default" th:text="#{tl.remove}">Remove</button>
                                  </div>
                                  <table id="adminUserResultTable" 
                                         data-click-to-select="true"
                                         data-toolbar="#removeToolbar">
                                         <thead>
                                         <tr>
                                             <th data-field="state" data-checkbox="true"></th>
                                             <th data-field="userName" th:text="#{tl.gzhcompany.admin.name}">Admin User Name</th>
                                             <th data-field="email" th:text="#{tl.user.email}">Admin User Email</th>
                                         </tr>
                                         </thead>
                                  </table>
                              </div>

                              <div class="col-xs-6">
                                  <div id="addToolbar">
                                      <button id="adminUserAddButton" class="btn btn-default" th:text="#{tl.gzhcompany.admin.add}">Add </button>
                                  </div>
                                  <table id="adminUserTable"
                                         data-toolbar="#addToolbar">
                                         <thead>
                                             <tr>
                                                 <th data-field="userName" th:text="#{tl.gzhplatform.user.name}">User Name</th>
                                                 <th data-field="email" th:text="#{tl.user.email}">User Email</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                              <tr>
                                                  <td>
                                                       <input type="text" id="userNameInput" class="form-control"  placeholder="Admin User Name" >
                                                  </td>
                                                  <td>
                                                       <input type="text" id="emailInput" class="form-control"  placeholder="Admin User Email" >
                                                  </td>
                                              </tr>
                                         </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" th:text="#{tl.abort}">Abort</button>
                        <button id="adminUserModalSave" type="button" class="btn btn-default" data-dismiss="modal" th:text="#{tl.apply}">Apply changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:inline="javascript">
        $(function () {
        	  if ([[${gzhCompany.appIdEditable == T(com.cju.chanjet.YesNoType).NO}]]) {
        		    $('.appIdReadOnly').prop("readonly", true);
        	  }
        	
            var adminUserDataList;
            var refreshAdminUserModal = function() {
                //[[${gzhCompany.id}]] will be replaced by Thymeleaf
                $.get('/gzhOps/api/v1/gzhCompany/admin/list/' + [[${gzhCompany.id}]], function (data) {
                     console.log("getAdminUserList from server=" + data);
                     var userList = JSON.parse(data);
                     adminUserDataList = userList.map(user => {
                        return {state: false, userName: user.userName, email: user.email};
                     });
                     $('#adminUserResultTable').bootstrapTable({data: adminUserDataList});
                });
                $('#adminUserTable').bootstrapTable({data: {}});
            }
            
            $('#adminUserModal').on('show.bs.modal', refreshAdminUserModal);
            
            $('#adminUserRemoveButton').click(function () {
                var $selections = $('#adminUserResultTable').bootstrapTable('getSelections');
                var names = $.map($selections, function (row) {
                        return row.userName;
                    });
                $('#adminUserResultTable').bootstrapTable('remove', {
                    field: 'userName',
                    values: names
                });
            });
            
            $('#adminUserAddButton').click(function () {
                var userName = $('#userNameInput').val();
                var email = $('#emailInput').val();
                var admin = {state: false, userName: userName, email: email};
                //validate the user exists on server.
                $.get('/gzhOps/api/v1/user/validate?userName=' + userName + '&email=' + email,  
                		function (data) {
		                     //Server returns {} in http if user does not exist
		                     var user = JSON.parse(data);
		                     if (user.userName == undefined) {
		                    	   var userNotExist = [[#{tl.gzhcompany.admin.user.not.exist}]];
		                         alert(userNotExist);
		                     } 
		                     else {
		                         var currAdminList = $('#adminUserResultTable').bootstrapTable('getData')
		                            .map(currAdmin => currAdmin.userName);
		                         if (!currAdminList.includes(userName))
		                            $('#adminUserResultTable').bootstrapTable('append', admin);
		                         //clear the input
		                         $('#userNameInput').val('');
		                         $('#emailInput').val('');
		                     }
                });
            });

            $("#adminUserModalSave").on("click.bs.modal", function(e) {
                var adminUserNameList = $('#adminUserResultTable').bootstrapTable('getData')
                    .map(adminUser => adminUser.userName);
                var adminUserListStr;
                if (adminUserNameList.length == 0) {
                    adminUserListStr = 
                         '<div class="input-group margin-bottom-1">' 
                       + '\n'  
                       + '    <input class="form-control" type="text">' 
                       + '\n'
                       + '</div>';
                }
                else {
                    adminUserListStr = adminUserNameList.map( (adminUserName, index) => 
                         '<div class="input-group margin-bottom-1">' 
                       + '\n'  
                       + '    <input class="form-control" type="text" name="adminUserList[' + index + '].userName" value=' + adminUserName + '>' 
                       + '\n'
                       + '</div>'
                    );
                }
                console.log("adminUserListStr=" + adminUserListStr);
                $("#adminInput").html(adminUserListStr);
            });
        });
    </script>
</th:block>      
</body>
</html>
