<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
        <title>公众号后台管理-公众号客户公司详情</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.gzhclientcompany.details}"> </h4>
                <hr>
                <div class="container-fluid">
                   <th:block sec:authorize="hasRole('WEBADMIN')" >
                       <div class="row">
                          <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.gzhcompany}" > </div>
                          <div class="col-xs-7 padding-tb-8">
                              <a th:href="@{/gzhOps/gzhCompany/details/{id}(id=${gzhClientCompany.gzhCompany.id})}"
                                 th:text="${gzhClientCompany.gzhCompany} ? ${gzhClientCompany.gzhCompany.name}">
                              </a>
                          </div>
                       </div>
                   </th:block>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.name}" > </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.chanjetClientCompany.name}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.userNoteName}" > </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.chanjetClientCompany.userNoteName}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.taxNo}" > </div>
                       <div class="col-xs-7 padding-tb-8 ws-pre-wrap" th:text="${gzhClientCompany.chanjetClientCompany.taxNo}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.gzhuser.list}" > </div>
                       <div id="associatedGzhUser" class="col-xs-7 padding-tb-8" data-toggle="modal" data-target="#gzhUserModal" role="button">
                           <div class="editable-click">
                               <div th:each="gzhUser : ${gzhClientCompany.gzhUserList}" >
                                   <a th:href="@{/gzhOps/gzhUser/details/{id}(id=${gzhUser.id})}" th:text="${gzhUser.nickName}"> </a>
                               </div>
                           </div>
                           <div th:if="${gzhClientCompany.gzhUserList.isEmpty()}" class="editable-click"
                                th:text="#{tl.gzhclientcompany.gzhuser.click.to.bind}">
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.importedByUser}" > </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.importedByUser} ? ${gzhClientCompany.importedByUser.userName}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.syncStartPeriod}" > </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.chanjetClientCompany.syncStartPeriod}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.currentPeriod}" > </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.chanjetClientCompany.currentPeriod}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.gzhclientcompany.closePeriod}"> </div>
                       <div class="col-xs-7 padding-tb-8" th:text="${gzhClientCompany.chanjetClientCompany.closePeriod}" > </div>
                   </div>
                   <div class="row">
                       <div class="col-xs-3 padding-tb-8" th:text="#{tl.report.list.imported}" > </div>
                       <div class="col-xs-7 padding-tb-8">
                           <a th:href="@{/gzhOps/gzhClientCompany/{id}/report/list(id=${gzhClientCompany.id})}" th:text="#{tl.report.list.imported}"> </a>
                       </div>
                   </div>
                </div>

                <hr>
                <div class="container-fluid">
                     <div class="row padding-tb-8"> 
                         <a class="col-xs-3 btn btn-default" th:href="@{/gzhOps/gzhClientCompany/{id}/report/import(id=${gzhClientCompany.id})}" >
                             <span th:text="#{tl.report.import}"> Import Report</span> 
                         </a>
                     </div>
                </div>
        
                <!-- Modal -->
                <div class="modal fade" id="gzhUserModal" data-backdrop="static" tabindex="-1" >
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" th:text="#{tl.gzhuser.bind.gzhclientcompany(${gzhClientCompany.chanjetClientCompany.name})}"> </h4>
                                <button type="button" class="close" data-dismiss="modal">
                                  <span>&times;</span>
                                </button>
                            </div>
          
                            <div class="modal-body container-fluid">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div id="removeToolbar">
                                            <button id="gzhUserRemoveButton" class="btn btn-default">　从绑定用户中删除　 </button>
                                        </div>
                                        <!--  data-toggle="table" will activate bootstrap table on a normal table without javascript -->
                                        <table id="gzhUserBindTable" data-toggle="table" 
                                               th:attr="data-url='/gzhOps/api/v1/gzhUser/list/gzhClientCompany/' + ${gzhClientCompany.id}"
                                               data-click-to-select="true"
                                               data-toolbar="#removeToolbar">
                                               <thead>
                                                   <tr>
                                                       <th data-field="state" data-checkbox="true"></th>
                                                       <th data-field="id"> id </th>
                                                       <th data-field="nickName"> 微信昵称 </th>
                                                   </tr>
                                               </thead>
                                        </table>
                                    </div>
          
                                    <div class="col-xs-7">
                                        <div id="addToolbar">
                                            <button id="gzhUserAddButton" class="btn btn-default"> 添加到绑定用户 </button>
                                        </div>
                                        <table id="gzhUserTable" 
                                               data-click-to-select="true"
                                               data-maintainSelected="true"
                                               data-toolbar="#addToolbar"
                                               data-pagination="true"
                                               data-pagination-h-align="left"
                                               data-page-list="[5,10,15]"
                                               data-search="true">
                                               <thead>
                                                   <tr>
                                                       <th data-field="state" data-checkbox="true"></th>
                                                       <th data-field="id"> id </th>
                                                       <th data-field="nickName" data-class="gzhUserNickName"> 微信昵称</th>
                                                   </tr>
                                               </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default  pull-left" data-dismiss="modal"  th:text="#{tl.cancel}"></button>
                              <button id="gzhUserModalSave" type="button" class="btn btn-default" data-dismiss="modal" th:text="#{tl.save}"></button>
                            </div>
                        </div>
                    </div>
                    
                </div> 
                <!-- end of modal -->
                
            </div>  
            <!-- end of right-content -->

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="gzhUserPopoverTemplate" type="text/x-handlebars-template">
        <div>　<span>姓名：</span> <span> {{gzhUser.name}} </div>
        <div>　<span>手机：</span> <span> {{gzhUser.mobile}} </div>
        <div>　<a href="/gzhOps/gzhUser/details/{{gzhUser.id}}" target="_blank">更多详情</a> </div>
    </script>
    
    <script th:inline="javascript">
        //$(function () { /* some code */ }) will run the function when document is ready.
        $(function () {
            var $gzhUserBindTable = $('#gzhUserBindTable');
            var $gzhUserTable = $('#gzhUserTable');
            var $gzhUserRemoveButton = $('#gzhUserRemoveButton');
            var $gzhUserAddButton = $('#gzhUserAddButton');
            var gzhUserMap = new Map();
            var gzhUserPopoverTemplate = Handlebars.compile($("#gzhUserPopoverTemplate").html());
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
                headers : csrfHeader, 
                contentType : "application/json"
            });
            
            $('#gzhUserModal').on('click', function (e) {
                $('.gzhUserNickName').popover('hide');
            });
            
            var gzhUserList = null;
            console.log("document ready!")
            $('#gzhUserModal').on('show.bs.modal', function(){
                if (gzhUserList != null) 
                    return;
                $.get('/gzhOps/api/v1/gzhUser/list/gzhCompany/' + [[${gzhClientCompany.gzhCompany.id}]],
                      function(data) {
                          gzhUserList = JSON.parse(data);
                          $gzhUserTable.bootstrapTable({
                              data: gzhUserList
                          });
                          gzhUserList.forEach(function(gzhUser) {
                              gzhUserMap.set(gzhUser.id, gzhUser);
                          });
                          
                          //It seems Bootstrap table option data-click-to-select add a click event handler on each column.
                          //We need to remove the event handler added by Bootstrap table so that click on gzhUserNickName only shows the popover
                          //and does not cause the row to be selected.
                          $('.gzhUserNickName').off('click').on('click', function(e) {
                              e.stopPropagation();
                              $(this).popover('toggle');
                              $('.gzhUserNickName').not(this).popover('hide');
                          });
                          
                          $('#gzhUserTable tbody tr').each(function(index) {
                              var id = $(this).find('td:eq(1)').text();
                              var gzhUser = gzhUserMap.get(Number(id));
                              var context = {
                                  gzhUser: gzhUser
                              };
                              var popoverContent = gzhUserPopoverTemplate(context);
                             
                              var popoverOptions = {
                                     title: "公众号用户信息",
                                     html: 'true',
                                     content: popoverContent,
                                     trigger: 'manual',
                                     placement: 'top'
                                 };
                              $(this).find('.gzhUserNickName').popover(popoverOptions);
                          })
                      });
            });
            
            $gzhUserRemoveButton.click(function () {
                var removeUserList = $gzhUserBindTable.bootstrapTable('getSelections').map(function (row) {
                    return row.id;
                });
                $gzhUserBindTable.bootstrapTable('remove', {
                    field: 'id',
                    values: removeUserList
                });
            });
            
            $gzhUserAddButton.click(function () {
               
                var bindUserList = $gzhUserBindTable.bootstrapTable('getData').map(function(row) {
                    return row.id;
                });
                
                var selectedUserList = $.map($gzhUserTable.bootstrapTable('getSelections'), function(row) {
                    if (bindUserList.includes(row.id)) {
                        //for $.map, return null or undefined will remove the item
                        //But for $obj.map, return null or undefined does not remove the item.
                        return undefined;
                    }
                    else {
                        return {
                            state: false, 
                            id: row.id,
                            nickName: row.nickName
                        };
                    }
                });
                
                $gzhUserBindTable.bootstrapTable('append', selectedUserList);
            });

            $("#gzhUserModalSave").on("click.bs.modal", function(e) {
                var gzhUserList = $gzhUserBindTable.bootstrapTable('getData');
                
                //Send Ajax Post request
                var gzhUserJson = JSON.stringify(gzhUserList);
                $.post("/gzhOps/api/v1/gzhUser/list/gzhClientCompany/" + [[${gzhClientCompany.id}]],
                       gzhUserJson, 
                       function (data) {
                           var bindSuccess = [[#{tl.gzhclientcompany.gzhuser.bind.success}]];
                           alert(bindSuccess);
                           window.location.reload();
                       })
                       .fail(function(jqXHR, textStatus, errorThrown) {
                           console.log(jqXHR.responseText);
                           alert("绑定公众号用户失败。"　+ jqXHR.responseText);
                       });
            });
        });
    </script>
</th:block>              
</body>
</html>
