<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理-全部财务报表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
               <h4 class="padding-left-8" th:text="#{tl.report.list}"></h4>
               <hr>
               <div class="table-responsive">
                   <table id="row-clickable-table" class="table table-striped table-hover">
                     <thead>
                        <tr>
                          <th><a class="sorted" sd:pagination-sort="gzhClientCompany.chanjetClientCompany.name" th:text="#{tl.gzhclientcompany.name}"></a></th>
                          <th><a class="sorted" sd:pagination-sort="period" th:text="#{tl.report.period}">Period</a></th>
                          <th><a class="sorted" sd:pagination-sort="reportType" th:text="#{tl.report.type}">ReportType</a></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="row : ${gzhClientCompanyReportPage.content}" class="clickable-row" 
                            th:href="@{/gzhOps/gzhClientCompany/{id}/report/details
                                    (id=${row.gzhClientCompany.id}, period=${row.period}, reportType=${row.reportType.value})}" role="button">
                          <td th:text="${row.gzhClientCompany.chanjetClientCompany.name}">Client Company Name</td>
                          <td th:text="${row.period}">Period</td>
                          <td th:text="${row.reportType}">ReportType</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            
<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
