<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/pub/css/gzh-menu.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content">
                 <h4 th:text="#{tl.gzhcompany.gzh.menu}"> </h4>
                 <hr>
                 <div class="container-fluid">
                     <div class="row table-row width-100 padding-tb-8"> 
                         <div class="col-xs-3 table-cell nopadding-left"> 
                             <div class="menu_preview_area">                
                                 <div class="mobile_menu_preview" onclick="clearMenuItemSelection()">                    
                                     <div class="mobile_hd">珠海感动科技</div>                    
                                     <ul id="l1MenuList" class="pre_menu_list">
                                     </ul>
                                 </div>
                             </div>
                         </div>
                         <div class="col-xs-9 table-cell menu_form_background"> 
                              <div id="menuItemDetails"> </div>
                              <span class="editor_arrow_wrp">                        
                                   <i class="editor_arrow editor_arrow_out"></i>                        
                                   <i class="editor_arrow editor_arrow_in"></i>                    
                              </span>
                         </div>
                     </div>
                     
                     <br>
                     <div class="row table-row width-100 padding-tb-8 background-grey"> 
                         <div class="col-xs-3 table-cell vertical-middle"> 
                             <div style="width: 302px"> 
                                 <div class="float-left border-padding nopadding-left" th:text="#{tl.gzhcompany.gzh.menu.type}"> </div>
                                 <div class="take-remaining-space-after-float border-padding border-box background-white" th:text="${gzhCompany.gzhMenuType}"> </div>
                             </div>
                         </div>
                         <div class="col-xs-9 table-cell nopadding-left"> 
                             <div th:if="${gzhCompany.gzhMenuType == T(com.cju.gzhOps.GzhCompanyMenuType).SELF_DEFINED}">
                                 <a th:href="@{/gzhOps/gzhCompany/{id}/gzhMenu/edit(id=${gzhCompany.id})}" class="float-left btn btn-default"> 修改自定义菜单 </a>
                                 <button id="useSystemDefaultMenu" class="margin-left-15 btn btn-default"> 切换到系统缺省菜单　</button>
                             </div>
                             <div th:if="${gzhCompany.gzhMenuType == T(com.cju.gzhOps.GzhCompanyMenuType).SYSTEM_DEFAULT}">
                                 <button id="useSelfDefinedMenu" class="btn btn-default"> 切换到自定义菜单　</button>
                             </div>
                         </div>
                     </div>
                 </div>   
            </div>
            
<th:block layout:fragment="file-end-script">    
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    
    <script id="l1MenuItemTemplate" type="text/x-handlebars-template">
        <li class="pre_menu_item l1_menu_item" data-menu-item-id={{menuItemId}} onclick="clickL1MenuItem(event)">
            <a href="javascript:void(0);" class="pre_menu_link">
                <span class="menu_item_name"> {{menuItemName}}</span>
            </a>
            <div class="sub_pre_menu_box" hidden>
                <ul class="sub_pre_menu_list">
                </ul>
                <i class="arrow arrow_out"></i>
                <i class="arrow arrow_in"></i>
            </div>
        </li>
    </script>
    
    <script id="l1MenuItemDetailsTemplate" type="text/x-handlebars-template">
        <div class="menu_form_area" data-menu-item-id={{menuItemId}}>
             <div class="menu_form_hd">                            
                  <span> {{menuItemName}} </span>                            
             </div>  
             {{> menuFormBody}} 

        </div>
    </script>
    
    <script id="l2MenuItemTemplate" type="text/x-handlebars-template">
        <li class="l2_menu_item" data-menu-item-id={{menuItemId}} onclick="clickL2MenuItem(event)"  >
            <a href="javascript:void(0);">
                <span class="sub_pre_menu_inner">
                    <span> {{menuItemName}} </span>
                </span>
            </a>
        </li>
    </script>
    
    <script id="l2MenuItemDetailsTemplate" type="text/x-handlebars-template">
        <div class="menu_form_area" >
             <div class="menu_form_hd">                            
                  <span>{{menuItemName}}</span>                            
             </div> 
             {{> menuFormBody}} 
        </div>
    </script>

    <script id="menuFormBodyTemplate" type="text/x-handlebars-template">
        <div class="menu_form_bd" id="view">
             <div id="l1MenuItemNameOnly" class="frm_tips padding-top-10" hidden>已添加子菜单，仅显示菜单名称。</div>     
             <div id="menuItemBody">
                 <div class="frm_control_group" style="display: block;">                                
                      <span class="frm_label">  {{menuItemContent}} </span>                                
                      <div class="frm_controls frm_vertical_pt">                                                                        
                           <span class="frm_radio_label">                                        
                               <input type="radio" name="menuItemType" value="sendMsg">                                    
                               <span>发送消息</span>                                        
                           </span>                                                                        
                           <span class="frm_radio_label">                                        
                               <input type="radio" name="menuItemType" value="url">                                    
                               <span>跳转网页</span>                                        
                           </span>                                                                        
                      </div>                            
                 </div> 
                 <div class="menu_content" id="sendMsgMenuContent" hidden>  
                     <div class="menu_form_hd clearfix">  
                          <span class="frm_label_box"> 消息关键字 </span>   
                          <span class="frm_label_box">                            
                              <span class="border-padding border-box"> {{menuItemKey}} </span>  
                          </span>                             
                     </div>                             
                     <div class="frm_control_group frm_tips">
                          <p> 订阅者点击该子菜单后，对应的消息关键字会发送到本平台。你在本平台公众号自动回复中配置的对应该关键字的消息会返回给订阅者。 </p>
                     </div>   
                </div> 
        
                <div class="menu_content" id="urlMenuContent" hidden>                                    
                     <div class="menu_form_hd clearfix">                                            
                         <span class="frm_label_box">页面地址</span> 
                         <span class="frm_label_box">                                             
                             <div class="border-padding border-box word-break-all">{{menuItemUrl}}</div>  
                         </span>                                          
                    </div>                                  
                    <div class="frm_control_group frm_tips">
                         <p> 订阅者点击该子菜单会跳到页面地址。 </p>
                    </div>   
                </div>
             </div>
        </div>        
    </script>
    
    <script th:inline="javascript"> 
        //inline onclick function call is actually wrapped inside an anonymous function, 
        //Inside the anonymous function, this pointer refers to the clicked element.
        //But inside the onclick function this pointer refers to the global window object
        //To pass the clicked DOM element to onclick function, use onclick_function.call(this) to bind this pointer.
        //To pass event to the onclick function, use the event parameter
        //event.currentTarget is the element that is currently handle the event
        
        //Events triggered with .trigger() bubble up the DOM hierarchy; Even when event.stopPropagation() is called in clickL2MenuItem(event);
        //Events triggered with .triggerHandler() do not bubble up the DOM hierarchy; If they are not handled by the target element directly, they do nothing.
        //When the click event is triggered by trigger("click") or triggerHandler('click'), currentTarget is not set.
        
        var gzhMenu = {
            menuItemId : 0,
            menuItemMap : new Map()
        }
                
        function clickL1MenuItem(event) {
           event.stopPropagation();
            
           var l1MenuItemElm = event.currentTarget;
            var menuItemId = l1MenuItemElm.dataset.menuItemId;
            var l1MenuItem = gzhMenu.menuItemMap.get(Number(menuItemId));
            
            $('.sub_pre_menu_box').hide();
            $('#l1MenuList').find('li').removeClass("current");
            var $l1MenuItem = $('li[data-menu-item-id="' + menuItemId + '"]');
            $l1MenuItem.addClass("current");
            
            var context = {
                menuItemName: l1MenuItem.name,
                menuItemType: l1MenuItem.type,
                menuItemKey: l1MenuItem.key,
                menuItemUrl: l1MenuItem.url, 
                menuItemContent: "菜单内容 ",
                menuItemId: menuItemId
            };
            var menuItemDetails = gzhMenu.l1MenuItemDetailsTemplate(context);
            $('#menuItemDetails').html(menuItemDetails);
            
            var l2MenuItemCount = $l1MenuItem.find('.l2_menu_item').length;
            if (l2MenuItemCount > 0) {
                $l1MenuItem.find('.sub_pre_menu_box').show();
                $('#l1MenuItemNameOnly').show();
                $('#menuItemBody').hide();
            }
            else {
                $l1MenuItem.find('.sub_pre_menu_box').hide();
                $('#l1MenuItemNameOnly').hide();
                
                if (l1MenuItem.type == 'click') {
                    $('input[value="sendMsg"]').attr("checked", "true");
                    $('#sendMsgMenuContent').show();
                }
                else if (l1MenuItem.type == 'view') {
                    $('input[value="url"]').attr("checked", "true");
                    $('#urlMenuContent').show();
                }
                $(':radio:not(:checked)').attr('disabled', true);
                $('#menuItemBody').show();
            }
        };
        
        function clickL2MenuItem(event) {
            event.stopPropagation();
            
            var l2MenuItemElm = event.currentTarget;
            var menuItemId = l2MenuItemElm.dataset.menuItemId;
            var l2MenuItem = gzhMenu.menuItemMap.get(Number(menuItemId));
            
            $('#l1MenuList').find('li').removeClass("current");
            $('li[data-menu-item-id="' + menuItemId + '"]').addClass("current");

            var context = {
                menuItemName: l2MenuItem.name,
                menuItemType: l2MenuItem.type,
                menuItemKey: l2MenuItem.key,
                menuItemUrl: l2MenuItem.url, 
                menuItemContent: "子菜单内容 ",
                menuItemId: menuItemId
            };
            var menuItemDetails = gzhMenu.l2MenuItemDetailsTemplate(context);
            $('#menuItemDetails').html(menuItemDetails);
            
            if (l2MenuItem.type == 'click') {
                $('input[value="sendMsg"]').attr("checked", "true");
                $('#sendMsgMenuContent').show();
            }
            else if (l2MenuItem.type == 'view') {
                $('input[value="url"]').attr("checked", "true");
                $('#urlMenuContent').show();
            }
            $(':radio:not(:checked)').attr('disabled', true);
            $('#menuItemBody').show();
        };
        
        function clearMenuItemSelection() {
           $('.sub_pre_menu_box').hide();
           $('#l1MenuList').find('li').removeClass("current");
           $('#menuItemDetails').html('');
        };
        
        function populateL1MenuItem(l1MenuItem, l1MenuItemId) {
            var menuItem = {
                    name: l1MenuItem.name,
                    type: l1MenuItem.type,
                    key:  l1MenuItem.key,
                    url:  l1MenuItem.url,
            };
            gzhMenu.menuItemMap.set(l1MenuItemId, menuItem);
            
            var context = {
                 menuItemId: l1MenuItemId,
                 menuItemName: l1MenuItem.name
            };
            var menuItem = gzhMenu.l1MenuItemTemplate(context);
            $('#l1MenuList').append($(menuItem));
        };
        
        function populateL2MenuItem(l2MenuItem, l1MenuItemId, l2MenuItemId) {
            var menuItem = {
                    name: l2MenuItem.name,
                    type: l2MenuItem.type,
                    key:  l2MenuItem.key,
                    url:  l2MenuItem.url,
            };
            gzhMenu.menuItemMap.set(l2MenuItemId, menuItem);
            
            var $l1MenuItem = $('li[data-menu-item-id="' + l1MenuItemId + '"]');
            
            var context = {
                 menuItemId: l2MenuItemId,
                 menuItemName: l2MenuItem.name
            };
            var $subMenuItem = $(gzhMenu.l2MenuItemTemplate(context));
            var $l2MenuItemList = $l1MenuItem.find('.sub_pre_menu_list');
            $l2MenuItemList.prepend($subMenuItem);
        };
        
        function reverseGzhMenuL2MenuItem(gzhMenuObj) {
            if (gzhMenuObj.button == undefined)
                return;
            gzhMenuObj.button.forEach(function(l1MenuItem) {
                if (l1MenuItem.hasOwnProperty('sub_button')) {
                    l1MenuItem.sub_button.reverse();
                }
            });
        };
                
        function populateGzhMenu(gzhMenuObj) {
            if (gzhMenuObj.button == undefined)
                return;
            //forEach keeps the order
            gzhMenuObj.button.forEach(function(l1MenuItem) {
                gzhMenu.menuItemId++;
                var l1MenuItemId = gzhMenu.menuItemId;
                populateL1MenuItem(l1MenuItem, l1MenuItemId);
                
                if (l1MenuItem.hasOwnProperty('sub_button')) {
                    l1MenuItem.sub_button.forEach(function(l2MenuItem) {
                        gzhMenu.menuItemId++;
                        var l2MenuItemId = gzhMenu.menuItemId;
                        populateL2MenuItem(l2MenuItem, l1MenuItemId, l2MenuItemId);
                    });
                }
            });
            
            var widthCount = gzhMenuObj.button.length;
            var widthPercentage = (100.0/widthCount).toFixed(2) + '%';
            $('li.l1_menu_item').css("width", widthPercentage);
        }
        
        $(function () {
            Handlebars.registerPartial('menuFormBody', $('#menuFormBodyTemplate').html());
            gzhMenu.l1MenuItemTemplate = Handlebars.compile($("#l1MenuItemTemplate").html());
            gzhMenu.l2MenuItemTemplate = Handlebars.compile($("#l2MenuItemTemplate").html());
            gzhMenu.l1MenuItemDetailsTemplate = Handlebars.compile($("#l1MenuItemDetailsTemplate").html());
            gzhMenu.l2MenuItemDetailsTemplate = Handlebars.compile($("#l2MenuItemDetailsTemplate").html());

            console.log("gzhMenu=" + [[${gzhMenuJson}]]);
            var gzhMenuJson = [[${gzhMenuJson}]];
            var gzhMenuObj = JSON.parse(gzhMenuJson);
            //Need to reverse the order of l2MenuItems. 
            //Weixin put the l2MenuItems from top down.
            //Here we add the l2MenuItems from bottom up.
            //We need to display the l2MenuItems in the same order as on real weixin client.
            reverseGzhMenuL2MenuItem(gzhMenuObj);
            populateGzhMenu(gzhMenuObj);
            
            $('#useSelfDefinedMenu').click(function() {
                var gzhCompanyId = [[${gzhCompany.id}]];
                var gzhMenuType = "SelfDefined";
                switchToGzhMenu(gzhCompanyId, gzhMenuType);
            });
            
            $('#useSystemDefaultMenu').click(function () {
                var gzhCompanyId = [[${gzhCompany.id}]];
                var gzhMenuType = "SystemDefault";
                switchToGzhMenu(gzhCompanyId, gzhMenuType);
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            function switchToGzhMenu(gzhCompanyId, gzhMenuType) {
                var switchGzhMenuData = {
                    gzhMenuType: gzhMenuType
                };
                var switchGzhMenuJson = JSON.stringify(switchGzhMenuData, null, ' ');
                var switchGhzMenuPostUrl = "/gzhOps/api/v1/gzhCompany/" + gzhCompanyId + "/gzhMenu/switch";
                $.post(switchGhzMenuPostUrl,
                    switchGzhMenuJson, 
                    function (data) {
                        console.log("data=" + data);
                        var message = "切换公众号菜单成功。你需要重启公众号服务后，新的菜单才会生效。"
                        alert(message);
                        //reload the page so that the autoReplyId for new entries are updated.
                        window.location.reload();
                    })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                });
            }
            
        });
    </script>
</th:block> 

</body>
</html>
