<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="gzh/gzhWeiXinLayout">
      
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/font-awesome/css/font-awesome.css')}" rel="stylesheet" type="text/css">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/summernote/summernote.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/lib/codemirror.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/theme/monokai.css')}" rel="stylesheet">
    <!-- 
        The note-statusbar just under note-editing-area can resize beyond the bottom border of the note-editor, 
        and even go beyond the bottom of the html and the containing iframe a few px causing the iframe to scroll.
        gzh-ops.css has setup to overcome this issue.
     -->
    <style>
        html, body{
            height: 100%;
            background-color: #d5eaf5;
        }
        .note-editor {
            height: 100%;
            margin-bottom: 0px;
            background-color: #666888;
        }
    </style>
    <title th:text="${pageTitle}"> </title>
</head>

<body>

<div layout:fragment="weixin-content"> 
    <div >
        <div id="iframeEditor">  </div>  
    </div>              
</div>
    
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/lib/codemirror.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/javascript/javascript.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/xml/xml.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/htmlmixed/htmlmixed.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/summernote/summernote.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/summernote/lang/summernote-zh-CN.js')}"></script>
    <script th:inline="javascript">
         //It takes a long time about 10 seconds to openup the choose file dialog when inserting an image.
         //To make it faster, change the following line in summernote.js (line 6138)
         //    <input class="note-image-input form-control" type="file" name="files" accept="image/" multiple="multiple" />
         //to
         //    <input class="note-image-input form-control" type="file" name="files" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="multiple" />
         //
         //Set prettifyHtml to true will cause summernote to remove line breaks when toggling between codeview mode and editor mode.
         //Editor deactive() calls dom.value($codable, options.prettifyHtml) on line 4818 of summernote.js. 
         //dom.value will stripLineBreaks on line 1402 if prettifyHtml is true.
         $(function () {
            console.log("iframeEditor document ready!");
                  
            var $iframeEditor = $('#iframeEditor'); 
            $iframeEditor.summernote({
                prettifyHtml: false,
                codemirror: { 
                    mode:  'htmlmixed',
                    theme: 'monokai',
                    lineNumbers: true
                },
                callbacks: {
                    onImageUpload: function(files) {
                       // loop through files
                       for (var i = 0; i < files.length; i++) {
                            file = files[i];
                            sendFile(file);
                        }
                    }
                },
                lang: 'zh-CN'
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader
            });
            
            //ContentType must be to false, forcing jQuery not to add a Content-Type header for you.
            //Otherwise, the boundary string will be missing from it. 
            //ProcessData must be false, otherwise, jQuery will try to convert your FormData into a string, which will fail.
            function sendFile(file) {
                data = new FormData();
                data.append("file", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/gzhOps/api/v1/image/upload",
                    cache: false,
                    contentType : false,
                    processData: false,
                    success: function(url) {
                        $iframeEditor.summernote("insertImage", url);
                    }
                });
            }
            
            //  Notify parent to get the initial edit content 
            console.log("IframeEditor calling iframeReadyCallback() in parent!");
            window.parent.iframeReadyCallback();
         });
    </script>
</th:block>
       
</body>
</html>
