<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/summernote/summernote.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/css/jquery-ui.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" /> 
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content" >
                <h4 class="padding-left-8 border-padding-bottom-10" th:text="${pageTitle}"> </h4>
               
                <div id="triangleIcon" class="border-padding-10">
                  <span class="glyphicon glyphicon-chevron-up triangleToggle"></span>
                  <span class="glyphicon glyphicon-chevron-down triangleToggle" style="display: none"></span>
                </div>
                
                <form class="triangleToggle form-horizontal border-box border-padding-10" th:object="${gzhHtmlPage}" method="post">
                    <fieldset>
                        <!-- Form Name -->
                        <div class="form-group hide">
                            <label class="col-xs-3 control-label">Html Page Id</label>
                            <div class="col-xs-9">
                                <input id="id" class="form-control"  type="text" th:field="*{id}" readonly >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-3 control-label" th:text="#{tl.htmlpage.page.title}"> </label>
                            <div class="col-xs-9">
                                <input id="pageTitle" class="form-control" type="text" name="title" th:value="*{title}" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-3 control-label" th:text="#{tl.htmlpage.link.type}"> </label>
                            <div class="col-xs-9 ">
                                <select id="linkTypeSelect" class="form-control selectpicker"  name="linkType">
                                    <option value="外部链接">外部链接</option>
                                    <option value="本地网页">本地网页</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="externalLink form-group hide">
                            <label  class="col-xs-3 control-label" th:text="#{tl.htmlpage.link.external}"> </label>
                            <div class="col-xs-9">
                                <input id="externalLink" class="form-control"  type="text" th:field="*{externalLink}" >
                            </div>
                        </div>
                        
                        <div class="htmlTemplate form-group"> 
                            <label class="col-xs-3 control-label">选择模板</label>
                            <div class="col-xs-9"> 
                                <select id="htmlTemplate-select" class="selectpicker">
                                </select>
                            </div>
                        </div>
                        
                        <div class="localHtml form-group margin-bottom-8 hide">
                            <label  class="col-xs-3 control-label">网页编辑器</label>
                            <div class="col-xs-6 control-label">
                                 <a href="#" class="padding-6-12" data-toggle="modal" data-target="#summernoteHelpModal"> 使用说明 </a>
                            </div>
                            <div class="hide">
                                 <textarea id="localHtmlTextArea" class="form-control" th:field="*{localHtml}" > </textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
                
                <br class="triangleToggle">
                
                <div id="resizeIframe" class="localHtml" style="height: 500px;">
                   <iframe id="localHtmlTextFrame" height="100%" class="col-xs-12 nopadding" src="/gzhOps/htmlPage/emptyEditor/" ></iframe>
                </div>
                
                <hr>
                <div class="container-fluid">
                    <div class="row">
                       <div class="col-xs-12 nopadding">
                             <button id="saveButton" class="btn btn-default "> 保存 </button>
                             <button id="cancelButton" class="btn btn-default  pull-right" th:text="#{tl.cancel}"> </button>
                       </div>
                    </div>
                </div> 
                
                <br>
                <!-- Modal for stop billing -->
                <div class="modal fade" id="summernoteHelpModal" tabindex="-1" >
                     <div class="modal-dialog modal-lg" >
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h5 class="modal-title">所见即所得网页编辑器使用说明 </h5>
                             </div>
                             <div class="modal-body">
                                  <ul>
                                      <li> 这个所见即所得的网页编辑器是使用了开源的软件Summernote 0.8.3</li>
                                      <li> 编辑所得的网页是针对微信公众号客户端的。也就是说，这个网页会作为你的公众号的自定义菜单或自定义网页的一个链接使用，并通过微信客户端来打开。</li>
                                      <li> 所有的基于网页的所见即所得的网页编辑器都有一个限制，那就是你只能添加&ltbody&gt &lt/body&gt标签里的内容，不能添加&lthead&gt &lt/head&gt标签里的内容。</li>
                                      <li> 公众号关注者通过微信客户端访问该网页时，你在这里编辑的网页内容将被放在网页的&ltbody&gt &lt/body&gt标签里发到客户端。</li>
                                      <li> 本系统在发往客户端的网页里会添加一个&lthead&gt &lt/head&gt部分，按顺讯包含如下的css文件和js文件。
                                           <ul> 
                                                <li> <a href="/bootstrap/css/bootstrap.css"> bootstrap.css v3.3.7 </a></li>
                                                <li> <a href="/bootstrap/css/bootstrap-theme.css"> bootstrap-theme.css v3.3.7 </a> </li>
                                                <li> <a href="/weui/css/weui.min.css"> 微信提供的weui.css v1.1.2　 </a></li>
                                                <li> <a href="/pub/css/gzh-weixin.css"> gzh-weixin.css　 </a></li>
                                                <li> <a href="/jquery/jquery-3.1.1.js"> jquery-3.1.1.js </a>　 </li>
                                                <li> <a href="/bootstrap/js/bootstrap.js"> bootstrap.js v3.3.7  </a> </li>
                                                <li> <a href="/weui/js/weui.js">微信提供的weui.js v1.1.2 </a></li>
                                           </ul>
                                      </li>
                                  </ul>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">
                                      <span th:text="#{tl.close}"></span>
                                  </button>
                             </div>
                         </div>
                     </div>
                </div>
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/js/jquery-ui.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="selectOptionGroupTemplate" type="text/x-handlebars-template">
        <optgroup label="放弃模板">
            <option value="-1"> 重置网页 </option>
        </optgroup>
        <optgroup label="使用模板">
            {{#each htmlTemplateList}}
                <option value={{this.id}}> {{this.title}} </option>
            {{/each}}
        </optgroup>
    </script>
    <script th:inline="javascript">
        var htmlTemplateMap = new Map();
        var $childJQuery;
        
        //iframeReadyCallback needs to be defined in global window scope so that the
        //iframe child can call it.
        function iframeReadyCallback() {
            console.log("iframeReadyCallback is called from IframeEditor!");
           
            //The JQuery instance in parent and iframe are different.
            //The summernote editor is started in the JQuery context in iframe. 
            //So we need to use the JQuery instance in iframe context to get the summernote code.
            $childJQuery = $('#localHtmlTextFrame')[0].contentWindow.$;
           
            //Set the initial content in the editor
            var originalHtmlPage = [[${gzhHtmlPage.localHtml}]];
            $childJQuery('#iframeEditor').summernote('code', originalHtmlPage);
            htmlTemplateMap.set(-1, originalHtmlPage);
            
            $('#saveButton').on('click', function (e) {
                var childLocalHtml = $childJQuery('#iframeEditor').summernote('code');
                htmlTemplateMap.set(-1, originalHtmlPage);
                console.log("childLocalHtml=" + childLocalHtml);
                
                var pageType = [[${T(com.cju.gzhOps.GzhHtmlPageType).SELF_DEFINED}]];
                var localHtmlPostData = {
                    id: $('#id').val(),
                    title: $('#pageTitle').val(),
                    pageType: pageType,
                    linkType: $('#linkTypeSelect').val(),
                    externalLink: $('#externalLink').val(),
                    localHtml: childLocalHtml
                };
                
                var localHtmlPostDataJson = JSON.stringify(localHtmlPostData, null, '    ');
                console.log(localHtmlPostDataJson);
                
                $.ajax({
                       type: "POST",
                       url: "/gzhOps/api/v1/htmlPage/createOrEdit",
                       data: localHtmlPostDataJson, 
                       success: function(data)
                       {
                           //update the htmlPage Id in case this is a create request
                           $('#id').val(data);
                           alert("网页保存成功"); 
                       },
                       error: function(xhr, textStatus, errorThrown) {
                           alert(xhr.responseText);
                           console.log(xhr.responseText);
                       }
                });
            });
            
            //pointer-events: none is used to make the iframe to stop capturing mouse events once the resizing starts.
            //Otherwise, the resizing is not smooth.
            $('#resizeIframe').resizable({
                handles: "s",
                create: function( event, ui ) {
                      $(".ui-resizable-s").css("cursor","row-resize");
                },
                resize: function (event, ui) {
                    ui.size.width = ui.originalSize.width;
                },
                start: function(){
                    $('#localHtmlTextFrame').css({'pointer-events':'none'});
                },
                 stop: function(){
                     $('#localHtmlTextFrame').css({'pointer-events':'auto'});
                 }
            });
        };
        
        $(function () {
            var selectOptionGroupTemplate = Handlebars.compile($("#selectOptionGroupTemplate").html());
            
            function toggleLinkType (linkType) {
                //toggleClass Boolean parameter: if true, then the class is added; if false, the class is removed
                if (linkType == "外部链接") {
                    $('.externalLink').toggleClass("hide", false);
                    $('.localHtml').toggleClass("hide", true);
                    $('.htmlTemplate').toggleClass("hide", true);
                }
                else if (linkType == "本地网页") {
                    $('.externalLink').toggleClass("hide", true);
                    $('.localHtml').toggleClass("hide", false);
                    $('.htmlTemplate').toggleClass("hide", false);
                }
            };
            
            function loadHtmlTemplate () {
                $.get('/gzhOps/api/v1/htmlPage/template/list', 
                      function (data) {
                           //console.log("task template from server=" + data);
                           var htmlTemplateList = JSON.parse(data);
                           htmlTemplateList.forEach( function(elem) {
                               htmlTemplateMap.set(elem.id, elem.localHtml);
                           });
                           
                           var context = {
                                   htmlTemplateList: htmlTemplateList,
                               };
                           var selectOptionGroup = selectOptionGroupTemplate(context);
                           $('#htmlTemplate-select').append(selectOptionGroup);
                           //refresh the selectpicker
                           $('#htmlTemplate-select').selectpicker('refresh');
                      }); 
            };
            
            $('#htmlTemplate-select').on('changed.bs.select', function(e) {
                var htmlId = $(e.currentTarget).val();
                var htmlBodyText = htmlTemplateMap.get(Number(htmlId));
                console.log("htmlTemplate=" + JSON.stringify(htmlBodyText));
                $childJQuery('#iframeEditor').summernote('code', htmlBodyText);
            });
            
            var linkType = [[${gzhHtmlPage.linkType}]];
            $('#linkTypeSelect').val(linkType);
            toggleLinkType(linkType);
            
            $('#linkTypeSelect').on("change", function(e) {
                toggleLinkType(this.value);
            });
            
            $('#cancelButton').on('click', function (e) {
                var originalHtmlPage = htmlTemplateMap.get(-1);
                $childJQuery('#iframeEditor').summernote('code', originalHtmlPage);
            });
            
            $('#triangleIcon').on('click', function (e) {
                $('.triangleToggle').toggle();
            });
            
            var popoverOptions = {
                    title: "外部链接格式",
                    html: 'true',
                    content: '外部链接需要以http://开头,　不能省略不写。',
                    trigger: 'hover',
                    placement: 'top'
                };
             $('#externalLink').popover(popoverOptions);
             
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader,  
               contentType : "application/json"
            });
            
            $('.selectpicker').selectpicker({
                style: 'btn-default background-image-none'
            });
            
            //loadHtmlTemplate calls selectpicker('refresh'), so it needs to come after $('.selectpicker').selectpicker()
            loadHtmlTemplate();
        });

    </script>
</th:block>      


</body>
</html>
