<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h4 th:text="${pageTitle}"> </h4>
                 <hr>
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="pageType" th:text="#{tl.htmlpage.page.type}">page type</a></th>
                               <th><a class="sorted" sd:pagination-sort="title" th:text="#{tl.htmlpage.page.title}">title</a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${gzhHtmlPagePage.content}" class="clickable-row" th:href="@{/gzhOps/htmlPage/details/{id}(id=${row.id})}" role="button">
                               <td th:text="${row.pageType}">  </td>
                               <td th:text="${row.title}">  </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of div table-responsive  -->
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"> </div>  
</th:block>    

</body>
</html>
