<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/css/jquery-ui.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/lib/codemirror.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/theme/monokai.css')}" rel="stylesheet">
    <style>
        .CodeMirror {
          border: 1px solid #eee;
          height: auto;
        }
    </style>
    <title>公众号后台管理-[[${gzhHtmlPage.pageType}]]</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h3 th:text="#{tl.htmlpage.details(${gzhHtmlPage.pageType})}"> </h3>
                 <hr>
                 <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 padding-tb-8" th:text="#{tl.htmlpage.page.title}" > </div>
                        <div class="col-xs-7 padding-tb-8" th:text="${gzhHtmlPage.title}" > </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 padding-tb-8" th:text="#{tl.htmlpage.link.type}" > </div>
                        <div id="linkType" class="col-xs-7 padding-tb-8" th:text="${gzhHtmlPage.linkType}" > </div>
                    </div>
                    <div th:if="${gzhHtmlPage.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).EXTERNAL_LINK}" class="row" >
                        <div class="col-xs-3 padding-tb-8" th:text="#{tl.htmlpage.link.href}" > </div>
                        <div class="col-xs-7 padding-tb-8" >
                            <a th:href="${gzhHtmlPage.externalLink}" th:text="${gzhHtmlPage.externalLink}" > </a>
                        </div>
                    </div>
                    <div th:if="${gzhHtmlPage.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).LOCAL_HTML}">
		                    <div class="row">
		                        <div class="col-xs-3 padding-tb-8" th:text="#{tl.htmlpage.link.href}" > </div>
		                        <div class="col-xs-7 padding-tb-8" >
		                            <a th:href="@{/pub/gzh/company/localHtml/{htmlPageId}(htmlPageId=${gzhHtmlPage.id})}" 
		                                 th:text="@{/pub/gzh/company/locaHtml/{htmlPageId}(htmlPageId=${gzhHtmlPage.id})}">  
		                            </a>
		                        </div>
		                    </div>
                        <div class="row"> 
                            <div class="col-xs-12 padding-tb-8" th:text="#{tl.htmlpage.local.html.preview}"> </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col-xs-12 border-box border-padding-10 margin-bottom-15">下面的预览窗口模拟了网页在你的公众号微信端的运行环境。点击上面的链接并打开浏览器的调试窗口后，可以选择模拟的手机或平板屏幕尺寸。 预览的结果更接近。</div>
                        </div>
                        <div class="row"> 
                            <div id="resizeIframe" style="height: 500px;">
                                <iframe id="localHtmlFrame" class="col-xs-12 nopadding" height="100%"
                                        th:src="@{/pub/gzh/company/localHtml/{htmlPageId}(htmlPageId=${gzhHtmlPage.id})}">
                                </iframe>
                            </div>
                        </div>                     
                    </div>
                    <div class="row">
                        <div class="col-xs-12 padding-tb-8">
                            <textarea id="htmlCodeTextArea" class="hide"> </textarea>
                        </div>
                    </div>
                 </div>

                 <hr>
                 <div th:if="${gzhHtmlPage.pageType == T(com.cju.gzhOps.GzhHtmlPageType).TEMPLATE}">
                      <div class="container-fluid">
                          <div class="row padding-tb-8"> 
                              <button id="inspectHtmlCode" type="button" 
                                  class="col-xs-3 btn btn-default" th:text="#{tl.htmlpage.template.inspect.code}"></button>
                              <a sec:authorize="hasRole('WEBADMIN')" 
                                  th:href="@{/gzhOps/htmlPage/edit/{id}(id=${gzhHtmlPage.id})}" 
                                  class="col-xs-3 btn btn-default  margin-left-15" th:text="#{tl.edit}">
                              </a>
                          </div>
                      </div>
                 </div>
                 <div th:if="${gzhHtmlPage.pageType != T(com.cju.gzhOps.GzhHtmlPageType).TEMPLATE}">
                     <a th:href="@{/gzhOps/htmlPage/edit/{id}(id=${gzhHtmlPage.id})}" class="btn btn-default" th:text="#{tl.edit}">
                     </a>
                 </div>
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/js/jquery-ui.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/lib/codemirror.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/javascript/javascript.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/xml/xml.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/codemirror/mode/htmlmixed/htmlmixed.js')}"></script>
    <script th:inline="javascript">
        $(function () {
            //pointer-events: none is used to make the iframe to stop capturing mouse events once the resizing starts.
            //Otherwise, the resizing is not smooth.
            $('#resizeIframe').resizable({
                handles: "s",
                create: function( event, ui ) {
                      $(".ui-resizable-s").css("cursor","row-resize");
                },
                resize: function (event, ui) {
                    ui.size.width = ui.originalSize.width;
                },
                start: function(){
                    $('#localHtmlFrame').css({'pointer-events':'none'});
                },
                stop: function(){
                    $('#localHtmlFrame').css({'pointer-events':'auto'});
                }
            });
        
            
            $('#localHtmlFrame').on('load', function() {
                var htmlCode = $('#localHtmlFrame')[0].contentWindow.document.documentElement.innerHTML;
                $('#htmlCodeTextArea').val(htmlCode);
                console.log(htmlCode);
            });
            
            //By setting an editor's height style to auto and giving the viewportMargin a value of Infinity, 
            //CodeMirror can be made to automatically resize to fit its content.
            var htmlCodeTextArea = $('#htmlCodeTextArea')[0];
            var codeMirrorOptions = { 
                    mode:  'htmlmixed',
                    theme: 'monokai',
                    lineNumbers: true, 
                    readOnly: true,
                    viewportMargin: Infinity
                };
            var codeMirror = null;
            
            $('#inspectHtmlCode').on('click', function (){
                if (codeMirror != null) {
                    var codeMirrorDom = codeMirror.getWrapperElement();
                    $(codeMirrorDom).remove();
                    codeMirror = null;
                }
                else {
                    codeMirror = CodeMirror.fromTextArea(htmlCodeTextArea, codeMirrorOptions);
                }
            });
        });
    </script>
</th:block> 
</body>
</html>
