<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-自定义网页列表</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h4 th:text="#{tl.htmlpage.selfdefined.list}"> </h4>
                 <hr>
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th sec:authorize="hasRole('WEBADMIN')">
                                  <a class="sorted" sd:pagination-sort="gzhCompany.name" th:text="#{tl.gzhcompany.name}" >GzhCompany Name</a>
                               </th>
                               <th> <a class="sorted" sd:pagination-sort="title" th:text="#{tl.htmlpage.page.title}"> </a> </th>
                               <th th:text="#{tl.htmlpage.link.type}"></th>
                               <th th:text="#{tl.htmlpage.link.href}"></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${gzhHtmlPagePage.content}" class="clickable-row" th:href="@{/gzhOps/htmlPage/details/{id}(id=${row.id})}" role="button">
                               <th sec:authorize="hasRole('WEBADMIN')">
                                  <div th:if="${row.gzhCompany != null}" th:text="${row.gzhCompany.name}">  </div>
                               </th>
                               <td th:text="${row.title}">  </td>
                               <td th:text="${row.linkType}">  </td>
                               <td>
                                    <div th:if="${row.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).LOCAL_HTML}">
                                         <a th:href="@{/pub/gzh/company/localHtml/{htmlPageId}(htmlPageId=${row.id})}" 
                                            th:text="@{/pub/gzh/company/locaHtml/{htmlPageId}(htmlPageId=${row.id})}">  
                                         </a>
                                    </div>
                                    <div th:if="${row.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).EXTERNAL_LINK}">
                                         <a th:href="${row.externalLink}" th:text="${row.externalLink}"> </a>
                                    </div>
                               </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of div table-responsive  -->
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"> </div>  
</th:block>    

</body>
</html>
