<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-创建自定义网页</title>
</head>
<body>
            <div layout:fragment="right-content" >
                 <h4>　创建自定义网页 </h4>
                 <hr>
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th th:text="#{tl.htmlpage.page.title}"> </th>
                               <th th:text="#{tl.htmlpage.link.type}"></th>
                               <th th:text="#{tl.htmlpage.link.href}"></th>
                           </tr>
                        </thead>
                        <tbody>
                           <th:block th:each="row : ${htmlPageMap}">
                               <tr th:if="${row.value != null}" class="clickable-row" th:href="@{/gzhOps/htmlPage/details/{id}(id=${row.value.id})}" role="button">
                                   <td th:text="${row.key}">  </td>
                                   <td th:text="${row.value.linkType}"> </td>
                                   <td>
                                       <div th:if="${row.value.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).LOCAL_HTML}">
                                            <a th:href="@{/pub/gzh/company/localHtml/{htmlPageId}(htmlPageId=${row.value.id})}" 
                                               th:text="@{/pub/gzh/company/locaHtml/{htmlPageId}(htmlPageId=${row.value.id})}">  
                                            </a>
                                       </div>
                                       <div th:if="${row.value.linkType == T(com.cju.gzhOps.GzhHtmlPageLinkType).EXTERNAL_LINK}">
                                            <a th:href="${row.value.externalLink}" th:text="${row.value.externalLink}"> </a>
                                       </div>
                                   </td>
                               </tr>
                               <tr th:if="${row.value == null}" class="clickable-row" role="button"
                                   th:href="@{/gzhOps/htmlPage/create/gzhCompany/{id}(id=${gzhCompany.id}, pageTitle=${row.key})}">
                                   <td th:text="${row.key}">  </td>
                                   <td>  </td>
                                   <td>  </td>
                                   <td>  </td>
                               </tr>
                          </th:block>
                        </tbody>
                    </table>
                </div>
                <!-- end of div table-responsive  -->
                
                <div class="panel panel-primary">
                    <div class="panel-heading"> 小提示　</div>
                    <div class="panel-body">
                        <ul>
                            <li> 点击上面其中一行来创建自定义网页    </li>
                            <li> 每个网页标题要唯一，不能和其他的相同。    </li>
                            <li> 你可以创建多个自定义标题的网页。但创建时要为每个自定义标题的网页输入不同的标题。    </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"> </div>  
</th:block>    

</body>
</html>
