<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理 - 系统链接</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4>系统链接</h4>
                <hr>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a class="sorted" sd:pagination-sort="name">系统链接名称</a></th>
                            <th><a class="sorted" sd:pagination-sort="url">链接地址</a></th>
                            <th><a class="sorted" sd:pagination-sort="description">功能描述</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gzhSystemLink : ${gzhSystemLinkPage.content}">
                            <td style="width: 15%" th:text="${gzhSystemLink.name}">  </td>
                            <td style="width: 40%" class="word-break-all">
                                <a th:href="${gzhSystemLink.url}" th:text="${gzhSystemLink.url}"> </a>
                            </td>
                            <td style="width: 45%" th:utext="${gzhSystemLink.description}"> </td>
                        </tr>
                    </tbody>
                </table>
               
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div> 
                
                <div class="panel panel-primary">
                    <div class="panel-heading"> 小提示　</div>
                    <div class="panel-body">
                        <ul>
                            <li> 这里提供的链接地址可以被使用在你的自定义网页中和自定义菜单中。  </li>
                            <li> 你可以打开链接查看内容。 </li>
                            <li> 格式为http://.../gzh/company/{id}/... 的链接只能通过微信公众号客户端打开。这些链接针对不同的公众号关注者提供的内容是不同的。</li>
                        </ul>
                    </div>
                </div>
            </div>
</body>
</html>
