<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/css/jquery-sortable.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-创建私有事务模板</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.task.template.private.create}"></h4>
                <hr>
                <div class="container-fluid">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" > 模板名称　</div>
                        <div class="col-xs-7 nopadding-left">
                             <input id="taskName"  type="text" class="form-control" >
                        </div>
                    </div>
                    
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.status}"> </div>
                        <div class="col-xs-7 nopadding-left">
                             <select id="taskStatus"  class="selectpicker" >
                                  <option value="未开始"> 未开始  </option>
                                  <option value="办理中"> 办理中 </option>
                                  <option value="已完成"> 已完成 </option> 
                            </select>
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.template.select}"> </div>
                        <div class="col-xs-7 nopadding-left"> 
                            <select id="taskTemplate-select" class="selectpicker">
                            </select>
                        </div>
                    </div>
                </div>
                
                <hr> 
                <table id="steps-table" class="table table-striped table-bordered">
                    <caption class="padding-left-8" th:text="#{tl.task.steps.list}">Steps</caption>
                    <thead>
                        <tr>
                          <th th:text="#{tl.task.step.order}"> </th>
                          <th th:text="#{tl.task.step.name}"> </th>
                          <th th:text="#{tl.task.step.description}"> </th>
                          <th th:text="#{tl.task.step.status}"> </th>
                          <th> <span class="add-step glyphicon glyphicon-plus" role="button"> </span> </th>
                        </tr>
                    </thead>
                    <tbody class="task-sortable vertical">
                    </tbody>
                </table>
                
                <hr>
                <button id="addTaskButton" type="button" class="btn btn-default" th:text="#{tl.task.template.create}"> </button>
            </div>

<th:block layout:fragment="file-end-script">  
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/js/jquery-sortable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="selectOptionGroupTemplate" type="text/x-handlebars-template">
        <optgroup label="公共模板">
            {{#each publicTemplateList}}
                <option value={{this.id}}> {{this.name}} </option>
            {{/each}}
        </optgroup>
        <optgroup label="私有模板">
            {{#each privateTemplateList}}
                <option value={{this.id}}> {{this.name}} </option>
            {{/each}}
        </optgroup>
    </script>
    <script id="taskStepsTemplate" type="text/x-handlebars-template">
        {{#each steps}}
            <tr>
                <td>
                    <div class="step-order" > {{this.order}} </div>
                </td>
                <td>
                    {{#if this.name}}
                        <div class="step-name editable-field editable-click" data-type="text" data-original-title="修改步骤">
                             {{this.name}}
                        </div> 
                    {{else}}
                        <div class="step-name editable-field editable-click  editable-empty" data-value="" data-type="text" data-original-title="修改步骤">
                             {{this.name}}
                        </div> 
                    {{/if}}
                </td>
                <td>
                    {{#if this.description}}
                        <div class="step-description editable-field editable-click" data-type="textarea" data-original-title="修改备注"> {{this.description}} </div>                           
                    {{else}}
                        <div class="step-description editable-field editable-click editable-empty" data-value="" data-type="textarea" data-original-title="修改备注"> {{this.description}} </div>
                    {{/if}}
                </td>
                <td>
                    <div class="step-status editable-status editable-click"  data-type="select" data-original-title="修改状态", data-value={{this.status}}
                         data-source="[{value:'未开始', text: '未开始'}, {value: '办理中', text: '办理中'}, {value: '已完成', text: '已完成'}]">
                         {{this.status}}
                    </div>
                </td>
                <td> <span class="remove-step glyphicon glyphicon-minus" role="button"> </span> </td>
            </tr> 
        {{/each}}
    </script> 
    <script id="newTaskStepTemplate" type="text/x-handlebars-template">
        <tr>
            <td>
                <div class="step-order"> </div>
            </td>
            <td>
                    <div class="step-name editable-field editable-click" data-type="text" data-original-title="修改步骤"> 步骤名称 </div> 
            </td>
            <td>
                    <div class="step-description editable-field editable-click" data-type="textarea" data-original-title="修改备注"> 备注　 </div>
            </td>
            <td>
                <div class="step-status editable-status editable-click"  data-type="select" data-original-title="修改状态", data-value="未开始"
                     data-source="[{value:'未开始', text: '未开始'}, {value: '办理中', text: '办理中'}, {value: '已完成', text: '已完成'}]"> 未开始  
                </div>
            </td>
            <td> <span class="remove-step glyphicon glyphicon-minus" role="button"> </span> </td>
        </tr> 
    </script> 
    <script id="placeHolderTemplate" type="text/x-handlebars-template">
        <tr class="clickable-row placeholder"> 
            <td> 放在这里 </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> <span class="remove-step glyphicon glyphicon-minus"> </span> </td>
        </tr>
    </script>
    
    <script th:inline="javascript"> 
        $(function () {
            var taskTemplateMap = new Map();
            
            var selectOptionGroupTemplate = Handlebars.compile($("#selectOptionGroupTemplate").html());
            var taskStepsTemplate = Handlebars.compile($("#taskStepsTemplate").html());
            var newTaskStepTemplate = Handlebars.compile($("#newTaskStepTemplate").html());
            var placeHolderTemplate = Handlebars.compile($("#placeHolderTemplate").html());
            
            function updateStepOrder() {
                var $tds = $("tbody.task-sortable td div.step-order");
                $tds.each(function (index, td) {
                    //td is a DOM element. $(td) is a jQuery object.
                    var order = index + 1;
                    $(td).html(order);
                });
            }
            
            function loadTaskTemplate () {
                $.get('/gzhOps/api/v1/task/template/list', 
                      function (data) {
                           //console.log("task template from server=" + data);
                           var taskTemplateList = JSON.parse(data);
                           var publicTemplateList = [];
                           var privateTemplateList = [];
                           taskTemplateList.forEach( function(elem) {
                               taskTemplateMap.set(elem.id, elem);
                               var taskType = elem.type;
                               if (elem.type == [[${T(com.cju.gzhOps.GzhTaskType).PUBLIC_TEMPLATE}]]) {
                                   publicTemplateList.push(elem);
                               }
                               else if (elem.type == [[${T(com.cju.gzhOps.GzhTaskType).PRIVATE_TEMPLATE}]]) {
                                   privateTemplateList.push(elem);
                               }
                           });
                           
                           var context = {
                                   publicTemplateList: publicTemplateList,
                                   privateTemplateList: privateTemplateList,
                               };
                           var selectOptionGroup = selectOptionGroupTemplate(context);
                           $('#taskTemplate-select').append(selectOptionGroup);
                           //refresh the selectpicker
                           $('#taskTemplate-select').selectpicker('refresh');
                           
                           $('#taskTemplate-select').triggerHandler('changed.bs.select');
                      }); 
            };
            
            $('.selectpicker').selectpicker({
                style: 'btn-default'
            });
            
            loadTaskTemplate();
            
            $('#taskTemplate-select').on('changed.bs.select', function(e) {
                var taskId = $(e.currentTarget).val();
                var taskTemplate = taskTemplateMap.get(Number(taskId));
                var steps = taskTemplate.steps;
                var context = {
                    steps: steps
                };
                var taskSteps = taskStepsTemplate(context);
                $('tbody.task-sortable').html(taskSteps);
            });
            
            $('#steps-table').editable({
                selector: '.editable-status',
                toggle: 'dblclick',
                emptytext: '未开始',
            });
            
            $('#steps-table').editable({
                selector: '.editable-field',
                toggle: 'dblclick',
                emptytext: ''
            });
            
            $('#steps-table').on('click', '.remove-step', function() {
                $(this).closest("tr").remove();
                updateStepOrder();
            });
            
            $('#steps-table').on('click', '.add-step', function() {
                var context = {};
                var newTaskStep = newTaskStepTemplate(context);
                $("tbody.task-sortable").append(newTaskStep);
                updateStepOrder();
            });
            
            var placeHolder = placeHolderTemplate();
            $("tbody.task-sortable").sortable({
                containerSelector: "tbody",
                itemSelector: "tr",
                distance: 1,
                delay: 50,
                placeholder: placeHolder,
                onDrop: function ($item, container, _super, event) {
                    //drop the item in place
                    _super($item, container);
                    updateStepOrder();
                }
            });
            
            $("#addTaskButton").on("click", function(e) {
                var taskName = $('#taskName').val();
                if (!taskName) {
                    var alertMessage = "请输入事务模板名称";
                    alert(alertMessage);
                    return;
                }
                var taskStatus = $('#taskStatus').val();
                
                var $steps = $('tbody.task-sortable tr').map(
                    function() { 
                       var tr = $(this); 
                       var stepOrder = tr.find ('td div.step-order').text().trim();
                       var stepName = tr.find ('td div.step-name').text().trim();
                       var stepDescription = tr.find ('td div.step-description').text().trim();
                       var stepStatus = tr.find ('td div.step-status').text().trim();
                       var step = {  
                           order: stepOrder,
                           name: stepName,
                           description: stepDescription,
                           status:stepStatus,
                       };
                       return step;
                });
                var task = {
                    name: taskName,
                    status: taskStatus,
                    steps: $steps.get()
                };
                var taskJson = JSON.stringify(task, null, ' ');
                console.log(taskJson);
                var createGzhTaskUrl = '/gzhOps/api/v1/task/template/create';
                console.log('createGzhTaskUrl=' + createGzhTaskUrl);
                $.post(createGzhTaskUrl,
                       taskJson, 
                       function (data) {
                           console.log("data=" + data);
                           var gzhTask = JSON.parse(data);
                           alert("创建事务模板成功");
                           var taskDetailsUrl = '/gzhOps/task/' + gzhTask.id + '/details';
                           window.location.href = taskDetailsUrl;
                       })
                       .fail(function(jqXHR, textStatus, errorThrown) {
                           console.log(jqXHR.responseText);
                           alert(jqXHR.responseText);
                       });
            });
        
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
        });
    </script>
</th:block>    
</body>
</html>
