<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorator="masterSidemenuLayout">
    
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/css/jquery-sortable.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理 - 事务详情</title>
</head>
    
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4> <span th:text = "#{tl.task.details}"> </span> </h4>
                <hr>
                <div class="container-fluid">
                   <div class="row padding-tb-8" th:if="${gzhUser != null}"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.nickname}"> </div>
                        <div id="gzhUserId" class="col-xs-7 nopadding-left" th:text="${gzhUser.nickName}"> </div>
                   </div>
                   <div class="row padding-tb-8 hide"> 
                        <div class="col-xs-3 nopadding-left"> task id</div>
                        <div id="taskId" class="col-xs-7 nopadding-left" th:text="${gzhTask.id}"> </div>
                   </div>
                   <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.name}"> </div>
                        <div id="taskName" class="col-xs-7 nopadding-left editable-field" data-type="text" 
                             th:attr="data-original-title=#{tl.task.name.edit}" 
                             th:text="${gzhTask.name}" >
                        </div>
                   </div>
                   <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.type}"> </div>
                        <div id="taskType" class="col-xs-7 nopadding-left" th:text="${gzhTask.type}" > </div>
                   </div>
                   <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.status}"> </div>
                        <div id="taskStatus" class="col-xs-7 nopadding-left task-status editable-status" data-type="select" 
                            th:attr="data-original-title=#{tl.task.status.edit}, data-value=${gzhTask.status}"
                            data-source="{'未开始':'未开始', '办理中': '办理中', '已完成': '已完成'}"
                            th:text="${gzhTask.status}" >
                       </div>
                   </div>
                   <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left">备注</div>
                        <div id="taskNote" class="col-xs-7 nopadding-left editable-field ws-pre-wrap" data-type="textarea" 
                             th:attr="data-original-title=#{tl.task.note.edit}" 
                             th:text="${gzhTask.note}" >
                        </div>
                   </div>
                   <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.task.status.lastChange}"> </div>
                        <div id="taskLastStatusChange" class="col-xs-7 nopadding-left">
                             <div th:if="${gzhTask.lastStatusChange != null}"
                                  th:text="${#temporals.format(gzhTask.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}" >
                             </div>
                             <div class="offset-date-time hide" th:text="${gzhTask.lastStatusChange}" >
                             </div>
                        </div>
                   </div>
                </div>
               
                <hr> 
                <table id="steps-table" class="table table-striped table-bordered">
                    <caption class="padding-left-8" th:text="#{tl.task.steps.list}">Steps</caption>
                    <thead>
                        <tr>
                          <th th:text="#{tl.task.step.order}"> </th>
                          <th th:text="#{tl.task.step.name}"> </th>
                          <th th:text="#{tl.task.step.description}"> </th>
                          <th th:text="#{tl.task.step.status}"> </th>
                          <th th:text="#{tl.task.step.lastStatusChange}"> </th>
                        </tr>
                    </thead>
                    <tbody class="task-sortable vertical">  
                       <tr th:each="gzhTaskStep : ${gzhTask.steps}" >
                           <td th:text="${gzhTaskStep.order}"> </td>
                           <td th:text="${gzhTaskStep.name}"> </td>
                           <td class="ws-pre-wrap" th:utext="${gzhTaskStep.description}"> </td>
                           <td th:text="${gzhTaskStep.status}"> </td>
                           <td>
                               <div th:if="${gzhTaskStep.lastStatusChange != null}"
                                    th:text="${#temporals.format(gzhTaskStep.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}" >
                               </div>
                           </td>
                       </tr>
                    </tbody>
                </table>
                
                <div id="edit-gzhTask" th:if="${enableEdit == true}" >
                    <button type="button" class="btn btn-default">修改</button>
                </div>
                <div id="save-gzhTask" class="hide">
                    <button type="button" class="btn btn-default"  th:text='#{tl.save}'>Save</button>
                </div>
                
            </div>
            
<th:block layout:fragment="file-end-script">    
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/js/jquery-sortable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/handlebars/handlebars-v4.0.10.js')}"></script>
    <script id="selectOptionGroupTemplate" type="text/x-handlebars-template">
        <optgroup label="公共模板">
            {{#each publicTemplateList}}
                <option value={{this.id}}> {{this.name}} </option>
            {{/each}}
        </optgroup>
        <optgroup label="私有模板">
            {{#each privateTemplateList}}
                <option value={{this.id}}> {{this.name}} </option>
            {{/each}}
        </optgroup>
    </script>
    <script id="addStepTemplate" type="text/x-handlebars-template">
        <th> <span class="add-step glyphicon glyphicon-plus" role="button"> </span> </th>
    </script>
    <script id="taskStepsTemplate" type="text/x-handlebars-template">
        {{#each steps}}
            <tr>
                <td>
                    <div class="step-order" > {{this.order}} </div>
                </td>
                <td>
                    {{#if this.name}}
                        <div class="step-name editable-field editable-click" data-type="text" data-original-title="修改步骤">
                             {{this.name}}
                        </div> 
                    {{else}}
                        <div class="step-name editable-field editable-click  editable-empty" data-value="" data-type="text" data-original-title="修改步骤">
                             {{this.name}}
                        </div> 
                    {{/if}}
                </td>
                <td>
                    {{#if this.description}}
                        <div class="step-description editable-field editable-click" data-type="textarea" data-original-title="修改备注"> {{this.description}} </div>                           
                    {{else}}
                        <div class="step-description editable-field editable-click editable-empty" data-value="" data-type="textarea" data-original-title="修改备注"> {{this.description}} </div>
                    {{/if}}
                </td>
                <td>
                    <div class="step-status editable-status editable-click"  data-type="select" data-original-title="修改状态", data-value={{this.status}}
                         data-source="[{value:'未开始', text: '未开始'}, {value: '办理中', text: '办理中'}, {value: '已完成', text: '已完成'}]">
                         {{this.status}}
                    </div>
                </td>
                <td>
                    <div class="lastStatusChange">
                         <div> {{this.lastStatusChangeCN}} </div>
                         <div class="offset-date-time hide" > {{this.lastStatusChange}} </div>
                    </div>
                </td>
                <td> <span class="remove-step glyphicon glyphicon-minus" role="button"> </span> </td>
            </tr> 
        {{/each}}
    </script> 
    <script id="newTaskStepTemplate" type="text/x-handlebars-template">
        <tr>
            <td>
                 <div class="step-order"> </div>
            </td>
            <td>
                 <div class="step-name editable-field editable-click" data-type="text" data-original-title="修改步骤"> 步骤名称 </div> 
            </td>
            <td>
                 <div class="step-description editable-field editable-click" data-type="textarea" data-original-title="修改备注"> 备注　 </div>
            </td>
            <td>
                 <div class="step-status editable-status editable-click"  data-type="select" data-original-title="修改状态", data-value="未开始"
                      data-source="[{value:'未开始', text: '未开始'}, {value: '办理中', text: '办理中'}, {value: '已完成', text: '已完成'}]"> 未开始  
                 </div>
            </td>
            <td> 
                 <div class="lastStatusChange"> </div>
            </td>
            <td> <span class="remove-step glyphicon glyphicon-minus" role="button"> </span> </td>
        </tr> 
    </script> 
    <script id="placeHolderTemplate" type="text/x-handlebars-template">
        <tr class="clickable-row placeholder"> 
            <td> 放在这里 </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> </td> 
            <td> <span class="remove-step glyphicon glyphicon-minus"> </span> </td>
        </tr>
    </script>
    <script th:inline="javascript"> 
        // Javascript Date() uses the local time zone to interpret arguments in RFC2822 Section 3.3 format that do not contain time zone information.
        
        // ISO 8601 string format is used to pass time between browser and server.
        // From browser, Javascript Date().toISOString() will have the timezone letter Z in the end. Z means GMT timezone which has datetime offset of 0. This is sent to server.
        // On the server, Jackson2 will parse this ISO 8601 string format into Java8 date type. 
        // If the Java Entity uses LocalDateTime, the ISO 8601 string is stored unchanged into database as database Timestamp type. When the server read 
        // this date and send back to client, the Z letter is not presented at the end of the ISO 8601 string. Javascript client will treat this time as local time.
        // So we need to use OffsetDateTime on server. When server save the ISO 8601 string into database, the Timestamp is adjusted with the timezone offset.
        // When the server read the date and send back to client, the ISO 8601 string has the timezone offset, for example, +08:00 if the server is in China.
        // Javascript Date() can interpret the offset datetime correctly.
        
        $(function () {
             var addStepTemplate = Handlebars.compile($("#addStepTemplate").html());
             var taskStepsTemplate = Handlebars.compile($("#taskStepsTemplate").html());
             var newTaskStepTemplate = Handlebars.compile($("#newTaskStepTemplate").html());
             var placeHolderTemplate = Handlebars.compile($("#placeHolderTemplate").html());
             
             //Thymeleaf will serialize gzhTask.steps and setup a javascript object steps
             //Thymeleaf 3.0.8 will register JavaTimeModule to serialize Java8 DateTime to ISO8601 format
             var steps = [[${gzhTask.steps}]];
             steps.forEach(function(step) {
                 //step.lastStatusChange is in ISO8601 format
                 var lastStatusChange = new Date(step.lastStatusChange);
                 step.lastStatusChangeCN = lastStatusChange.toLocaleString('zh-CN');
             });

             function updateStepOrder() {
                 var $tds = $("tbody.task-sortable td div.step-order");
                 $tds.each(function (index, td) {
                     //td is a DOM element. $(td) is a jQuery object.
                     var order = index + 1;
                     $(td).html(order);
                 });
             }
             
             
             $("#edit-gzhTask").click( function () { 
                 $("#edit-gzhTask").addClass('hide');
                 $('#save-gzhTask').removeClass('hide');

                 var addStepIcon = addStepTemplate({});
                 $('#steps-table thead tr').append(addStepIcon);
                 
                 $('#taskName').addClass('editable-click');
                 $('#taskStatus').addClass('editable-click');
                 $('#taskNote').addClass('editable-click');
                 
                 var context = {
                         steps: steps
                     };
                 var taskSteps = taskStepsTemplate(context);
                 $('tbody.task-sortable').html(taskSteps);
                 
                 $('body').editable({
                     selector: '.editable-status',
                     toggle: 'dblclick',
                     emptytext: '未开始',
                     success: function(response, newValue) {
                         var date = new Date();
                         var isoDateStr = date.toISOString();
                         console.log("isoDateStr=" + isoDateStr);
                         if ($(this).hasClass('task-status')) {
                             var $lastStatusChange = $('#taskLastStatusChange');
                         }
                         else if ($(this).hasClass('step-status')) {
                             var $lastStatusChange = $(this).closest("td").next().children('.lastStatusChange');
                         }
                         $lastStatusChange.html('<div>' + date.toLocaleString('zh-CN') + '</div>');
                         $lastStatusChange.append('<div class="offset-date-time hide">' + isoDateStr + '</div>');
                     }
                 });
                 
                 $('body').editable({
                     selector: '.editable-field',
                     toggle: 'dblclick',
                     emptytext: ''
                 });
                 
                 $('#steps-table').on('click', '.remove-step', function() {
                     $(this).closest("tr").remove();
                     updateStepOrder();
                 });
                 
                 $('#steps-table').on('click', '.add-step', function() {
                     var context = {};
                     var newTaskStep = newTaskStepTemplate(context);
                     $("tbody.task-sortable").append(newTaskStep);
                     updateStepOrder();
                 });
                 
                 var placeHolder = placeHolderTemplate();
                 $("tbody.task-sortable").sortable({
                     containerSelector: "tbody",
                     itemSelector: "tr",
                     distance: 1,
                     delay: 50,
                     placeholder: placeHolder,
                     onDrop: function ($item, container, _super, event) {
                         //drop the item in place
                         _super($item, container);
                         updateStepOrder();
                     }
                 });

             });
             
             $("#save-gzhTask").click( function () { 
                 var $steps = $('tbody.task-sortable tr').map(
                     function() { 
                        var tr = $(this); 
                        var stepId = tr.find ('td div.step-id').text().trim();
                        var stepOrder = tr.find ('td div.step-order').text().trim();
                        var stepName = tr.find ('td div.step-name').text().trim();
                        var stepDescription = tr.find ('td div.step-description').text().trim();
                        var stepStatus = tr.find ('td div.step-status').text().trim();
                        var lastStatusChange = tr.find ('td div.lastStatusChange .offset-date-time').text().trim();
                        var step = {  
                            order: stepOrder,
                            name: stepName,
                            description: stepDescription,
                            status:stepStatus,
                            lastStatusChange: lastStatusChange
                        };
                        if (stepId != 0) 
                            step.id = stepId;
                        return step;
                 });
                 var taskId = $('#taskId').text().trim();
                 var taskName = $('#taskName').text().trim();
                 var taskNote = $('#taskNote').text().trim();
                 var taskType = $('#taskType').text().trim();
                 var taskStatus = $('#taskStatus').text().trim();
                 var lastStatusChange = $('#taskLastStatusChange').find('.offset-date-time').text().trim();
                 var task = {
                     id: taskId,
                     name: taskName,
                     note: taskNote,
                     type: taskType,
                     status: taskStatus,
                     lastStatusChange: lastStatusChange,
                     steps: $steps.get()
                 };
                 var taskJson = JSON.stringify(task, null, '    ');
                 console.log(taskJson);
                 var saveGzhTaskUrl = '/gzhOps/api/v1/task/' + taskId + '/save';
                 console.log('saveGzhTaskUrl=' + saveGzhTaskUrl);
                 $.post(saveGzhTaskUrl,
                        taskJson, 
                        function (data) {
                            console.log("data=" + data);
                            alert("保存成功");
                            var taskDetailsUrl = '/gzhOps/task/' + taskId + '/details'
                            window.location.href = taskDetailsUrl;
                        })
                        .fail(function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR.responseText);
                            alert(jqXHR.responseText);
                        });
             });
             
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
             var csrfHeader = {};
             csrfHeader[header] = token;
             $.ajaxSetup({ 
                headers : csrfHeader, 
                contentType : "application/json"
             });
             
             $("tbody.task-sortable td").css('cursor', 'default');
        });
    </script>
</th:block> 
</body>
</html>

