<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/css/jquery-sortable.css')}" rel="stylesheet" /> 
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.task.template.list}"></h4>
                <hr>
                <table id="row-clickable-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th><a class="sorted" sd:pagination-sort="type" th:text="#{tl.task.type}">Type</a></th>
                      <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.task.name}">Name</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="gzhTaskTemplate : ${gzhTaskTemplatePage.content}" class="clickable-row" 
                        th:href="@{/gzhOps/task/{id}/details(id=${gzhTaskTemplate.id})}" role="button">
                      <td  th:text="${gzhTaskTemplate.type}" >Value</td>
                      <td  th:text="${gzhTaskTemplate.name}" >Value</td>
                    </tr>
                  </tbody>
                </table>
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

    <th:block layout:fragment="file-end-script">
        <div th:replace="commonFragments :: clickable-row-script"></div>  
    </th:block>    
</body>
</html>
