<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-sortable/css/jquery-sortable.css')}" rel="stylesheet" /> 
    <title>公众号后台管理-事务列表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.task.list}"></h4>
                <hr>
                <table id="row-clickable-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th sec:authorize="hasRole('WEBADMIN')">
                          <a class="sorted" sd:pagination-sort="gzhUser.gzhCompany.name" >gzhCompany</a>
                      </th>
                      <th><a class="sorted" sd:pagination-sort="gzhUser.nickName" th:text="#{tl.gzhuser.nickname}">gzhUser</a></th>
                      <th><a class="sorted" sd:pagination-sort="type" th:text="#{tl.task.type}">Type</a></th>
                      <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.task.name}">Name</a></th>
                      <th><a class="sorted" sd:pagination-sort="status" th:text="#{tl.task.status}">Status</a></th>
                      <th><a class="sorted" sd:pagination-sort="lastStatusChange" th:text="#{tl.task.status.lastChange}">lastStatusChange</a></th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="gzhTask : ${gzhTaskPage.content}" class="clickable-row" 
                        th:href="@{/gzhOps/task/{id}/details(id=${gzhTask.id})}" role="button">
                      <td sec:authorize="hasRole('WEBADMIN')">
                          <div th:if="${gzhTask.gzhUser != null}" th:text="${gzhTask.gzhUser.gzhCompany.name}" > </div>
                      </td>
                      <td>
                          <div th:if="${gzhTask.gzhUser != null}"  th:text="${gzhTask.gzhUser.nickName}" > </div>
                      </td>
                      <td  th:text="${gzhTask.type}" >Value</td>
                      <td  th:text="${gzhTask.name}" >Value</td>
                      <td  th:text="${gzhTask.status}" >Value</td>
                      <td  th:text="${gzhTask.lastStatusChange}" >Value</td>
                    </tr>
                  </tbody>
                </table>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">  
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
