<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>公众号后台管理</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
               <h4 th:text="#{tl.gzhuser.details}"> </h4>
               <hr>
               <div class="container-fluid">
		               <div class="row padding-tb-8 hide"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.id}"> </div>
		                    <div id="gzhUserId" class="col-xs-7 nopadding-left" th:text="${gzhUser.id}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.name}"> </div>
		                    <div id="gzhUserName" class="col-xs-7 nopadding-left editable-field" th:text="${gzhUser.name}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.mobile}"> </div>
		                    <div id="gzhUserMobile" class="col-xs-7 nopadding-left editable-field" th:text="${gzhUser.mobile}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.weixin}"> </div>
		                    <div id="gzhUserWeixin" class="col-xs-7 nopadding-left editable-field" th:text="${gzhUser.weixin}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.email}"> </div>
		                    <div id="gzhUserEmail" class="col-xs-7 nopadding-left editable-field" th:text="${gzhUser.email}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.nickname}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.nickName}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.openid}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.openId}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.headimg}"> </div>
		                    <div class="col-xs-7 nopadding-left"> 
		                         <img th:src="@{{imgUrl}(imgUrl=${gzhUser.headImgUrl})}" style="width: 180px; height: 180px">
		                    </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.city}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.city}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.province}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.province}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.country}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.country}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.gzhclientcompany.list}"> </div>
                        <div class="col-xs-7 nopadding-left" >
                            <div th:each="gzhClientCompany : ${gzhUser.gzhClientCompanyList}">
                                <a th:href="@{/gzhOps/gzhClientCompany/details/{id}(id=${gzhClientCompany.id})}"
                                   th:text="${gzhClientCompany.chanjetClientCompany.name}" >
                                </a>
                            </div>
                        </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.gzhcompany}"> </div>
		                    <div class="col-xs-7 nopadding-left">
                           <a th:href="@{/gzhOps/gzhCompany/details/{id}(id=${gzhUser.gzhCompany.id})}"
                              th:text="${gzhUser.gzhCompany}? ${gzhUser.gzhCompany.name} ">
                           </a>
		                    </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.status}"> </div>
		                    <div class="col-xs-7 nopadding-left" th:text="${gzhUser.status}"> </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.lastStatusChange}"> </div>
		                    <div class="col-xs-7 nopadding-left">
                             <div th:if="${gzhUser.lastStatusChange != null}"
                                  th:text="${#temporals.format(gzhUser.lastStatusChange, 'yyyy-MM-dd HH:mm:ss')}" >
                             </div>
		                     </div>
		               </div>
		               <div class="row padding-tb-8"> 
		                    <div class="col-xs-3 nopadding-left" th:text="#{tl.gzhuser.task.list}"> </div>
		                    <div class="col-xs-7 nopadding-left"> 
                             <a th:href="@{/gzhOps/task/list/gzhUser/{id}(id=${gzhUser.id})}" th:text="#{tl.gzhuser.task.list}">  </a>
		                    </div>
		               </div>
                </div>

                <hr>
                <div class="container-fluid">
	                  <div class="row padding-tb-8"> 
				                <div id="saveGzhUser"  class="col-xs-3 btn btn-default" th:text="#{tl.save}"> </div>
				                <a  class="col-xs-3 btn btn-default margin-left-15" 
				                    th:href="@{/gzhOps/task/create?gzhUserId={id}(id=${gzhUser.id})}" th:text="#{tl.task.add}">  
				                </a>
	                  </div>
                </div>
            </div>
            <!-- end of div layout:fragment="right-content" -->
            
<th:block layout:fragment="file-end-script">          
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:inline="javascript"> 
         
          //bootstrap3-editable is X-editable - v1.5.3 
          //The .val() method is primarily used to get the values of form elements such as input, select and textarea.
          function installEditHandler() {
              $('.editable-field').editable({
                     toggle: 'dblclick',
                     mode: 'inline',
                     emptytext: ''
              });
          }
          
          $("#saveGzhUser").click( function () { 
              var id = $('#gzhUserId').text().trim();
              var name = $('#gzhUserName').text().trim();
              var mobile = $('#gzhUserMobile').text().trim();
              var weixin = $('#gzhUserWeixin').text().trim();
              var email = $('#gzhUserEmail').text().trim();
              var chanjetPassword = $('#chanjetPassword').text().trim();
              var gzhUser = {
                  id: id,
                  name: name,
                  mobile: mobile,
                  weixin: weixin,
                  email: email
              }
              var gzhUserJson = JSON.stringify(gzhUser, null, ' ');
              console.log(gzhUserJson);
              var saveGzhUserUrl = "/gzhOps/api/v1/gzhUser/edit/" + id;
              console.log('saveGzhUserUrl=' + saveGzhUserUrl);
              $.post(saveGzhUserUrl,
            		  gzhUserJson, 
                  function (data) {
                      console.log(data);
                      var saveSuccess = [[#{tl.save.success}]];
                      alert(saveSuccess);
              })
              .fail(function(jqXHR, textStatus, errorThrown) {
                  console.log(jqXHR.responseText);
                  alert(jqXHR.responseText);
              });
           });
          
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          var csrfHeader = {};
          csrfHeader[header] = token;
          $.ajaxSetup({ 
             headers : csrfHeader, 
             contentType : "application/json"
          });
         
          installEditHandler();
    </script>
</th:block> 
</body>
</html>
