<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.gzhuser.list}"></h4>
                <hr>
                <table id="row-clickable-table" class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th sec:authorize="hasRole('WEBADMIN')"><a class="sorted" sd:pagination-sort="gzhCompany.name" >Service GzhCompany</a></th>
                      <th><a class="sorted" sd:pagination-sort="openId" th:text="#{tl.gzhuser.nickname}" >nickname</a></th>
                      <th><a class="sorted" sd:pagination-sort="name" th:text="#{tl.gzhuser.name}">Name</a></th>
                      <th><a th:text="#{tl.gzhclientcompany.name}">GzhClientCompany</a></th>
                      <th><a class="sorted" sd:pagination-sort="status" th:text="#{tl.gzhuser.status}">status</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="gzhUser : ${gzhUserPage.content}" class="clickable-row" th:href="@{/gzhOps/gzhUser/details/{id}(id=${gzhUser.id})}" role="button">
                      <td sec:authorize="hasRole('WEBADMIN')">
                         <a th:href="@{/gzhOps/gzhCompany/details/{id}(id=${gzhUser.gzhCompany.id})}"
                            th:text="${gzhUser.gzhCompany}? ${gzhUser.gzhCompany.name} ">
                         </a>
                      </td>
                      <td  th:text="${gzhUser.nickName}">nickname</td>
                      <td  th:text="${gzhUser.name}" >Value</td>
                      <td>
                          <div th:each="gzhClientCompany : ${gzhUser.gzhClientCompanyList}">
                              <a th:href="@{/gzhOps/gzhClientCompany/details/{id}(id=${gzhClientCompany.id})}"
                                 th:text="${gzhClientCompany.chanjetClientCompany.name}"> 
                              </a>
                          </div>
                      </td>
                      <td th:text="${gzhUser.status}">status</td>
                    </tr>
                  </tbody>
                </table>
                
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

    <th:block layout:fragment="file-end-script">
        <div th:replace="commonFragments :: clickable-row-script"></div>  
    </th:block>    
</body>
</html>
