<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-应用程序异常</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.application.exception}"> </h4>
                <div class="container-fluid">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.timestamp}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${globalException.timestamp}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.exception}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${globalException.exception}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.path}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${globalException.path}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.rootcause}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${globalException.rootCause}"> </div>
                    </div>
                </div>

                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#id-trace">Trace</button>
                <div id="id-trace" class="collapse" th:text="${globalException.trace}"> </div>
            </div>
</body>
</html>
