<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理-应用程序错误</title>
</head>
<body>
    <div layout:fragment="right-content">
        <h4 th:text="#{tl.application.error}"> </h4>
        <hr>
        <div class="container-fluid">
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.timestamp}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(globalError.timestamp, 'yyyy-MM-dd HH:mm:ss')}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.x.forwarded.for}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.xForwardedFor}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.path}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.path}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.status}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.status}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.error}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.error}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.message}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.message}"> </div>
           </div>
           <div class="row padding-tb-8"> 
               <div class="col-xs-3 nopadding-left" th:text="#{tl.exception}"> </div>
               <div class="col-xs-7 nopadding-left" th:text="${globalError.exception}"> </div>
           </div>
        </div>
            
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#id-trace">Trace</button>
        <div id="id-trace" class="collapse" th:text="${globalError.trace}"> </div>

    </div>
</body>
</html>

