<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>公众号后台管理</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
               <div class="table-responsive">
                   <table id="row-clickable-table" class="table table-striped table-hover">
                     <thead>
                        <tr>
                          <th><a class="sorted" sd:pagination-sort="Id" >Id</a></th>
                          <th><a class="sorted" sd:pagination-sort="timestamp" >timestamp</a></th>
                          <th><a class="sorted" sd:pagination-sort="path" >path</a></th>
                          <th><a class="sorted" sd:pagination-sort="rootCause" >rootCause</a></th>
                          <th><a class="sorted" sd:pagination-sort="exception" >exception</a></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="row : ${globalExceptionPage.content}" class="clickable-row" th:href="@{/gzhOps/exception/details/{id}(id=${row.id})}" role="button">
                          <td th:text="${row.Id}"></td>
                          <td th:text="${row.timestamp}"></td>
                          <td th:text="${row.path}"></td>
                          <td th:text="${row.rootCause}"></td>
                          <td th:text="${row.exception}"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
