<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-营销用户收入详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 th:text="${referalDetailsTitle}"> </h4>
                <hr>
                <p> 关于营销收入的累计方式，请阅读<a href="/pub/referal/intro">互利营销</a></p>
                
                <hr>
                <div class="container-fluid position-relative">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.status}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalStatus}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.referal.num}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalNum}"> </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.my.child.level}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.childLevel}"> </div>
                    </div>
                    <div  th:if="${referal.childLevel == T(com.cju.marketing.ReferalLevel).SELF || referal.childLevel == T(com.cju.marketing.ReferalLevel).UNDER_ADMIN}" >
                        <div class="row padding-tb-8"> 
                            <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.total.earning}"> </div>
                            <div class="col-xs-7 nopadding-left" th:text="${referal.totalEarning}"> </div>
                        </div>
                        <div class="row padding-tb-8"> 
                            <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.balance}"> </div>
                            <div class="col-xs-7 nopadding-left" th:text="${referal.referalAccount.balance}"> </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.parent.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" > 
                             <div th:if="${referal.parentReferal != null}" th:text="${referal.parentReferal.user.userName}"> </div>
                        </div>
                    </div>
                    <div  th:if="${referal.childLevel != T(com.cju.marketing.ReferalLevel).SELF}" >
                        <br>
                        <div class="row"> 
		                        <h5 class="nopadding-left" th:text="#{tl.referal.income.by.gzhcompany}"> </h5>
		                        <hr>
                        </div>
                        
                        <div class="row padding-tb-8"> 
                            <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.owned.gzhcompany}"> </div>
                            <div class="col-xs-7 nopadding-left">
                                 <div th:if="${referal.user.ownedGzhCompany != null}" th:text="${referal.user.ownedGzhCompany.name}"> </div>
                            </div>
                        </div>
                        
                        <div  th:if="${referal.user.ownedGzhCompany != null}"  >
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.current.billing.status}"> </div>
                                <div class="col-xs-7 nopadding-left">
                                     <div th:text="${referal.user.ownedGzhCompany.billingStatus}"> </div>
                                </div>
                            </div>
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.active.billing.start.date}"> </div>
                                <div class="col-xs-7 nopadding-left">
                                     <div th:if="${referal.user.ownedGzhCompany.activeBillingStartDate != null}" 
                                          th:text="${#temporals.format(referal.user.ownedGzhCompany.activeBillingStartDate, 'yyyy-MM-dd')}"> 
                                     </div>
                                </div>
                            </div>
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.status}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeStatus}"> </div>
                            </div>
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.start.date}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeStartDate}">  </div>
                            </div>
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.end.date}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeEndDate}">  </div>
                            </div>
                            <div class="row padding-tb-8"> 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.current.end.date}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeCurrentEndDate}">  </div>
                            </div>
                            <div class="row padding-tb-8" th:if="${referal.childLevel == T(com.cju.marketing.ReferalLevel).LEVEL1}" > 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.me}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForParent}" ></div>
                            </div>
                            <div class="row padding-tb-8" th:if="${referal.childLevel == T(com.cju.marketing.ReferalLevel).LEVEL2}" > 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.me}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForGrandParent}"> </div>
                            </div>
                            <div class="row padding-tb-8" th:if="${referal.childLevel == T(com.cju.marketing.ReferalLevel).UNDER_ADMIN}" > 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.parent}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForParent}" ></div>
                            </div>
                            <div class="row padding-tb-8" th:if="${referal.childLevel == T(com.cju.marketing.ReferalLevel).UNDER_ADMIN}" > 
                                <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.grand.parent}"> </div>
                                <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForGrandParent}"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
                <br>
                <h5 th:text="${childReferalPageTitle}"></h5>
                <hr>
                
                <div th:if="${showChildReferalPage == true}">
                    <div class="table-responsive">
                       <table id="row-clickable-table" class="table table-striped table-hover">
                         <thead>
                            <tr>
                                <th><a class="sorted" sd:pagination-sort="user.userName" th:text="#{tl.referal.user.name}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalStatus" th:text="#{tl.referal.status}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="parentReferal.user.userName" th:text="#{tl.referal.parent.user.name}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="user.ownedGzhCompany" th:text="#{tl.referal.owned.gzhcompany}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeStatus" th:text="#{tl.referal.income.status}"></a></th>
                                <th:block sec:authorize="!hasRole('WEBADMIN')">
                                    <th th:text="#{tl.referal.my.child.level}"></th> 
                                    <th th:text="#{tl.referal.income.for.me}"></th> 
                                </th:block>
                                <th:block sec:authorize="hasRole('WEBADMIN')">
                                    <th th:text="#{tl.referal.child.level(${referal.user.userName})}"></th> 
                                    <th th:text="#{tl.referal.income.for.user(${referal.user.userName})}"></th> 
                                </th:block>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="row : ${childReferalPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/income/{id}/details(id=${row.id})}" role="button">
                                <td th:text="${row.user.userName}"> </td>
                                <td th:text="${row.referalStatus}"> </td>
                                <td> 
                                    <div th:if="${row.parentReferal != null}" th:text="${row.parentReferal.user.userName}" > </div>
                                </td>
                                <td> 
                                    <div th:if="${row.user.ownedGzhCompany != null}" th:text="${row.user.ownedGzhCompany.name}" > </div>
                                </td>
                                <td>
                                    <div th:text="${row.referalFeeStatus}"> </div>
                                </td>
                                <td> 
                                    <div th:text="${row.childLevel}" > </div>
                                </td>
                                <td> 
                                    <div th:if="${row.childLevel == T(com.cju.marketing.ReferalLevel).LEVEL1}" th:text="${row.referalFeeForParent}"> </div>
                                    <div th:if="${row.childLevel == T(com.cju.marketing.ReferalLevel).LEVEL2}" th:text="${row.referalFeeForGrandParent}"> </div>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>

                    <hr>
                    <div th:replace="commonFragments :: aligned-links-pagination"></div>  
                </div>
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
