<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-营销费用累计详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 th:text="#{tl.referal.income.status.details}"> </h4>
                <hr>

                <div class="container-fluid position-relative">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.gzhcompany.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.user.ownedGzhCompany.name}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.status}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeStatus}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.current.billing.status}"> </div>
                        <div class="col-xs-7 nopadding-left">
                             <div th:text="${referal.user.ownedGzhCompany.billingStatus}"> </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.active.billing.start.date}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.user.ownedGzhCompany.activeBillingStartDate}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.start.date}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeStartDate}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.end.date}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeEndDate}">  </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.current.end.date}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeCurrentEndDate}"> </div>
                    </div>
                    <br>
                    
                    <div class="row padding-tb-8"> 
                        <div class="nopadding-left" th:text="#{tl.referal.income.for.upper.levels.by.gzhcompany}"> </div>
		                    <hr>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.owner}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.gzhcompany.owner.referal.status}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalStatus}"> </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.parent.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left">
                             <a th:if="${parentReferalUserName != null}" 
                                th:href="${parentReferalBalanceLink}" th:text="${parentReferalUserName}"> 
                             </a>
                             <div th:if="${parentReferalUserName == null}" th:text="#{tl.referal.parent.not.exist}">  </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.parent.referal.status}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${parentReferalStatus}"> </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.parent}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForParent}"> </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.grand.parent.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left">
                             <a th:if="${grandParentReferalUserName != null}" 
                                  th:href="${grandParentReferalBalanceLink}" th:text="${grandParentReferalUserName}"> 
                             </a>
                             <div th:if="${grandParentReferalUserName == null}" th:text="#{tl.referal.grand.parent.not.exist}"> </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.grand.parent.referal.status}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${grandParentReferalStatus}"> </div>
                    </div>
                    <div class="row padding-tb-8" > 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.income.for.grand.parent}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.referalFeeForGrandParent}"> </div>
                    </div>
                </div>
                
                <hr>
                <button id="revertReferalFeeStatus" type="button" class="btn btn-default"
                        th:text="#{tl.referal.income.status.revert.to.accumulating}" 
                        th:href="@{/gzhOps/api/v1/referal/{id}/referalFeeStatusRevert(id=${referal.id})}">
                </button>
                
                <!-- Modal for reverting referal fee status -->
                <div class="modal fade" id="revertReferalFeeStatusModal" tabindex="-1" >
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{tl.referal.income.status.revert.to.accumulating}"> </h5>
                            </div>
                            <div class="modal-body">
                                 <div class="alert alert-info li-margin-top"> 
                                     <ol>
                                         <li>该公众号公司当前的营销状态是记账完成。</li>
                                         <li>该公众号公司为上一级用户累计的营销费用[[${referal.referalFeeForParent}]]已经计入到[[${parentReferalUserName}]]的营销账户中。</li>
                                         <li>该公众号公司为上上级用户累计的营销费用[[${referal.referalFeeForGrandParent}]]已经计入到[[${grandParentReferalUserName}]]的营销账户中。</li>
                                         <li>营销状态退回到营销累计中后，计入到上一级和上上级的营销累计收入也会同时被退回。</li>
                                     </ol>
                                 </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                     <span th:text="#{tl.close}"></span>
                                 </button>
                                 <button id="confirmToRevertButton" type="button" class="btn btn-default" data-dismiss="modal">
                                     <span th:text="#{tl.referal.income.status.revert.to.accumulating.confirm}"> </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:inline="javascript"> 
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
                headers : csrfHeader, 
                contentType : "application/json"
            });
            
            $('#revertReferalFeeStatus').click(function(e) {
                $('#revertReferalFeeStatusModal').modal('show');
            });
            
            
            $('#confirmToRevertButton').click(function() {
                var url = $('#revertReferalFeeStatus').attr('href');
                console.log("url=" + url);
                 $.post(url,
                        function (data) {
                            console.log(data);
                            alert(data);
                            window.location.reload();
                   })
                  .fail(function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.responseText);
                        alert(jqXHR.responseText);
                   });
            });
        });
    </script>
</th:block>  

</body>
</html>
