<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-营销账户余额</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 class="padding-left-8" th:text="#{tl.referal.balance.list}"></h4>
                <hr>

                <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
	                              <th><a class="sorted" sd:pagination-sort="referal.user.userName" th:text="#{tl.user.name}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referal.referalNum" th:text="#{tl.referal.referal.num}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referal.referalStatus" th:text="#{tl.referal.status}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referal.totalEarning" th:text="#{tl.referal.total.earning}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="balance" th:text="#{tl.referal.balance}"></a></th>
	                              <th><a th:text="#{tl.billing.balance.adjust}"></a></th>
	                          </tr>
                        </thead>
	                      <tbody>
	                          <tr th:each="row : ${referalAccountPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/balance/{id}/details(id=${row.id})}" role="button">
	                              <td th:text="${row.referal.user.userName}"> </td>
	                              <td th:text="${row.referal.referalNum}"> </td>
	                              <td th:text="${row.referal.referalStatus}"> </td>
	                              <td th:text="${row.referal.totalEarning}"> </td>
	                              <td th:text="${row.balance}"> </td>
	                              <td> 
                                   <a th:href="@{/gzhOps/referal/balance/{id}/adjust(id=${row.id})}" th:text="#{tl.referal.balance.adjust}"> </a>
                                </td>
	                          </tr>
	                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
