<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-营销账户余额调整</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.referal.balance.adjust}"> </h4>
                <hr>

                <div class="container-fluid position-relative">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.balance}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.balance}"> </div>
                    </div>
                 </div>
                 
                 <hr>
                 
                 <form class="form-horizontal">
                     <fieldset>
				                 <div class="form-group no-margin-lr">
				                    <label class="col-md-5 nopadding-left control-label"  th:text="#{tl.billing.balance.adjust。amount}"> </label>
				                    <div class="col-md-7 nopadding-left" >
				                         <input id="adjustAmount" type="text" class="form-control" required>
				                    </div>
				                </div>
				                
				                <div class="form-group no-margin-lr">
				                    <label class="col-md-5 nopadding-left control-label"  th:text="#{tl.transaction.ref.type}"> </label>
				                    <div class="col-md-7 nopadding-left">
						                    <select id="txRefType" class="form-control" required>
						                          <option value="BankCashOut" th:text="#{tl.referal.balance.bank.cash.out}"> </option>
						                          <option value="REFERAL_INCOME" th:text="#{tl.referal.balance.referal.income}"></option>
						                          <option value="REFERAL_INCOME_REVERT" th:text="#{tl.referal.balance.referal.income.revert}"></option>
						                          <option value="MANUAL_ADJUST" th:text="#{tl.referal.balance.adjust}"></option>
						                      </select>
				                    </div>
				                </div>
				                <div class="form-group no-margin-lr">
				                    <label class="col-md-5 nopadding-left control-label"  th:text="#{tl.transaction.ref.number}"> </label>
				                    <div class="col-md-7 nopadding-left" >
				                         <input id="txRefNum" type="text" class="form-control">
				                    </div>
				                </div>
				                <div class="form-group no-margin-lr">
				                    <label class="col-md-5 nopadding-left control-label"  th:text="#{tl.transaction.note}"> </label>
				                    <div class="col-md-7 nopadding-left" >
				                         <input id="adjustNote" type="text" class="form-control">
				                    </div>
				                </div>
				             </fieldset>
                 </form>
                 
                 <hr>
                 <input id="balanceAdjust" type="submit" th:value="#{tl.referal.balance.adjust}" class="btn btn-default" /> 
                
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            $('#balanceAdjust').on('click', function(e){
                var adjustAmount = $('#adjustAmount').val();
                var adjustNote = $('#adjustNote').val();
                var txRefType = $('#txRefType').val();
                var txRefNum = $('#txRefNum').val();
                if (txRefType == "BillDebit") {
                    var regexUuid = /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;
                    if (!regexUuid.test(txRefNum)) {
                        var invalidUuid = [[#{tl.billing.bill.billid.invalid}]];
                        console.log("Invalid txRefNum: " + txRefNum);
                        alert(invalidUuid)
                        return;
                    }
                }
                var adjust = {
                    adjustAmount: adjustAmount,
                    adjustNote: adjustNote,
                    txRefType: txRefType,
                    txRefNum: txRefNum
                }
                
                var adjustJson = JSON.stringify(adjust, null, ' ');
                
                var url = "/gzhOps/api/v1/referal/" + [[${referalAccount.id}]] + "/balance/adjust"
                $.post(url,
                       adjustJson,
                       function (data) {
                             console.log(data);
                             var saveSuccess = [[#{tl.referal.balance.adjust。success}]];
                             alert(saveSuccess + "\n" + data);
                             window.location.reload();
                        })
                .fail(function(jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR.responseText);
                     alert(jqXHR.responseText);
                });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        });
    </script>
</th:block>                           
</body>
</html>