<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/css/jquery-ui.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <title>公众号后台管理-营销余额提现详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 th:text="#{tl.referal.cash.out.details}"> </h4>
                <hr>
                <div class="container-fluid position-relative">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.receipient}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.receipientName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.amount}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.amount}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.submit.time}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(referalCashOut.submitTime, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.request.num}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.requestNum}"> </div>
                    </div>
                    
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.status}"> </div>
                        <div id="referalCashOutStatus" class="col-xs-7 nopadding-left admin-editable-field" data-type="select" 
                             th:attr="data-original-title=#{tl.referal.cash.out.status}"
                             data-source="[{value:1, text:'申请受理'}, {value:2, text:'申请驳回'}, {value:3, text:'银行错误'}, {value:4, text:'提现完成'}]"
                             data-value="1" data-inputclass="editable-input-width-180"
                             th:text="${referalCashOut.referalCashOutStatus}" > 
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.bankName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.branch.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.bankBranchName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.province}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.bankProvince}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.city}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.bankCity}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.account.num}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.bankAccountNum}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.bank.tx.ref.num}"> </div>
                        <div id="bankTxRefNum" class="col-xs-7 nopadding-left admin-editable-field" 
                             th:text="${referalCashOut.bankTxRefNum}"> 
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.note}"> </div>
                        <div id="note" class="col-xs-7 nopadding-left admin-editable-field" 
                             data-type="textarea"
                             th:text="${referalCashOut.note}"> 
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.status.change.time}"> </div>
                        <div class="col-xs-7 nopadding-left">
                             <div th:if="${referalCashOut.statusChangeTime != null}" 
                                  th:text="${#temporals.format(referalCashOut.statusChangeTime, 'yyyy-MM-dd HH:mm:ss')}" >
                             </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.cash.out.operator}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalCashOut.operator}"> </div>
                    </div>
                </div>
                
                <hr>
                <button id="saveButton" type="button" class="btn btn-default hide" th:text="#{tl.save}">Save</button>
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/js/jquery-ui.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            function installAdminEditHandler() {
                $('.admin-editable-field').editable({
                     toggle: 'dblclick',
                     emptytext: ''
                });
            }
            
            $("#saveButton").click( function () { 
                var referalCashOutStatus = $('#referalCashOutStatus').text().trim();
                var bankTxRefNum = $('#bankTxRefNum').text().trim();
                var note = $('#note').text().trim();
               
                var cashOut = {
                    referalCashOutStatus: referalCashOutStatus,
                    bankTxRefNum: bankTxRefNum,
                    note: note
                }
                var cashOutJson = JSON.stringify(cashOut, null, ' ');
                console.log(cashOutJson);
                var url = "/gzhOps/api/v1/referal/cashOut/" + [[${referalCashOut.id}]] + "/statusChange";
                $.post(url,
                       cashOutJson, 
                       function (data) {
                           console.log(data);
                           alert(data);
                           window.location.reload();
                       })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                });
            });
            
            if ([[${adminEditable}]]) {
                installAdminEditHandler();
                $('#saveButton').removeClass('hide');
            }
            
            $('[data-type="textarea"]').dblclick(function() {
                $('.popover.editable-container').draggable();
            });
        });    
    </script>
</th:block> 
</body>
</html>
