<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-营销用户状态列表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 class="padding-left-8" th:text="#{tl.referal.status.list}"></h4>
                <hr>

                <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
	                              <th><a class="sorted" sd:pagination-sort="user.userName" th:text="#{tl.user.name}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referalNum" th:text="#{tl.referal.referal.num}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referalStatus" th:text="#{tl.referal.status}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="parentReferal.user.userName" th:text="#{tl.referal.parent.user.name}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="user.ownedGzhCompany" th:text="#{tl.referal.owned.gzhcompany}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referalFeeStatus" th:text="#{tl.referal.income.status}"></a></th>
	                          </tr>
                        </thead>
	                      <tbody>
	                          <tr th:each="row : ${referalPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/status/{id}/details(id=${row.id})}" role="button">
	                              <td th:text="${row.user.userName}"> </td>
	                              <td th:text="${row.referalNum}"> </td>
	                              <td> 
	                                 <div th:text="${row.referalStatus}" > </div>
	                              </td>
	                              <td> 
	                                 <div th:if="${row.parentReferal != null}" th:text="${row.parentReferal.user.userName}" > </div>
	                              </td>
	                              <td> 
	                                 <div th:if="${row.user.ownedGzhCompany != null}" th:text="${row.user.ownedGzhCompany.name}" > </div>
	                              </td>
	                              <td>
	                                 <div th:text="${row.referalFeeStatus}"> </div>
	                              </td>
	                          </tr>
	                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
