<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理-营销账户余额提现记录</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 class="padding-left-8" th:text="#{tl.referal.cash.out.list}"></h4>
                <hr>

                <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
	                              <th><a class="sorted" sd:pagination-sort="referal.user.userName" th:text="#{tl.user.name}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="receipientName" th:text="#{tl.referal.cash.out.receipient}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="amount" th:text="#{tl.referal.cash.out.amount}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="submitTime" th:text="#{tl.referal.cash.out.submit.time}"></a></th>
	                              <th><a class="sorted" sd:pagination-sort="referalCashOutStatus" th:text="#{tl.referal.cash.out.status}"></a></th>
	                          </tr>
                        </thead>
	                      <tbody>
	                          <tr th:each="row : ${referalCashOutPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/cashOut/{id}/details(id=${row.id})}" role="button">
	                              <td th:text="${row.referal.user.userName}"> </td>
	                              <td th:text="${row.receipientName}"> </td>
	                              <td th:text="${row.amount}"> </td>
	                              <td th:text="${#temporals.format(row.submitTime, 'yyyy-MM-dd HH:mm:ss')}"> </td>
	                              <td th:text="${row.referalCashOutStatus}"> </td>
	                          </tr>
	                      </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>    
</body>
</html>
