<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="masterSidemenuLayout">

<!-- layout:decorator instructs thymeleaf engine to merge this file with masterSidemenuLayout.html.
     The head part will be merged. The layout:fragment part in this file will be picked out 
     and insert into the corresponding layout:fragment part in the layout file.
     The rest of this file will be ignored.
 -->

<head>
     <meta th:name="_csrf" th:content="${_csrf.token}"/>
     <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
     <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/css/bootstrap-datepicker3.css')}" rel="stylesheet" /> 
     <title>公众号后台管理-营销余额提现申请</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.referal.cash.out.apply}"> </h4>  
                <hr>
                <form class="form-horizontal">  
                   <fieldset>
                      <!-- Text input-->    
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.receipient}"></label>
                          <div class="col-md-6">
                              <input id="receipientName" name="receipientName" th:value="${referal.name}" class="form-control"  type="text" readonly>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.amount}"></label>
                          <div class="col-md-6">
                              <input id="amount" name="amount" th:value="${referal.referalAccount.balance}" class="form-control"  type="text" readonly>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.bank.name}"></label>
                          <div class="col-md-6">
                              <input id="bankName" name="bankName" class="form-control"  type="text" >
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.bank.province}"></label>
                          <div class="col-md-6">
                              <input id="bankProvince" name="bankProvince" class="form-control"  type="text" >
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.bank.city}"></label>
                          <div class="col-md-6">
                              <input id="bankCity" name="bankCity" class="form-control"  type="text" >
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.bank.branch.name}"></label>
                          <div class="col-md-6">
                              <input id="bankBranchName" name="bankBranchName" class="form-control"  type="text" >
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-3 control-label" th:text="#{tl.referal.cash.out.bank.account.num}"></label>
                          <div class="col-md-6">
                              <input id="bankAccountNum" name="bankAccountNum" class="form-control"  type="text" >
                          </div>
                      </div>
                      
                      <hr>
                      <div> <input id="submitButton" type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                   </fieldset>
                </form>
            </div>

<th:block layout:fragment="file-end-script">
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#submitButton').on('click', function(e){
                e.preventDefault();
                var url = '/gzhOps/api/v1/referal/' + [[${referal.id}]] + '/cashOut/apply';
                
                var receipientName = $('#receipientName').val();
                var amount = $('#amount').val();
                var bankName = $('#bankName').val();
                var bankBranchName = $('#bankBranchName').val();
                var bankProvince = $('#bankProvince').val();
                var bankCity = $('#bankCity').val();
                var bankAccountNum = $('#bankAccountNum').val();

                if (!bankName || !bankBranchName || !bankProvince || !bankCity || !bankAccountNum) {
                    alert("所有项都要填写。")
                    return;
                }
                var cashOut = {
                    receipientName: receipientName,
                    amount: amount,
                    bankName: bankName,
                    bankBranchName: bankBranchName,
                    bankProvince: bankProvince,
                    bankCity: bankCity,
                    bankAccountNum: bankAccountNum
                }
                
                var cashOutJson = JSON.stringify(cashOut, null, ' ');
                
                $.post(url,
                       cashOutJson,
                       function (data) {
                             console.log(data);
                             alert(data);
                        })
                 .fail(function(jqXHR, textStatus, errorThrown) {
                             console.log(jqXHR.responseText);
                             alert(jqXHR.responseText);
                 });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        }); // end of document ready
    </script>
</th:block>

</body>
</html>