<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>公众号后台管理-互利营销</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4  class="text-underline"> 合作共赢 </h4>
                <div class="pull-right margin-left-15 margin-right-15">
                     <div>
		                     <a href="/pub/user/register" class="padding-8 btn btn-success" th:text="#{tl.user.register}"> </a>
                     </div>
                     <div>
		                     <a href="/gzhOps/referal/apply" class="padding-8 margin-top-8 btn btn-success" th:text="#{tl.referal.apply}"> </a>
                     </div>
                </div>
                <p> 本平台是一个微信公众号服务平台，面向那些为中小企业提供工商注册，贷记账，及其他相关业务的公司。这些公司可使用本平台的服务搭建起微信公众号服务号的后台来为他们的公众号提供内容服务。通过这些公众号，本平台也间接的为中小企业提供便利服务。 </p>
                <p> 为了拓展市场，本平台秉承合作共赢的理念，期望与你合作。</p>
                <p> 首先，你要以诚信为准则，不能为了利益期瞒用户。</p>
                <p> 当你注册并申请成为互利营销用户后，如果有其他用户通过你的营销链接在本平台注册开通了公众号公司服务，你将获得营销收入。营销收入的具体累计规则请阅读下面的相关部分。</p>
                
                <br>
                <h4 class="text-underline">营销收入累计规则</h4>
                <ul>
                    <li>
                         <p> 单纯的用户注册不能给你带来营销收入。</p>
                    </li>
                    <li>
                         <p> 只有在你的下一级或下下级用户在本平台创建了公众号公司并开始正常付费后，这个用户的公众号公司才会给你带来营销收入。营销收入从公众号公司开始正常计费时开始，累计６个月。</p>
                    </li>
                    <li>
                         <p> 公众号公司有一个月免费试用期，然后开始正常计费。公众号公司可以停止计费，重新开始计费。</p>
                    </li>
                    <li>
                        <p> 本平台按照公众号公司的实际使用天数计费。公众号公司的计费规则详见<a href="/pub/home/serviceTerms"> 服务条款。</a></p>
                    </li>
                    <li>
                        <p> 下一级用户的公众号公司给你带来的营销收入按照公众号公司从正常计费开始的前６个月内的累计费用的30%来计算，不能超过1000元。</p>
                    </li>
                    <li>
                        <p> 下下级用户的公众号公司给你带来的营销收入按照公众号公司从正常计费开始的前６个月内的累计费用的6%来计算，不能超过200元。</p>
                    </li>
                    <li>
                        <p> 其他层级用户的公众号公司不会给你带来营销收入。</p>
                    </li>
                    <li>
                        <p> 你的用户在交付了前６个月的公众号公司所产生的费用后，你的营销收入会计入你的账号余额中。</p>
                    </li>
                 </ul>
                 
                 <br>
                 <h4 class="text-underline">营销方式</h4>
                 <ul>
                    <li>
                         <p> 申请成为营销用户后，你会获得一个营销用户号和一个营销链接及专属你的营销二维码。用户点击这个链接后或扫描你的营销二维码后，本平台将在返还网页中嵌入一个标记(cookie)来记录这个用户是通过你的营销链接首次访问本平台的。</p>
                    </li>
                    <li>
                         <p> 用户过后使用同一个客户端访问本平台并注册成为用户，本平台将在数据库中记录该用户为你的下一级用户。</p>
                    </li>
                 </ul>
                 
                 <br>
                 <h4 class="text-underline">坚守诚信</h4>
                 <ul>
                    <li>
                         <p> 你在营销过程中要坚守诚信，不能虚假宣传，不能期满用户。</p>
                    </li>
                    <li>
                         <p> 如有违反，本平台将停止你的营销资格。</p>
                    </li>
                 </ul>
                 
                 <br>
                 <h4 class="text-underline">申请加入</h4>
                 <ul>
                    <li>
                         <p> 如果你还没有注册，请先<a href="/pub/user/register">注册</a>。注册后请点击<a href="/gzhOps/referal/apply" th:text="#{tl.referal.apply}"> </a>。　</p>
                    </li>
                    <li>
                         <p> 为了更好的服务客户，本平台会审核申请，通过后才可以开始营销。</p>
                    </li>
                    <li>
                         <p> 如果你在本平台创建了公众号公司并开启了公众号服务，你将自动成为营销用户。</p>
                    </li>
                 </ul>
            </div>
</body>
</html>
