<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/css/jquery-ui.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/css/bootstrap-datepicker3.css')}" rel="stylesheet" />
    <title>公众号后台管理-营销用户状态详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 th:text="#{tl.referal.status}"> </h4>
                <hr>
                <div class="container-fluid position-relative">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.referal.num}"> </div>
                         <div class="col-xs-7 nopadding-left">
                             <div th:text="${referal.referalNum}"> </div>
                         </div>
                    </div>
                    <div class="row padding-tb-8 hide"> 
                        <div class="col-xs-3 nopadding-left"> id </div>
                        <div id="id" class="col-xs-7 nopadding-left" th:text="${referal.id}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.status}"> </div>
                        <div id="referalStatus" class="col-xs-5 nopadding-left admin-editable-field" data-type="select" 
                             th:attr="data-original-title=#{tl.referal.status}, data-value=${referal.referalStatus}"
                             data-source="{'NotApplied':'未申请', 'UnderReview': '审核中', 'Rejected': '申请退回', 'Active': '已开通'}"
                             data-inputclass="editable-input-width-180"
                             th:text="${referal.referalStatus}" > 
                        </div>
                    </div>
                    <div th:if="${referal.referalStatus == T(com.cju.marketing.ReferalStatus).ACTIVE}" >
                        <div class="row padding-tb-8"> 
                             <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.referal.link}"> </div>
                             <div class="col-xs-7 nopadding-left">
                                 <div th:text="${referal.referalLink}"> </div>
                             </div>
                        </div>
                        <div class="row padding-tb-8"> 
                             <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.referal.qr.image}"> </div>
                             <div class="col-xs-7 nopadding-left">
                                 <img th:src="@{/gzhOps/qrImage/{id}(id=${referal.qrImage.id})}">
                             </div>
                        </div>
                    </div>
                    <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.order.num}"> </div>
                         <div class="col-xs-7 nopadding-left">
                             <div th:if="${referal.verifyOrder != null}" th:text="${referal.verifyOrder.orderNum}"> </div>
                         </div>
                     </div>
                     <div class="row padding-tb-8"> 
                         <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.order.pay.status}"> </div>
                         <div class="col-xs-7 nopadding-left" > 
                             <div th:if="${referal.verifyOrder != null}" th:text="${referal.verifyOrder.payStatus}"> </div>
                         </div>
                     </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.name}"> </div>
                        <div id="name" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.name}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.birth.year}"> </div>
                        <div id="birthYear" class="col-xs-5 nopadding-left" th:text="${referal.birthYear}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.address}"> </div>
                        <div id="address" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.address}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.mobile}"> </div>
                        <div id="mobile" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.mobile}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.work}"> </div>
                        <div id="work" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.work}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.self.intro}"> </div>
                        <div id="selfIntro" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.selfIntro}" data-type="textarea"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.plan}"> </div>
                        <div id="referalPlan" class="col-xs-5 nopadding-left user-editable-field" th:text="${referal.referalPlan}" data-type="textarea"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left" th:text="#{tl.referal.status.note}"> </div>
                        <div id="referalStatusNote" class="col-xs-9 nopadding-left ws-pre-wrap admin-editable-field" 
                             th:text="${referal.referalStatusNote}" data-type="textarea">
                        </div>
                    </div>
                    
                    <div th:if="${referal.referalStatus == T(com.cju.marketing.ReferalStatus).PENDING_WEIXIN_PAY_VERIFY}" class="top-right-absolute">
                          <img th:src="@{/gzhOps/qrImage/{id}(id=${referal.verifyOrder.qrImage.id})}">
                          <div class="text-center">
                              <div class="padding-tb-8" th:text="#{tl.order.weixin.scan.to.pay}"> </div>
                          </div>
                     </div>  
                </div>
                
                <hr>
                <button id="saveButton" type="button" class="btn btn-default hide" th:text="#{tl.save}">Save</button>
                
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery-ui/js/jquery-ui.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
            
            //bootstrap3-editable is X-editable - v1.5.3 
            //The .val() method is primarily used to get the values of form elements such as input, select and textarea.
            function installUserEditHandler() {
                $('.user-editable-field').editable({
                     toggle: 'dblclick',
                     emptytext: ''
                });
               
                //X-editable includes a outdated copy of datepicker source code, which does not support maxViewMode.
                //For zh-CN localization, X-editable uses $.fn.datepicker.dates['zh-CN'], which is initialized in bootstrap-datepicker.zh-CN.min.js
                //In X-editable, there is a line: var dates = $.fn.datepicker.dates = { ... }
                //bootstrap-datepicker.zh-CN.min.js must come after bootstrap-editable.js for localization to work
                $('#birthYear').editable({
                     toggle: 'dblclick',
                     emptytext: '',
                     type: 'date',
                     datepicker: {
                        language: 'zh-CN',
                        format: 'yyyy',
                        minViewMode: "years",
                        startView: "years"
                     },
                     format: 'yyyy',
                     clear: '清除'
                });
            }
            function installAdminEditHandler() {
                $('.admin-editable-field').editable({
                     toggle: 'dblclick',
                     emptytext: ''
                });
            }
            
            $("#saveButton").click( function () { 
               var id = $('#id').text().trim();
               var name = $('#name').text().trim();
               var address = $('#address').text().trim();
               var birthYear = $('#birthYear').text().trim();
               var mobile = $('#mobile').text().trim();
               var work = $('#work').text().trim();
               var selfIntro = $('#selfIntro').text().trim();
               var referalPlan = $('#referalPlan').text().trim();
               var referalStatus = $('#referalStatus').text().trim();
               var referalStatusNote = $('#referalStatusNote').text().trim();
               var referal = {
                   id: id,
                   name: name,
                   address: address,
                   birthYear: birthYear,
                   mobile: mobile,
                   work: work,
                   selfIntro: selfIntro,
                   referalPlan: referalPlan,
                   referalStatus: referalStatus,
                   referalStatusNote: referalStatusNote
               }
               var referalJson = JSON.stringify(referal, null, ' ');
               console.log(referalJson);
               var saveReferalStatuskUrl = "/gzhOps/api/v1/referal/" + [[${referal.id}]] + "/status";
               console.log('saveReferalStatuskUrl=' + saveReferalStatuskUrl);
               $.post(saveReferalStatuskUrl,
                   referalJson, 
                   function (data) {
                       console.log(data);
                       alert(data);
                       window.location.reload();
               })
               .fail(function(jqXHR, textStatus, errorThrown) {
                   console.log(jqXHR.responseText);
                   alert(jqXHR.responseText);
               });
            });
            
            if ([[${adminEditable}]]) {
                installAdminEditHandler();
                $('#saveButton').removeClass('hide');
            }
            
            if ([[${userEditable}]]) {
                if ([[${referal.referalStatus != T(com.cju.marketing.ReferalStatus).REJECTED_FINAL}]] &&
                    [[${referal.referalStatus != T(com.cju.marketing.ReferalStatus).FREEZE}]]) {
                    installUserEditHandler();
                    $('#saveButton').removeClass('hide');
                }
            }
            
            $('[data-type="textarea"]').dblclick(function() {
                $('.popover.editable-container').draggable();
            });
        });    
    </script>
</th:block>    
</body>
</html>
