<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/css/bootstrap-table.css')}" rel="stylesheet">
    <title>公众号后台管理-营销账户余额详情</title>
</head>
<body>
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.referal.balance.details}"> </h4>
                <hr>

                <div class="container-fluid position-relative">
		                <div class="margin-left-15 margin-right-15 top-right-absolute">
		                     <div>
		                         <a href="/gzhOps/referal/cashOut/apply" class="padding-8 btn btn-success" th:text="#{tl.referal.cash.out}"> </a>
		                     </div>
		                </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.user.name}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.referal.user.userName}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.referal.num}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.referal.referalNum}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.total.earning}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.referal.totalEarning}"> </div>
                    </div>
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-5 nopadding-left" th:text="#{tl.referal.balance}"> </div>
                        <div class="col-xs-7 nopadding-left" th:text="${referalAccount.balance}"> </div>
                    </div>
                 </div>
                 
                 <h5 class="margin-top-40" th:text="#{tl.referal.transaction.list}"> </h5>
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="txId" th:text="#{tl.transaction.txid}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="timeStamp" th:text="#{tl.transaction.timestamp}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="transactionType" th:text="#{tl.transaction.type}" > </a></th>
                               <th><a class="sorted" sd:pagination-sort="transactionAmount" th:text="#{tl.transaction.amount}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="accountBalanceBefore" th:text="#{tl.transaction.balance.before}"></a></th>
                               <th><a class="sorted" sd:pagination-sort="accountBalanceAfter" th:text="#{tl.transaction.balance.after}"></a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${referalTransactionPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/transaction/{id}/details(id=${row.id})}" role="button">
                               <td th:text="${row.txId}"> </td>
                               <td th:text="${#temporals.format(row.timeStamp, 'yyyy-MM-dd HH:mm:ss')}"> </td>
                               <td th:text="${row.transactionType}"> </td>
                               <td th:text="${row.transactionAmount}"> </td>
                               <td th:text="${row.accountBalanceBefore}"> </td>
                               <td th:text="${row.accountBalanceAfter}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
                
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/js/bootstrap-table.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-table/locale/bootstrap-table-zh-CN.js')}"></script>
    <div th:replace="commonFragments :: clickable-row-script"></div>  
</th:block>              
</body>
</html>