<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="masterSidemenuLayout">

<!-- layout:decorator instructs thymeleaf engine to merge this file with masterSidemenuLayout.html.
     The head part will be merged. The layout:fragment part in this file will be picked out 
     and insert into the corresponding layout:fragment part in the layout file.
     The rest of this file will be ignored.
 -->

<head>
     <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/css/bootstrap-datepicker3.css')}" rel="stylesheet" /> 
     <title>公众号后台管理-申请成为营销用户</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
                <h4 th:text="#{tl.referal.apply.applicant.info}"> </h4>  
                <hr>
                <form class="form-horizontal" th:action="@{/gzhOps/referal/apply}"  method="post" id="apply_form">  
                   <fieldset>
                      <!-- Text input-->    
                      
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.name}"></label>
                          <div class="col-md-6">
                              <input  name="name" class="form-control" th:placeholder="#{tl.referal.name.must.be.real}" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.birth.year}"></label>
                          <div class="col-md-6">
                              <div id="yearPicker"  class="input-group date" >
                                   <input name="birthYear" type="text" class="form-control" required>
                                   <div class="input-group-addon"> 
                                       <span class="glyphicon glyphicon-th"></span>
                                   </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.address}"></label>
                          <div class="col-md-6">
                              <input  name="address" class="form-control"  th:placeholder="#{tl.referal.address.placeholder}" type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.mobile}"></label>
                          <div class="col-md-6">
                              <input  name="mobile"  class="form-control"  type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.work}"></label>
                          <div class="col-md-6">
                              <input  name="work"  class="form-control"  type="text">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.self.intro}"></label>
                          <div class="col-md-6">
                              <textarea  name="selfIntro" class="form-control"  style="width: 100%; resize: vertical;"> </textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.referal.plan}"></label>
                          <div class="col-md-6">
                              <textarea  name="referalPlan" class="form-control"  style="width: 100%; resize: vertical;">　</textarea>
                          </div>
                      </div>
                      
                      <hr>
                      <div class="form-group">
                          <div class="col-md-8" >
                              <div class="panel panel-primary margin-tb-0">
                                  <div class="panel-heading">
                                      <h5 class="panel-title">友情提示－务必填写真实姓名</h5>
                                  </div>
                                  <div>
                                      <div class="panel-body" th:text="#{tl.referal.name.can.not.change}"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <hr>
                      <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                   </fieldset>
                </form>
            </div>

<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/js/bootstrap-datepicker.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js')}"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
          
             $('#yearPicker').datepicker({
                 language: 'zh-CN',
                 format: "yyyy",
                 minViewMode: 'years',
                 maxViewMode: 'years',
                 startView: 'years',
                 orientation: 'bottom'
             });
           
        }); // end of document ready
    </script>
</th:block>

</body>
</html>