<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/css/bootstrap-select.css')}" rel="stylesheet" />  
        <title>公众号后台管理-营销费用累计列表</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content" >
                <h4 class="padding-left-8" th:text="#{tl.referal.income.status.list}"></h4>
                <hr>

                <div class="container-fluid">
                    <div class="row padding-tb-8"> 
                        <div class="col-xs-3 nopadding-left">
                             <button id="toggleColumnButton" type="button" class="btn btn-default" th:text="#{tl.referal.income.status.toggle.column}"> </button>
                        </div>
                        <div class="col-xs-5 nopadding-left">
                             <select id="columnSelect" class="selectpicker" title="Select One" data-style="btn-default">
                                 <option value=".statusUpdateColumn" th:text="#{tl.referal.income.status.update.to.accumulating}"> </option>
                                 <option value=".statusRevertColumn" th:text="#{tl.referal.income.status.revert.to.accumulating}"> </option>
                                 <option value=".calculateColumn" th:text="#{tl.referal.income.recalculate.accumulation}"></option>
                                 <option value=".accountingColumn" th:text="#{tl.referal.income.accounting.to.up.level}"></option>
                                 <option value=".billColumn" th:text="#{tl.billing.bill.generate}"></option>
                             </select>
                        </div>
                    </div>
                </div>
                <hr>
                
                <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th><a class="sorted ws-pre-wrap" sd:pagination-sort="user.ownedGzhCompany.name" th:utext="#{tl.gzhcompany.name.click.to.view.bill}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeStatus" th:text="#{tl.referal.income.status}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeStartDate" th:text="#{tl.referal.income.start.date}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeForParent" th:text="#{tl.referal.income.for.parent}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeForGrandParent" th:text="#{tl.referal.income.for.grand.parent}"></a></th>
                                <th><a class="sorted" sd:pagination-sort="referalFeeCurrentEndDate" th:text="#{tl.referal.income.current.end.date}"></a></th>
                                <th th:text="#{tl.referal.income.status.update.to.accumulating}" class="statusUpdateColumn hide"> </th>
                                <th th:text="#{tl.referal.income.status.revert.to.accumulating}" class="statusRevertColumn hide"> </th>
                                <th th:text="#{tl.referal.income.recalculate.accumulation}" class="calculateColumn hide"> </th>
                                <th th:text="#{tl.referal.income.accounting.to.up.level}" class="accountingColumn hide"> </th>
                                <th th:text="#{tl.billing.bill.generate}" class="billColumn hide"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${referalPage.content}" class="clickable-row" th:href="@{/gzhOps/referal/referalFeeStatus/{id}/details(id=${row.id})}" role="button">
                                <td> 
                                    <a th:href="@{/gzhOps/billing/gzhCompany/{id}/bill/list(id=${row.user.ownedGzhCompany.id})}" 
                                       th:text="${row.user.ownedGzhCompany.name}"> 
                                    </a>
                                </td>
                                <td th:text="${row.referalFeeStatus}"> </td>
                                <td> 
                                   <div th:text="${row.referalFeeStartDate}" > </div>
                                </td>
                                <td> 
                                   <div th:text="${row.referalFeeForParent}" > </div>
                                </td>
                                <td> 
                                   <div th:text="${row.referalFeeForGrandParent}" > </div>
                                </td>
                                <td> 
                                   <div th:text="${row.referalFeeCurrentEndDate}" > </div>
                                </td>
                                <td class="statusUpdateColumn hide"> 
                                   <button type="button" class="btn btn-default updateButton"
                                           th:text="#{tl.referal.income.status.update.to.accumulating}" 
                                           th:href="@{/gzhOps/api/v1/referal/{id}/referalFeeStatusUpdate(id=${row.id})}">
                                   </button>
                                </td>
                                <td class="statusRevertColumn hide"> 
                                   <button type="button" class="btn btn-default updateButton"
                                           th:text="#{tl.referal.income.status.revert.to.accumulating}" 
                                           th:href="@{/gzhOps/api/v1/referal/{id}/referalFeeStatusRevert(id=${row.id})}">
                                   </button>
                                </td>
                                <td class="calculateColumn hide"> 
                                   <button type="button" class="btn btn-default updateButton"
                                           th:text="#{tl.referal.income.recalculate}" 
                                           th:href="@{/gzhOps/api/v1/referal/{id}/referalFeeCalculate(id=${row.id})}">
                                   </button>
                                </td>
                                <td class="accountingColumn hide"> 
                                   <button type="button" class="btn btn-default updateButton"
                                           th:text="#{tl.referal.income.accounting}" 
                                           th:href="@{/gzhOps/api/v1/referal/{id}/referalFeeAccounting(id=${row.id})}">
                                   </button>
                                </td>
                                <td class="billColumn hide"> 
                                   <a type="button" class="btn btn-default"
                                           th:text="#{tl.billing.bill.generate}" 
                                           th:href="@{/gzhOps/billing/gzhCompany/{id}/bill/generate(id=${row.id})}">
                                   </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"></div>  
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/bootstrap-select.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-select/js/i18n/defaults-zh_CN.js')}"></script>
    <script th:inline="javascript"> 
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
                 headers : csrfHeader, 
                 contentType : "application/json"
            });
            
            $('.updateButton').click(function(e) {
                 e.stopPropagation();
                 var url = $(e.target).attr('href');
                 console.log("url=" + url);
                 $.post(url,
                        function (data) {
                            console.log(data);
                            alert(data);
                            window.location.reload();
                   })
                  .fail(function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.responseText);
                        alert(jqXHR.responseText);
                   });
            });
            
            //selectpicker options passed to javascript does not work
            $('.selectpicker').selectpicker();
            
            $('#toggleColumnButton').on('click', function() {
                var columnClass = $('#columnSelect').val();
                $(columnClass).toggleClass('hide');
            })

        });
    </script>
</th:block>    
</body>
</html>
