<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

<body>
                <p> This file contains fragments that will be included by other files </p>
                <!-- Keep the indentation as this fragment will be inserted into the master layout -->
                <div th:fragment="aligned-links-pagination">
                     <div sd:pagination-summary="">info</div>
                     <nav class="margin-top-minus-10">
                         <ul class="pagination" sd:pagination="aligned-links">
                         </ul>
                     </nav>
                </div>
                
                <div th:fragment="gzhFakeClientCompanyModal" class="modal fade" id="gzhFakeClientCompanyModal" data-backdrop="static" tabindex="-1" >
                     <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"> 请选择需要导入报表数据拷贝的公众号客户公司</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
          
                            <div class="modal-body container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="gzhFakeClientCompanyTable" 
                                               data-click-to-select="true"
                                               data-maintainSelected="true"
                                               data-pagination="true"
                                               data-pagination-h-align="left"
                                               data-page-list="[5,10,15]"
                                               data-search="true">
                                               <thead>
                                                   <tr>
                                                       <th data-field="state" data-radio="true"></th>
                                                       <th data-field="id"> id </th>
                                                       <th data-field="chanjetClientCompany.name"> 公众号客户公司名称</th>
                                                   </tr>
                                               </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default  pull-left" data-dismiss="modal"  th:text="#{tl.cancel}"></button>
                              <button id="importFakeReportBtn" type="button" class="btn btn-default" data-dismiss="modal">导入报表数据拷贝</button>
                            </div>
                        </div>
                    </div>
                    
                </div> 
                <!-- end of modal -->

    <script th:fragment="clickable-row-script">
        $(".clickable-row").click(function() {
              window.location = $(this).attr("href");
        });
    </script>
    <script th:fragment="check-all-script">
        $("#checkAll").click(function () {
            $(".check").prop('checked', $(this).prop('checked'));
        });
    </script>

    <script th:inline="javascript" th:fragment="importFakeReportToGzhClientCompany">
        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader,  
               contentType : "application/json"
            });
            
            $('#gzhFakeClientCompanyModal').on('show.bs.modal', function(){
                $.get('/gzhOps/api/v1/gzhClientCompany/fakeGzhClientCompany/list',
                      function(data) {
                            console.log(data);
                            var fakeGzhClientCompanyList = JSON.parse(data);
                            $('#gzhFakeClientCompanyTable').bootstrapTable({
                               data: fakeGzhClientCompanyList
                            });
                      });
            });
            
            $('#importFakeReportBtn').on("click.bs.modal", function(e) {
                var fakeGzhClientCompanyList = $('#gzhFakeClientCompanyTable').bootstrapTable('getSelections');
                if (fakeGzhClientCompanyList.length < 1) {
                    alert("请选择一个公众号客户公司。");
                    return;
                }
                var fakeGzhClientCompanyId = fakeGzhClientCompanyList[0].id;
                var reportId = [[${gzhClientCompanyReport.id}]];
                var fakeReport = {
                        reportId: reportId
                    };
                    
                var fakeReportJson = JSON.stringify(fakeReport, null, ' ');
                
                $.post("/gzhOps/api/v1/gzhClientCompany/" + fakeGzhClientCompanyId +　"/fakeReport/import",
                       fakeReportJson,
                       function (data) {
                          console.log(data);
                          alert("报表数据拷贝导入成功");
                      })
                     .fail(function(jqXHR, textStatus, errorThrown) {
                          console.log(jqXHR.responseText);
                          alert(jqXHR.responseText);
                      });
            });
        });
    </script>
</body>
</html>
