<!DOCTYPE html>
<html lang="zh-CN" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap.css')}" rel="stylesheet" />
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/css/bootstrap-theme.css')}" rel="stylesheet" type="text/css" />
    <!-- MetisMenu CSS -->
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/metisMenu/metisMenu.css')}" rel="stylesheet">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/font-awesome/css/font-awesome.css')}" rel="stylesheet" type="text/css">
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/pub/css/gzh-ops.css')}" rel="stylesheet" type="text/css"/> 
    <title>公众号管理平台</title>
</head>
<body>
    <div th:replace="navbarFragment :: navbar"> </div>

    <!-- 
        main-container has display: table. table-row has display: table-row. left-container and right-container has display: table-cell.
        This way, the left container and right container have the same height.
        css class row goes with container-fluid
     -->
    <div id="main-container" class="container-fluid">
        <div class="row table-row height-100">
            <div id="left-container" class="col-xs-3 sidebar-offcanvas" role="navigation">
                <div class="sidebar">
                    <div th:replace="sidemenuFragmentForUser :: left-side-menu"></div>
                    <div th:replace="sidemenuFragmentForAdmin :: left-side-menu"></div>
                </div> 
            </div>
            <div id="right-container" class="col-xs-9 right-content" layout:fragment="right-content" >
                 <!-- CONTENT GOES HERE -->
            </div>
        </div>
        <!-- end of row for left-menu and rigth-content -->
    </div>
    <!-- end of div container-fluid for left-menu and rigth-content -->
    
    <footer >
       <div class="float-left padding-left-8"> 技术支持: <span class="border-box border-padding-4 background-white"> support@gandongtech.com </span> </div>
       <div class="footer-right">
		       <span class="padding-left-8 padding-right-40"> 粤ICP备 17102933 </span>
		       <span class="float-right"> &copy; GanDong Tech. Ltd. </span>
       </div>
    </footer>
    
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/jquery/jquery-3.1.1.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap/js/bootstrap.js')}"></script> 
    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/metisMenu/metisMenu.js')}"></script>
    <script layout:fragment="file-end-script">
        <!-- Extra scripts at end of file GOES HERE -->
    </script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle=offcanvas]').click(function() {
                $('.sidebar-offcanvas').toggleClass('active');
            });
              
            $('.sidemenu').metisMenu();
        });
    </script>
</body>
</html>
