<!DOCTYPE html>
<html lang="zh-CN" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="navbar">
        <div class="container-fluid">
            <!--toggle sidebar button-->
            <button type="button" class="pull-left navbar-toggle" data-toggle="offcanvas">
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            
            <div id="navbarRight">
		            <!-- If there is an error in the template file, the authentication object will be lost and set to null. This is a Spring Boot bug --> 
		            <!--toggle dropdown login button-->
		            <a id="navbarDropdown" href="#" class="dropdown dropdown-toggle navbar-brand pull-right" data-toggle="dropdown">
		                 <i class="fa fa-user"> </i>
		                 <i sec:authorize="isAuthenticated()">
		                    [[${#authentication.name}]]
		                 </i>
		                <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu pull-right">
		                <li>
		                    <a th:href="@{/pub/user/register}" href="register"> 
		                        <i class="fa fa-fw fa-envelope"></i> <span th:text="#{tl.nav.register}"></span>
		                    </a>
		                </li>
		                <li>
		                    <a th:href="@{/pub/user/login}" href="login">
		                        <i class="fa fa-fw fa-gear"></i> <span th:text="#{tl.nav.login}"></span>
		                    </a> 
		                </li>
		                <li>
		                    <a th:href="@{/pub/user/logout}" href="logout">
		                        <i class="fa fa-fw fa-power-off"></i> <span th:text="#{tl.nav.logout}"></span>
		                    </a>
		                </li>
		                <li class="divider"></li>
		                <li>
		                    <a th:href="@{/pub/user/resetPasswordCollectEmail}" href="reset"> 
		                       <i class="fa fa-fw fa-user"> </i> <span th:text="#{tl.nav.reset.password}"></span>
		                    </a>
		                </li>
		            </ul>
		            
		            <div id="navbarCompanyNameTableRow" sec:authorize="isAuthenticated()" class="navbar-brand" th:with="user=${#conversions.convert(#authentication.getPrincipal(), 'com.cju.user.User')}">
		                <div id="navbarCompanyNameTableCell" th:if="${user.gzhCompany != null}">
		                     [[${user.gzhCompany.name}]]
		                </div>
		            </div>
            </div>
        </div>
        <!-- end of div container-fluid for top navigation bar -->
    </nav>

</body>
</html>
