<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

<body>
                <p> This file contains fragments that will be included by other files </p>
                <!-- Keep the indentation as this fragment will be inserted into the master layout -->
                <ul th:fragment="left-side-menu" class="nav sidemenu">
                    <li>
                        <a data-toggle="collapse" data-target="#home">
                            <span th:text="#{tl.menu.gzhplatform.home}"> Home  </span> <span class="fa arrow"> </span> 
                        </a>
                        <ul id="home" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/pub/home/about'}? active">
                                <a th:href="@{/pub/home/about}" th:text="#{tl.gzhplatform.about}">About</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/home/usage'}? active">
                                <a th:href="@{/pub/home/usage}" th:text="#{tl.gzhplatform.usage}">Usage</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/home/serviceTerms'}? active">
                                <a th:href="@{/pub/home/serviceTerms}" th:text="#{tl.gzhplatform.service.terms}">Terms</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/home/feedback/create'}? active">
                                <a th:href="@{/pub/home/feedback/create}" th:text="#{tl.feedback.submit}">Create Feedback</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/home/feedback/list'}? active">
                                <a th:href="@{/pub/home/feedback/list}" th:text="#{tl.feedback.list}">Feedback List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#myAccount"> 
                            <span th:text="#{tl.menu.user.account}"> My Account  </span> <span class="fa arrow"> </span> 
                        </a>
                        <ul id="myAccount" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/user/myProfile'}? active">
                                <a th:href="@{/user/myProfile}" th:text="#{tl.user.account.details}">My Profile</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/referal/intro'}? active">
                                <a th:href="@{/pub/referal/intro}" th:text="#{tl.referal.intro}"> Referal Intro </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/apply'}? active">
                                <a th:href="@{/gzhOps/referal/apply}" th:text="#{tl.referal.apply}"> Referal Apply </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/myBalance'}? active">
                                <a th:href="@{/gzhOps/referal/myBalance}" th:text="#{tl.referal.my.balance}"> My Referal Balance </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/myIncome'}? active">
                                <a th:href="@{/gzhOps/referal/myIncome}" th:text="#{tl.referal.my.income}"> My Referal Income </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/myStatus'}? active">
                                <a th:href="@{/gzhOps/referal/myStatus}" th:text="#{tl.referal.my.status}"> My Referal Status </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/cashOut/list'}? active">
                                <a th:href="@{/gzhOps/referal/cashOut/list}" th:text="#{tl.referal.my.cash.out}"> Referal Cash Out List </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhCompany"> 
                           <span th:text="#{tl.menu.my.gzhcompany}"> My GZH Company </span> <span class="fa arrow"> </span>  
                        </a>
                        <ul id="gzhCompany" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhCompany/create'}? active">
                                  <a th:href="@{/gzhOps/gzhCompany/create}" th:text="#{tl.gzhcompany.create}">Gzh Company Create</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhCompany/myGzhCompanyDetails'}? active">
                                  <a th:href="@{/gzhOps/gzhCompany/myGzhCompanyDetails}" th:text="#{tl.gzhcompany}">My Gzh Company</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/myAccount/details'}? active">
                                  <a th:href="@{/gzhOps/billing/myAccount/details}" th:text="#{tl.billing.account.details}"> My Billing Account Details</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/rechargeOrder/list'}? active">
                                  <a th:href="@{/gzhOps/rechargeOrder/list}" th:text="#{tl.billing.account.recharge.list}"> Account Recharge List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/bill/list'}? active">
                                  <a th:href="@{/gzhOps/billing/bill/list}" th:text="#{tl.billing.bill.list}"> My Bills</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/statusChange/list'}? active">
                                  <a th:href="@{/gzhOps/billing/statusChange/list}" th:text="#{tl.billing.status.change.list}"> Billing Status Changes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhClientCompany"> 
                            <span th:text="#{tl.menu.my.gzhclientcompany}"> My GZH Client Company </span>  <span class="fa arrow"> </span>
                        </a>
                        <ul id="gzhClientCompany" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhClientCompany/list'}? active">
                                  <a th:href="@{/gzhOps/gzhClientCompany/list}" th:text="#{tl.gzhclientcompany}">Gzh CLient Company</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhClientCompany/report/list'}? active">
                                  <a th:href="@{/gzhOps/gzhClientCompany/report/list}" th:text="#{tl.report.list}">Gzh CLient Company Report List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhUser"> 
                            <span th:text="#{tl.menu.my.gzhuser}"> My GZH User </span>  <span class="fa arrow"> </span>
                        </a>
                        <ul id="gzhUser" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhUser/list'}? active">
                                  <a th:href="@{/gzhOps/gzhUser/list}" th:text="#{tl.gzhuser.list}">Gzh User List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhTask"> 
                            <span th:text="#{tl.menu.my.gzhtask}"> My GZH Task </span>  <span class="fa arrow"> </span>
                        </a>
                        <ul id="gzhTask" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/template/private/create'}? active">
                                  <a th:href="@{/gzhOps/task/template/private/create}" th:text="#{tl.task.template.private.create}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/template/private/list'}? active">
                                  <a th:href="@{/gzhOps/task/template/private/list}" th:text="#{tl.task.template.private。list}"></a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/create'}? active">
                                  <a th:href="@{/gzhOps/task/create}" th:text="#{tl.task.create}">Gzh Task Create</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/list'}? active">
                                  <a th:href="@{/gzhOps/task/list}" th:text="#{tl.task}">Gzh Task</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhContent"> 
                            <span th:text="#{tl.menu.gzhcontent.management}"> My GZH Company Content Management </span>  <span class="fa arrow"> </span> 
                        </a>
                        <ul id="gzhContent" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/htmlPage/create'}? active">
                                  <a th:href="@{/gzhOps/htmlPage/create}"> 创建自定义网页</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/htmlPage/selfDefined/list'}? active">
                                  <a th:href="@{/gzhOps/htmlPage/selfDefined/list}"> 自定义网页 </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/contact/list'}? active">
                                  <a th:href="@{/gzhOps/contact/list}" th:text="#{tl.contact}"></a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/autoReply/list'}? active">
                                  <a th:href="@{/gzhOps/autoReply/list}" th:text="#{tl.auto.reply}"></a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhCompany/myGzhMenu'}? active">
                                  <a th:href="@{/gzhOps/gzhCompany/myGzhMenu}" th:text="#{tl.gzhcompany.gzh.menu}"></a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/systemLink/list'}? active">
                                  <a th:href="@{/gzhOps/systemLink/list}"> 系统链接　</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#chanjet"> 
                            <span th:text="#{tl.menu.chanjet}"> My Chanjet </span>  <span class="fa arrow"> </span>
                        </a>
                        <ul id="chanjet" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/user/chanjetUser/details'}? active">
                                <a th:href="@{/chanjet/chanjetUser/details}" th:text="#{tl.chanjet.account.details}">Chanjet Account Details</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/chanjet/clientCompany/list'}? active">
                                 <a th:href="@{/chanjet/clientCompany/list}" th:text="#{tl.chanjet.client.company.list}">Chanjet Client Company List</a>
                            </li>                    
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhTemplates"> 
                            <span th:text="#{tl.menu.resource}">  </span>  <span class="fa arrow"> </span>
                        </a>
                        <ul id="gzhTemplates" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/htmlPage/template/list'}? active">
                                  <a th:href="@{/gzhOps/htmlPage/template/list}" th:text="#{tl.htmlpage.template}">Gzh HtmlPage Templates</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/template/public/list'}? active">
                                  <a th:href="@{/gzhOps/task/template/public/list}" th:text="#{tl.task.template.public}">Gzh Task Templates</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/imgage/list'}? active">
                                  <a th:href="@{/gzhOps/image/list}" th:text="#{tl.image.resource}" >Gzh Image List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='https://weui.io/'}? active">
                                  <a href="https://weui.io/" th:text="#{tl.weui}" ></a>
                            </li>
                        </ul>
                    </li>
                </ul>  
                <!-- end of th:fragment="left-side-menu" -->
</body>
</html>
