<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sd="http://www.thymeleaf.org/spring-data">

<body>
                <p> This file contains admin side menu fragment </p>
                <!-- Keep the indentation as this fragment will be inserted into the master layout -->
                <!-- The following menu is only available to platform admin. -->
                <!--  <th:block sec:authorize="hasRole('GZH_ADMIN')">  -->
                <ul th:fragment="left-side-menu" sec:authorize="hasRole('WEBADMIN')" class="nav sidemenu">
                    <li>
                        <a data-toggle="collapse" data-target="#platformAdminOps" > 
                            <span th:text="#{tl.adminops}"> </span> <span class="fa arrow"> </span> 
                        </a>
                        <ul id="platformAdminOps" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/user/list'}? active">
                                  <a th:href="@{/user/list}" href="/user/list" th:text="#{tl.adminops.user.list}">User List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhUser/list'}? active">
                                  <a th:href="@{/gzhOps/gzhUser/list}" th:text="#{tl.adminops.gzhuser.list}">Gzh User List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhCompany/list'}? active">
                                  <a th:href="@{/gzhOps/gzhCompany/list}" th:text="#{tl.adminops.gzhcompany.list}">Gzh Company List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhClientCompany/list'}? active">
                                  <a th:href="@{/gzhOps/gzhClientCompany/list}" th:text="#{tl.adminops.gzhclientcompany.list}">Gzh CLient Company List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/gzhClientCompany/report/list'}? active">
                                  <a th:href="@{/gzhOps/gzhClientCompany/report/list}" th:text="#{tl.report.list}">Gzh CLient Company Report List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/htmlPage/selfDefined/list'}? active">
                                  <a th:href="@{/gzhOps/htmlPage/selfDefined/list}" th:text="#{tl.adminops.htmlpage.list}">Gzh HtmlPage SelfDefined List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/task/list'}? active">
                                  <a th:href="@{/gzhOps/task/list}" th:text="#{tl.adminops.task.list}">Gzh Task List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/contact/list'}? active">
                                  <a th:href="@{/gzhOps/contact/list}" th:text="#{tl.adminops.contact.list}">Gzh Contact List</a>
                            </li>

                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/autoReply/list'}? active">
                                  <a th:href="@{/gzhOps/autoReply/list}" th:text="#{tl.adminops.autoreply.list}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#platformAdminOpsBilling" > 
                            <span th:text="#{tl.adminops.billing}"> </span> <span class="fa arrow"> </span> 
                        </a>
                        <ul id="platformAdminOpsBilling" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/account/list'}? active">
                                  <a th:href="@{/gzhOps/billing/account/list}" th:text="#{tl.adminops.account.list}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/rechargeOrder/list'}? active">
                                  <a th:href="@{/gzhOps/rechargeOrder/list}" th:text="#{tl.billing.account.recharge.list}"> Account Recharge List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/transaction/list'}? active">
                                  <a th:href="@{/gzhOps/billing/transaction/list}" th:text="#{tl.transaction.list}"> Transactions</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/statusChange/list'}? active">
                                  <a th:href="@{/gzhOps/billing/statusChange/list}" th:text="#{tl.billing.status.change.list}"> Billing Status Changes</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/myAccount/bill/list'}? active">
                                  <a th:href="@{/gzhOps/billing/bill/list}" th:text="#{tl.billing.gzhcompany.bill.list}"> Bills</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/gzhCompany/bill/generateAll'}? active">
                                  <a th:href="@{/gzhOps/billing/gzhCompany/bill/generateAll}" th:text="#{tl.billing.bill.generate.all}"> Generate Bills </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/updateTrial'}? active">
                                  <a th:href="@{/gzhOps/billing/updateTrial}" th:text="#{tl.billing.gzhcompany.update.trail.status}"> Update Trial Status</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/updateInDebt'}? active">
                                  <a th:href="@{/gzhOps/billing/updateInDebt}" th:text="#{tl.billing.gzhcompany.update.indebt}"> Update InDebt </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/billing/updateOverDebt'}? active">
                                  <a th:href="@{/gzhOps/billing/updateOverDebt}" th:text="#{tl.billing.gzhcompany.update.overdebt}"> Update OverDebt </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#platformAdminOpsMarketing" > 
                            <span th:text="#{tl.adminops.marketing}"> </span> <span class="fa arrow"> </span> 
                        </a>
                        <ul id="platformAdminOpsMarketing" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/status/list'}? active">
                                  <a th:href="@{/gzhOps/referal/status/list}" th:text="#{tl.referal.status.list}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/income/list'}? active">
                                  <a th:href="@{/gzhOps/referal/income/list}" th:text="#{tl.referal.income.list}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/balance/list'}? active">
                                  <a th:href="@{/gzhOps/referal/balance/list}" th:text="#{tl.referal.balance.list}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/transaction/list'}? active">
                                  <a th:href="@{/gzhOps/referal/transaction/list}" th:text="#{tl.referal.transaction.list}"> Referal Transaction List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/cashOut/list'}? active">
                                  <a th:href="@{/gzhOps/referal/cashOut/list}" th:text="#{tl.referal.cash.out.list}"> </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/verifyOrder/list'}? active">
                                  <a th:href="@{/gzhOps/referal/verifyOrder/list}" th:text="#{tl.referal.order.list}"> Referal Verification Order List</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/referal/referalFeeStatus/list'}? active">
                                  <a th:href="@{/gzhOps/referal/referalFeeStatus/list}" th:text="#{tl.gzhcompany.referal.fee.status.list}"> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#gzhWeiXinTest">管理员-微信模拟测试 <span class="fa arrow"> </span> </a>
                        <ul id="gzhWeiXinTest" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/pub/gzh/company/1/localHtml'}? active">
                                  <a th:href="@{/pub/gzh/company/1/localHtml?pageType=IntroPage}">公司简介网页</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/gzh/company/1/localHtml'}? active">
                                  <a th:href="@{/pub/gzh/company/1/localHtml?pageType=PartnerPage}">合作伙伴网页</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/gzh/company/1/contact/list'}? active">
                                  <a th:href="@{/pub/gzh/company/1/contact/list}">联系人</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzh/company/1/report/list'}? active">
                                  <a th:href="@{/gzh/company/1/clientCompany/list}">我的公司</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzh/company/1/selfInfo'}? active">
                                  <a th:href="@{/gzh/company/1/selfInfo}">个人信息</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzh/company/1/service/request'}? active">
                                  <a th:href="@{/gzh/company/1/service/request}">申办事务</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzh/company/1/task/list'}? active">
                                  <a th:href="@{/gzh/company/1/task/list}">我的事务 </a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/pub/gzh/company/localHtml/collectFileName'}? active">
                                  <a th:href="@{/pub/gzh/company/localHtml/collectFileName}">调试微信网页</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#platformAdminDebug">管理员-运营信息<span class="fa arrow"> </span> </a>
                        <ul id="platformAdminDebug" class="nav nav-second-level collapse">
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/stats/taskTime/list'}? active">
                                  <a th:href="@{/gzhOps/stats/taskTime/list}">任务用时</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/exception/list'}? active">
                                  <a th:href="@{/gzhOps/exception/list}">异常</a>
                            </li>
                            <li th:class="${#httpServletRequest.requestURI=='/gzhOps/error/list'}? active">
                                  <a th:href="@{/gzhOps/error/list}">错误</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- end of th:fragment="left-side-menu" -->
</body>
</html>
