<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>重置账号密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p> 亲<span th:text="${user.userName}">，</span> </p>
    
    <p> 感谢你在感动科技公众号平台注册。请点击链接以<a th:href="${resetPasswordLink}">重置账号密码 </a>。</p>
      
    <p> 
      <br />
      <em>感动科技</em>
    </p>
  </body>
</html>