<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>账号激活</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p> 亲<span th:text="${user.userName}">，</span> </p>
    
    <p> 感谢你在感动科技公众号平台注册。请点击链接以<a th:href="${activationLink}">激活你的账号 </a>。</p>
    
    <p> 更多详情，请访问<a href="http://gzh.gandongtech.com">http://gzh.gandongtech.com</a></p>
      
    <p> 
      <br />
      <em>感动科技</em>
    </p>
  </body>
</html>