<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>你的营销账号已开通</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p> <span th:text="${referal.user.userName}">，亲</span> </p>
    
    <p> 你的营销账号已经开通。你可以开始进行营销了。</p>
    <p> 请访问<a th:href="${homePage}">感动科技公众号平台网站</a>了解更多详情。</p>
    <p> 你的营销用户号是[[${referal.referalNum}]]
    <p> 你的营销链接是 <a th:href="${referal.referalLink}" th:text="${referal.referalLink}"> </a>. 你可以把这个链接放在网站上或通过邮件发送。</p>
    <p> 新的用户通过你这个链接访问本平台后，平台会记录下这次访问的客户端。新的用户在一个月内通过同样的客户端注册成为本平台的用户，就成为你的下一级用户。</p>
    <p> 你的营销链接二维码如下。用户可通过手机扫码来访问本平台并注册。</p>
    <img th:src="|cid:${imageResourceName}|" />
      
    <p> 
      <span> 祝你营销愉快　</span> 
      <br>
      <br>
      <span> 感动科技　</span>
    </p>
  </body>
</html>