<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-畅捷通账号详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <!-- The indentation of the starting div layout:fragment="right-content" in masterSlideLayout will be used. -->
            <!-- The indentation of the closing div in the final html is the using the indentation here -->
            <div layout:fragment="right-content">
               <h4 th:text="#{tl.chanjet.account.details}"> </h4>
               <hr>
               <div class="container-fluid">
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-2 nopadding-left" th:text="#{tl.chanjet.user.name}"> </div>
                      <div id="chanjetUserName" class="col-xs-10 nopadding-left editable-field" th:text="${chanjetUser.chanjetUserName}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-2 nopadding-left" th:text="#{tl.chanjet.password}"> </div>
                      <div id="chanjetPassword" class="col-xs-10 nopadding-left editable-field" th:text="${chanjetUser.chanjetPassword}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-2 nopadding-left" th:text="#{tl.chanjet.user.id}"> </div>
                      <div id="chanjetUserId" class="col-xs-10 nopadding-left" th:if="${chanjetUser.chanjetUserId != 0}" th:text="${chanjetUser.chanjetUserId}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-2 nopadding-left" th:text="#{tl.chanjet.cia.token}"> </div>
                      <div id="chanjetCiaToken" class="col-xs-10 nopadding-left" th:text="${chanjetUser.chanjetCiaToken}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-2 nopadding-left" th:text="#{tl.chanjet.cia.token.get.last.time}"> </div>
                      <div id="chanjetCiaTokenGetLastTime" class="col-xs-10 nopadding-left">
                           <span th:if="${chanjetUser.chanjetCiaTokenGetLastTime != null}"
                                 th:text="${#temporals.format(chanjetUser.chanjetCiaTokenGetLastTime, 'yyyy-MM-dd HH:mm:ss')}">
                           </span>
                      </div>
                  </div>
               </div>
                  
               <hr>
               <div class="container-fluid">
                  <div class="row padding-tb-8"> 
                      <button type="button" class="col-xs-3 btn btn-default" id="saveUserNamePassword" th:text="#{tl.chanjet.username.password.save}"></button>
                      <button type="button" class="col-xs-3 btn btn-default margin-left-15" id="bindChanjet">绑定畅捷通用户</button>
                  </div>
               </div>
               
               <br>
               <div class="panel panel-primary">
                    <div class="panel-heading"> 小提示　</div>
                    <div class="panel-body">
                        <ul>
                            <li> 如果你修改了你的畅捷通的用户名和密码，请先保存你的修改。  </li>
                            <li> 绑定畅捷通用户时使用的是你保存在系统里的用户名和密码。 </li>
                            <li> 绑定畅捷通用户可以验证你的用户名和密码是否正确。 绑定成功会获得你在畅捷通的用户标识和一个临时的访问令牌。</li>
                            <li> 访问令牌在你获取畅捷通客户公司的列表和从畅捷通导入报表数据时使用。</li>
                            <li> 如果访问令牌在使用时过期，系统会自动重新获取新的临时令牌。</li>
                        </ul>
                    </div>
                </div>
            </div>
            
<th:block layout:fragment="file-end-script">          
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:inline="javascript"> 
         
          //bootstrap3-editable is X-editable - v1.5.3 
          //The .val() method is primarily used to get the values of form elements such as input, select and textarea.
          function installEditHandler() {
              $('.editable-field').editable({
                     toggle: 'dblclick',
                     mode: 'inline',
                     emptytext: ''
              });
          }
          
          var bindChanjetUrl = "/gzhOps/api/v1/chanjet/bind";
          $("#bindChanjet").click( function () { 
             $.post(bindChanjetUrl,
                 function (data) {
                     console.log(data);
                     var getSuccess = [[#{tl.chanjet.cia.token.get.success}]];
                     alert(getSuccess);
                     window.location.reload();
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 console.log(jqXHR.responseText);
                 alert(jqXHR.responseText);
                 window.location.reload();
             });
          });
          
          $("#saveUserNamePassword").click( function () { 
              var chanjetUserName = $('#chanjetUserName').text().trim();
              var chanjetPassword = $('#chanjetPassword').text().trim();
              var chanjetUser = {
                  chanjetUserName: chanjetUserName,
                  chanjetPassword: chanjetPassword
              }
              var chanjetUserJson = JSON.stringify(chanjetUser, null, ' ');
              console.log(chanjetUserJson);
              var saveChanjetUserUrl = "/gzhOps/api/v1/chanjet/user/save";
              console.log('saveChanjetUserUrl=' + saveChanjetUserUrl);
              $.post(saveChanjetUserUrl,
                  chanjetUserJson, 
                  function (data) {
                      console.log(data);
                      var saveSuccess = [[#{tl.save.success}]];
                      alert(saveSuccess);
                      window.location.reload();
              })
              .fail(function(jqXHR, textStatus, errorThrown) {
                  console.log(jqXHR.responseText);
                  alert(jqXHR.responseText);
              });
           });
          
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          var csrfHeader = {};
          csrfHeader[header] = token;
          $.ajaxSetup({ 
             headers : csrfHeader, 
             contentType : "application/json"
          });
         
          installEditHandler();
    </script>
</th:block>    

</body>
</html>

