<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-畅捷通客户公司详情</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
               <h4 th:text="#{tl.chanjet.client.company.details}"> </h4>
               <hr>
               <div class="container-fluid">
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.name}"> </div>
                      <div id="name" class="col-xs-7 nopadding-left" th:text="${clientCompany.name}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.accId}"> </div>
                      <div id="accId" class="col-xs-7 nopadding-left" th:text="${clientCompany.accId}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.maker}"> </div>
                      <div id="maker" class="col-xs-7 nopadding-left" th:text="${clientCompany.maker}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.userNoteName}"> </div>
                      <div id="userNoteName" class="col-xs-7 nopadding-left" th:text="${clientCompany.userNoteName}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.userId}"> </div>
                      <div id="userId" class="col-xs-7 nopadding-left" th:text="${clientCompany.userId}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.taxNo}"> </div>
                      <div id="taxNo" class="col-xs-7 nopadding-left" th:text="${clientCompany.taxNo}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.bookId}"> </div>
                      <div id="bookId" class="col-xs-7 nopadding-left" th:text="${clientCompany.bookId}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.chanjet.client.company.imported}"> </div>
                      <div id="imported" class="col-xs-7 nopadding-left" th:text="${clientCompany.importedToGzh}"> </div>
                  </div>
               </div>
               
               <hr>
               <button type="button" class="btn btn-default" id="importChanjetClientCompany" th:text="#{tl.chanjet.client.company.import}"></button>
            </div>
            
<th:block layout:fragment="file-end-script">          
    <script th:inline="javascript"> 
        $(function () {
          var chanjetClientCompany = [[${clientCompany}]];
          console.log(JSON.stringify(chanjetClientCompany, null, '  '));
          $("#importChanjetClientCompany").click( function () { 
               var chanjetClientCompanyJson = JSON.stringify(chanjetClientCompany, null, ' ');
               console.log(chanjetClientCompany);
               var chanjetClientCompanySaveUrl = "/gzhOps/api/v1/chanjetClientCompany/save";
               console.log('chanjetClientCompanySaveUrl=' + chanjetClientCompanySaveUrl);
               $.post(chanjetClientCompanySaveUrl,
                   chanjetClientCompanyJson, 
                   function (data) {
                       console.log(data);
                       $('#imported').text("是");
                       var importSuccess = [[#{tl.import.success}]];
                       alert(importSuccess);
                   })
                   .fail(function(jqXHR, textStatus, errorThrown) {
                       console.log(jqXHR.responseText);
                       alert(jqXHR.responseText);
                   });
            });
            
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
               headers : csrfHeader, 
               contentType : "application/json"
            });
        });
    </script>
</th:block>    

</body>
</html>
