<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-畅捷通客户公司列表</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4 class="padding-left-8" th:text="#{tl.chanjet.client.company.list}"></h4>
                <hr>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th> <input type="checkbox" class="check" id="checkAll" th:text="#{tl.select.all}"> </th>
                                <th th:text="#{tl.chanjet.client.company.accId}">accId</th>
                                <th th:text="#{tl.chanjet.client.company.name}">Name</th>
                                <th th:text="#{tl.chanjet.client.company.userNoteName}">userNoteName</th>
                                <th th:text="#{tl.chanjet.client.company.imported}">Imported to GZH System</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${clientCompanyPage.content}">
                                <td> <input type="checkbox" class="check" name="selectedList" th:value=${row.accId}> </td>
                                <td> <a  class="acc-id" th:href="@{/chanjet/clientCompany/details/{accId}(accId=${row.accId})}" th:text="${row.accId}"> AccId </a> </td>
                                <td class="chanjetClientCompanyName" th:text="${row.name}">Name</td>
                                <td th:text="${row.userNoteName}">Name</td>
                                <td class="imported-to-gzh" th:text="${row.importedToGzh}"> Imported to Gzh System</td>
                            </tr>
                        </tbody>
                    </table>
                <button type="button" class="btn btn-default" id="importSelected" th:text="#{tl.chanjet.client.company.import}"></button>
                            
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div> 
                
                <!-- Modal -->
                <div class="modal fade" id="importModal" data-backdrop="static" tabindex="-1" >
                    <div class="modal-dialog modal-lg" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" th:text="#{tl.chanjet.client.company.import.progress}"> </h4>
                            </div>
          
                            <div class="modal-body container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="importProgressBar" class="progress">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <ul id="importProgressMessage" class="import-progress-message-ul nopadding-left"> </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button id="closeImportModal" type="button" class="btn btn-default" data-dismiss="modal" th:text="#{tl.close}"></button>
                            </div>
                        </div>
                    </div>
                    
                </div> 
                <!-- end of modal -->
            </div>
        
<th:block layout:fragment="file-end-script">          
    <div th:replace="commonFragments :: check-all-script"></div>  
    <script th:inline="javascript"> 
        $(function () {
            $(document).ajaxStop(function () {
                console.log("all the ajax requests are finished!");
                $('.modal-title').html("畅捷通客户公司导入完成");
            });
            $('#importModal').on('show.bs.modal', function() {
                $('.modal-title').html("正在导入畅捷通客户公司");
            })

            $("#importSelected").click(function() { 
                $('#importProgressBar').empty();
                $('#importProgressMessage').empty();
                //show the progress bar modal
                $('#importModal').modal('show');
                
                var selectedList = $('input[name="selectedList"]:checked')
                       .map(function() {
                            var $chanjetClientCompanyNameTd = $(this).closest('tr').find('.chanjetClientCompanyName');
                            var chanjetClientCompanyName = $chanjetClientCompanyNameTd.text();
                            return {
                              accId: this.value,
                              name: chanjetClientCompanyName
                            };
                        })
                       .get();
                console.log(selectedList);
                var totalImports = selectedList.length;    
                if (totalImports == 0) {
                   $('.modal-title').html("请选择需要导入的畅捷通客户公司");
                }
                var progressUnit = 100/totalImports + "%";
                
                var chanjetClientCompanyImportUrl = "/gzhOps/api/v1/chanjetClientCompany/import";
                console.log('chanjetClientCompanyImportUrl=' + chanjetClientCompanyImportUrl);
                
                selectedList.forEach(function (selectedItem) {
                    var importChanjetClientCompany = {};
                    importChanjetClientCompany.accId = selectedItem.accId;
                    importChanjetClientCompany.name = selectedItem.name;
                    var importChanjetClientCompanyJson = JSON.stringify(importChanjetClientCompany, null, ' ');

                    $.post(chanjetClientCompanyImportUrl,
                          importChanjetClientCompanyJson, 
                          function (data) {
                              console.log(data);
                              var response = JSON.parse(data);
                              var $accId = $('.acc-id').filter( function (index, element) {
                                  if($(element).text() == response.accId)
                                     return true;
                              });
                              var $tr = $accId.closest('tr');
                              //Update the imported-to-gzh column to yes
                              $tr.find('td.imported-to-gzh').text([[#{tl.yes}]]);
                              //remove the selection tick
                              $tr.find('td input[type="checkbox"]').prop("checked", false);
                              $tr.addClass("highlight-yes");
                              
                              //Update the progress bar
                              var responseMessage = response.name + "，畅捷通账号：" + response.accId + "，导入成功";
                              var responseMessageLi = '<li > <pre class="import-success">' + responseMessage + '</pre> </li>';
                              $('#importProgressMessage').append(responseMessageLi);
                              $('#importProgressMessage').scrollTop($('#importProgressMessage')[0].scrollHeight);
                              
                              var progress = `<div class="progress-bar progress-bar-success" style="width: ${progressUnit}"> </div>`;
                              $('#importProgressBar').append(progress);
                         })
                         .fail(function(jqXHR, textStatus, errorThrown) {
                               console.log(jqXHR.responseText);
                               var response = JSON.parse(jqXHR.responseText);
                               var responseMessage = response.name + "，畅捷通账号：" + response.accId + "，导入失败：" + response.errMsg;
                               var responseMessageLi = '<li > <pre class="import-fail">' + responseMessage + '</pre> </li>';
                               $('#importProgressMessage').append(responseMessageLi);
                               $('#importProgressMessage').scrollTop($('#importProgressMessage')[0].scrollHeight);
                               
                               var progress = `<div class="progress-bar progress-bar-warning" style="width: ${progressUnit}"> </div>`;
                               $('#importProgressBar').append(progress);
                          });
                 }); //End of selectedList.forEach
            }); //End of click handler
            
            var $importedTr =  $('tr:has(td:contains([[#{tl.yes}]]))');
            $importedTr.addClass("highlight-yes");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var csrfHeader = {};
            csrfHeader[header] = token;
            $.ajaxSetup({ 
                headers : csrfHeader, 
                contentType : "application/json"
            });
        });
    </script>
</th:block>    

</body>
</html>
