<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
<head>
    <title>公众号后台管理 - 任务所用时间</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <h4>任务所用时间</h4>
                <hr>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a class="sorted" sd:pagination-sort="taskName">任务名称</a></th>
                            <th><a class="sorted" sd:pagination-sort="startTime">开始时间</a></th>
                            <th><a class="sorted" sd:pagination-sort="endTime">结束时间</a></th>
                            <th><a class="sorted" sd:pagination-sort="duration">用时</a></th>
                            <th><a class="sorted" sd:pagination-sort="itemCount">数量</a></th>
                            <th><a class="sorted" sd:pagination-sort="note">备注</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="taskTime : ${taskTimePage.content}">
                            <td th:text="${taskTime.taskName}">  </td>
                            <td th:text="${#temporals.format(taskTime.startTime, 'yyyy-MM-dd HH:mm:ss')}" >  </td>
                            <td th:text="${#temporals.format(taskTime.endTime, 'yyyy-MM-dd HH:mm:ss')}" >  </td>
                            <td th:text="${taskTime.duration}">  </td>
                            <td th:text="${taskTime.itemCount}">  </td>
                            <td th:text="${taskTime.note}" class="ws-pre-wrap">  </td>
                        </tr>
                    </tbody>
                </table>
               
                <hr>
                <div th:replace="commonFragments :: aligned-links-pagination"></div> 
            </div>
</body>
</html>
