<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorator="masterSidemenuLayout">
<head>
    <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-fileinput/css/fileinput.css')}" rel="stylesheet" type="text/css">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>公众号后台管理-提交问题和意见</title>
</head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content">
                <form class="form-horizontal" th:action="@{/pub/home/feedback/create}" th:object="${feedback}" 
                      enctype="multipart/form-data"  method="post" id="feedback_form">  
                   <fieldset>
                      <!-- Form Name -->
                      <legend th:text="#{tl.feedback.submit}"> </legend>  
                      <!-- Text input-->    
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.title}">title</label>
                          <div class="col-md-10">
                              <input  name="title" placeholder="Title" class="form-control"  type="text" required>
                          </div>
                      </div>
                      
                      <!-- Text input-->
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.description}">Description</label>
                          <div class="col-md-10">
                              <textarea name="description" placeholder="Description" style="width:100%; resize: vertical;"></textarea>
                          </div>
                      </div> 
                      
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.contact.name}">Contact Name</label>
                          <div class="col-md-10">
                              <input name="contact.name" placeholder="Contact Name" class="form-control"  type="text" >
                          </div>
                      </div> 
                      
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.contact.email}">Contact Email</label>
                          <div class="col-md-10">
                              <input name="contact.email" placeholder="Contact Email" class="form-control"  type="text" >
                          </div>
                      </div> 
                      
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.contact.mobile}">Contact Mobile</label>
                          <div class="col-md-10">
                              <input name="contact.mobile" placeholder="Contact Mobile" class="form-control"  type="text" >
                          </div>
                      </div> 
                      
                      <div class="form-group">
                          <label class="col-md-2 control-label" th:text="#{tl.feedback.upload.image}">Upload Image</label>
                          <div class="col-md-10">
                              <input id="imageUpload" class="form-control"  name="file" type="file">
                          </div>
                      </div> 
                      
                      <hr>
                      <div> <input type="submit" th:value="#{tl.submit}" class="btn btn-default"> </div>
                   </fieldset>
                </form>
            </div>
            
<th:block layout:fragment="file-end-script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/bootstrapValidator.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-validator/js/language/zh_CN.js')}"></script>  
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-fileinput/js/fileinput.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap-fileinput/js/locales/zh.js')}"></script>
    <!-- 
       To make bootstrap validator show localized message such as Chinese:
       When calling the plugin, .bootstrapValidator(), just don't set the message option.
       The messages then are taken from the translation package.
       
       fileActionSettings: {
           'indicatorNew': '&nbsp;'
       },
       uploadUrl: '/pub/api/v1/feedback/image',
     -->
    <script th:inline="javascript">
        $(document).ready(function() {
           var token = $("meta[name='_csrf']").attr("content");
           var header = $("meta[name='_csrf_header']").attr("content");
           var csrfHeader = {};
           csrfHeader[header] = token;
           $.ajaxSetup({ 
              headers : csrfHeader, 
           });
          
           $('#imageUpload').fileinput({
                language: 'zh',
                showUpload: false,
       	        maxFileSize: 2000, //KB
        	      allowedFileExtensions: ['jpg', 'png', 'gif']
           });
           
           var validator = $('#feedback_form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                feedbackIcons : {
                   valid : 'glyphicon glyphicon-ok',
                   invalid : 'glyphicon glyphicon-remove',
                   validating : 'glyphicon glyphicon-refresh'
                },
                fields : {
                    "contact.email" : {
                     validators : {
                        notEmpty : {
                        },
                        emailAddress : {
                        }
                     }
                    }
                } // end of fields
           }) //end of bootstrapValidator
        }); // end of document ready
    </script>
</th:block>

</body>
</html>
