<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <link th:href="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/css/bootstrap-editable.css')}" rel="stylesheet" /> 
        <meta th:name="_csrf" th:content="${_csrf.token}"/>
        <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>公众号后台管理-问题和意见详细信息</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content" >
               <h4 th:text="#{tl.feedback.details}"> </h4>
               <hr>
               
               <div class="container-fluid">
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.id}">  </div>
                      <div id="feedbackId" class="col-xs-7 nopadding-left" th:text="${feedback.id}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.title}">  </div>
                      <div class="col-xs-7 nopadding-left" th:text="${feedback.title}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.description}">  </div>
                      <div class="col-xs-7 nopadding-left ws-pre-wrap" th:text="${feedback.description}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.note}">  </div>
                      <div id="feedbackNote" class="col-xs-7 nopadding-left ws-pre-wrap editable-field" 
                           th:text="${feedback.note}" data-type="textarea">
                      </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.reply}">  </div>
                      <div id="feedbackReply" class="col-xs-7 nopadding-left editable-field" data-type="textarea" >
                      </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.image}">  </div>
                      <div class="col-xs-7 nopadding-left">
                           <img th:if="${feedback.imgId != 0}" th:src="@{/pub/image/{id}(id=${feedback.imgId})}" height="360" >
                      </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.submit.time}">  </div>
                      <div class="col-xs-7 nopadding-left" th:text="${#temporals.format(feedback.submitTime, 'yyyy-MM-dd HH:mm:ss')}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.status}">  </div>
                      <div id="feedbackStatus" class="col-xs-7 nopadding-left editable-field" data-type="select" 
                           th:attr="data-original-title=#{tl.feedback.status}, data-value=${feedback.status}"
                           data-source="{'not-started':'未开始', 'investigate': '调查中', 'solved': '问题-已解决', 'closed': '非问题-已关闭'}"
                           th:text="${feedback.status}">
                      </div> 
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.lastStatusChange}">  </div>
                      <div class="col-xs-7 nopadding-left" th:text="${feedback.lastStatusChange}"> </div>
                  </div>
                  <div class="row padding-tb-8"> 
                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.contact.name}">  </div>
                      <div th:if="${feedback.contact != null}" class="col-xs-7 nopadding-left" 
                           th:text="${feedback.contact.name}"> 
                      </div>
                  </div>
                  <div sec:authorize="hasRole('WEBADMIN')">
		                  <div class="row padding-tb-8"> 
		                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.contact.email}">  </div>
		                      <div th:if="${feedback.contact != null}" class="col-xs-7 nopadding-left"
		                           th:text="${feedback.contact.email}"> 
		                      </div>
		                  </div>
		                  <div class="row padding-tb-8"> 
		                      <div class="col-xs-3 nopadding-left" th:text="#{tl.feedback.contact.mobile}">  </div>
		                      <div th:if="${feedback.contact != null}" class="col-xs-7 nopadding-left"
		                           th:text="${feedback.contact.mobile}"> 
		                      </div>
		                  </div>
                  </div>
               </div>

               <hr>
               <button type="button" class="btn btn-default" id="saveFeedback">Save</button>
                
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">          
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/bootstrap3-editable/js/bootstrap-editable.js')}"></script>
    <script th:inline="javascript"> 
         
          //bootstrap3-editable is X-editable - v1.5.3 
          //The .val() method is primarily used to get the values of form elements such as input, select and textarea.
          function installEditHandler() {
              $('.editable-field').editable({
                     toggle: 'dblclick',
                     emptytext: ''
              });
          }
          
          function installReplyOnlyEditHandler() {
              $('#feedbackReply').editable({
                     toggle: 'dblclick',
                     emptytext: ''
              });
          }
          
          $("#saveFeedback").click( function () { 
             var feedbackId = $('#feedbackId').text().trim();
             var feedbackStatus = $('#feedbackStatus').text().trim();
             var feedbackNote = $('#feedbackNote').text().trim();
             var feedbackReply = $('#feedbackReply').text().trim();
             var feedback = {
                 id: feedbackId,
                 status: feedbackStatus,
                 note: feedbackNote,
                 reply: feedbackReply
             }
             var feedbackJson = JSON.stringify(feedback, null, '    ');
             console.log(feedbackJson);
             var saveFeedbackUrl = "/pub/api/v1/feedback";
             console.log('saveFeedbackUrl=' + saveFeedbackUrl);
             $.post(saveFeedbackUrl,
                 feedbackJson, 
                 function (data) {
                     console.log(data);
                     alert(data);
                     window.location.reload();
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 console.log(jqXHR.responseText);
                 alert(jqXHR.responseText);
             });
          });
          
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          var csrfHeader = {};
          csrfHeader[header] = token;
          $.ajaxSetup({ 
             headers : csrfHeader, 
             contentType : "application/json"
          });
         
          console.log("userRoles=" + userRoles);
          var userRoles = [[${userRoles}]];
          if (userRoles != '' && userRoles.includes("ROLE_WEBADMIN")) {
              //webAdmin can edit all fields.
              installEditHandler();
          }
          else {
              //can only edit reply field
              installReplyOnlyEditHandler();
          }
    </script>
</th:block>    

</body>
</html>