<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    xmlns:sd="http://www.thymeleaf.org/spring-data"
    layout:decorator="masterSidemenuLayout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>公众号后台管理-问题和意见</title>
    </head>
<body>
            <!-- This fragment will replace the layout:fragment="right-content" in masterSlideLayout -->
            <div layout:fragment="right-content" >
                 <h4 th:text="#{tl.feedback.list}"> </h4>
                 <hr>
                 <div class="table-responsive">
                    <table id="row-clickable-table" class="table table-striped table-hover">
                        <thead>
                           <tr>
                               <th><a class="sorted" sd:pagination-sort="title" th:text="#{tl.feedback.title}">Title</a></th>
                               <th><a class="sorted" sd:pagination-sort="submitTime" th:text="#{tl.feedback.submit.time}" >submitTime</a></th>
                               <th><a class="sorted" sd:pagination-sort="status" th:text="#{tl.feedback.status}" > status </a></th>
                               <th><a class="sorted" sd:pagination-sort="contact.name" th:text="#{tl.feedback.contact.name}"  > Contact Name </a></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="row : ${feedbackPage.content}" class="clickable-row" th:href="@{/pub/home/feedback/details/{id}(id=${row.id})}" role="button">
                               <td th:text="${row.title}">  </td>
                               <td th:text="${#temporals.format(row.submitTime, 'yyyy-MM-dd HH:mm:ss')}">  </td>
                               <td th:text="${row.status}">  </td>
                               <td th:text="${row.contact.name}"> </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                
                <hr>
                <!-- end of div table-responsive  -->
                <div th:replace="commonFragments :: aligned-links-pagination"></div>  
            </div>
            <!-- end of div layout:fragment="right-content" -->

<th:block layout:fragment="file-end-script">
    <div th:replace="commonFragments :: clickable-row-script"> </div>  
</th:block>    

</body>
</html>